.Bestsellers {
  position: relative;
  z-index: 2;
  background: #fff;
  .bestseller-woman {
    z-index: 10;
  }

  .bestseller-child {
    z-index: 9;
  }

.bestseller-woman, .bestseller-child {
  padding-bottom: 160px;
}

  .bestsellers-item {
    margin-top: -140px;
  }

  .slider-root-categories {
    margin-bottom: 42px;
  }
  .root {
    max-width: 1440px;
    margin: auto;
    padding: 37px 0 158px 0;
    .main-title {
      margin-bottom: 77px;
    }
    @media (max-width: 768px) {
      .main-title {
        margin-bottom: 40px;
      }
    }

  }
  @media (max-width: 1440px) {
    .root {
      padding: 37px 20px 158px 20px;
    }
  }

  .card {
    cursor: default;
    position: relative;

    .card-banner-wrapper {
      position: relative;
    }

    .img {
      height: 336px;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      flex-shrink: 0;
    }

    .info {
      background: #FFFFFF;
      padding: 19px;
    }

    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;
      margin-bottom: 6px;
    }

    .description {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
    }


    .quick-view {
      display: none;
    }

    &:hover {
      .quick-view {
        display: flex;
        justify-content: center;
      }
    }

    .additional-information {
      padding-top: 0;
      .content {
        display: none;
      }

      .text-size-wrapper {
        position: absolute;
        background: #fff;
        padding: 0 19px 12px 19px;
        z-index: 2;
      }

      .images {
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -82px;
        background: #3D3D3C;
        padding: 5px;
        padding-bottom: 0;

        img {

          width: 77.62px;
          height: 116.44px;
          padding-bottom: 4px;
        }
      }

    }

    .additional-information-open {
      .content {
        display: block;

      }
    }

    .additional-information-open-left {
      .content {
        display: block;
        .images {
          width: fit-content;
          left: -82px;
        }
      }

    }
  }

  .card-flex {
    .card:last-child {
      margin-right: 0;
    }
  }

  .card-wrapper {
    margin-bottom: 58px;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  @media (max-width: 1024px) {
    .desktop {
      display: none;
    }

    .mobile {
      display: block;

      .card {
        width: 223px;
        //padding-right: 19px;
      }
    }
  }
}

.Price-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .action {
    display: flex;
    align-items: center;
    height: 12px;
    margin-bottom: 7px;

    .old-price {
      font-size: 12px;
      line-height: 106.8%;
      color: #3D3D3C;
      text-decoration: line-through;
    }

    .new-price {
      font-size: 12px;
      line-height: 106.8%;
      color: #DF2B2B;
      margin-left: 3px;
    }
  }

  .price {
    font-weight: bold;
    font-size: 15px;
    line-height: 106.8%;
    color: #3D3D3C;
  }



}

.Health {
  background: url("../images/icons/health.svg") no-repeat;
  width: 19px;
  height: 18px;
  display: none;
  cursor: pointer;
  transition: 1s;

  &:hover {
    transform: scale(1.5);
  }

  &.Health-open {
    display: block;
  }

}


