@import '../color';
@import '../var';
@import './priceContent';

.Bestsellers {
  position: relative;
  z-index: 2;
  background: #f9f9f9;
  color: #3D3D3C;

  .bestseller-woman, .bestseller-child, .bestseller-man, .bestseller-home, .bestseller-toy {
   padding-bottom: 200px;
    z-index: 1;
  }

  .super-z-index {
    z-index: 9999;
  }

  .bestsellers-item {
    margin-top: -80px;
    @media (max-width: $tablet-breakpoint) {
      margin-top: -135px;
    }
  }

  .slider-root-categories {
    margin-bottom: 42px;
  }

  .root {
    max-width: 1440px;
    margin: auto;
    padding: 0;
    .main-title {
      margin-bottom: 72px;
    }
    @media (max-width: 1440px) {
      padding: 0 20px 0 20px;
    }
    @media (max-width: $tablet-breakpoint) {
      padding: 0 15px 0 15px;
    }
    @media (max-width: 768px) {
      .main-title {
        margin-bottom: 40px;
      }
    }
    @media (max-width: 414px) {
      padding-right: 0;

      .slider-pointer {
        margin-right: 16px;
      }
    }
  }

}






