@import '../color';
@import '../var';
.Price-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px;
  background: $baseColor;
  color: $color-Blocks;

  .action {
    display: flex;
    align-items: center;
    height: 12px;
    margin-bottom: 3px;

    .old-price {
      font-size: 12px;
      line-height: 106.8%;
      text-decoration: line-through;
    }

    .new-price {
      font-size: 12px;
      line-height: 106.8%;
      color: #DF2B2B;
      margin-left: 3px;
    }
  }

  .price {
    font-weight: bold;
    font-size: 15px;
    line-height: 106.8%;

  }

  @media (max-width: $tablet-breakpoint) {
    padding: 11px 12px;
  }
}
