.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-top: 36px;
  @media (max-width: 699px) {
    padding: 30px 15px 0;
  }
  @media (max-width: 756px) {
    padding-bottom: 30px;
  }
  @media (min-width: 700px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }
}