.category-price {
  border-bottom: none !important;
  padding: 0 15px;
  .input-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    .min-price, .max-price {
      background: #FFFFFF;
      border: 1px solid #CDCDCD;
      border-radius: 4px;
      width: 90px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      outline: none;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: #777777;
    }
  }
  .noUi-horizontal {
    margin-top: 17px;
    height: 6px;
    .noUi-handle {
      width: 20px;
      height: 20px;
      right: -17px;
      top: -8px;
      border: 4px solid #D9D9D9;
      border-radius: 100px;
      box-shadow: none;
      outline: none;
      &:before, &:after {
        display: none;
      }
    }
    .noUi-connect {
      background: #D9D9D9;
    }
  }
  .noUi-target {
    background: #F3F2F0;
    border-radius: 0;
    border: none;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
  }
}