@import "../../color";
.checkbox-choice {
  padding: 10px 10px 0 13px;
  color: $color-777777;

  .checkbox {
    margin-right: 9px;
  }

  .line {
    border-bottom: 2px dotted $color-D9D9D9;
    padding-top: 7px;
  }

  .cont {
    display: flex;
    align-items: center;
  }

  .color {
    border: 1px solid $color-C4C4C4;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  .black-and-white {
    border-bottom: 15px solid $color-3D3D3C;
    border-left: 15px solid $color-F9F9F9;
  }

  .beige {
    background: $beige;
  }

  .grey {
    background: $grey;
  }

  .green {
    background: $green;
  }

  .purple {
    background: $purple;
  }

  .mint {
    background: $mint;
  }

  .multi {
    background: $multi;
  }

  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid $color-C4C4C4;
    background-color: $baseColor;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after, {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after {
    left: 4px;
    top: 4px;
    width: 7px;
    height: 3px;
    border-left: 2px solid $color-555555;
    border-bottom: 2px solid $color-555555;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
  }

  input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  &:last-child {
    .line {
      border-bottom: none;
    }
  }
  @media (max-width: 768px) {
    .line {
      padding-top: 10px;
    }
  }
}