.material {
  @import 'category-price';
  .filter-phone {
    display: none;
  }
  .wrapper-material {
    display: flex;
    justify-content: space-between;
    padding: 10.5px 10px 10.5px 13px;
    border-bottom: 1px solid #D9D9D9;
    .title2 {
      font-weight: 600;
      font-size: 13px;
      line-height: 15px;
    }
  }
  .arrow {
    transform: rotate(90deg);
  }
  .hr-material {
    height: 1px;
    background: #BDBDBD;
    border: none;
  }
  .title {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }
  .wrapper-choice {
    display: none;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 1px;
  }
  .open-category-filter {
    .wrapper-choice {
      display: block;
    }
    .arrow {
      transform: rotate(270deg);
    }
  }
  @media (max-width: 1024px) {
    .filter-phone {
      display: block;
    }
  }
  @media (max-width: 768px) {
    .wrapper-material {
      padding: 0 10px 0 13px;
      .title2 {
        font-weight: 600;
        font-size: 13px;
        line-height: 39px;
      }
    }
  }
}