.navCatalog {
  display: flex;
  .nav-text {
    margin-right: 15px;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3C;
    text-decoration: none;
    border-bottom: 0.5px dashed #555555;
    cursor: pointer;
    &:hover {
      color: #AB064E;
      border-bottom: 0.5px dashed #AB064E;
    }
  }
  .active-number {
    color: #AB064E;
    border-bottom: 0.5px dashed #AB064E;
  }
}