.popup {
  margin-top: 7px;
  padding-top: 5px;
  background-color:#F3F2F0;
  position: absolute;
  z-index: 3;
  width: 100%;
  display: none;
  .openPage {
    background-color: #FDFDFD;
    cursor: pointer;
    .select-number {
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: #555555;
      padding: 12px;
    }
    .line {
      border-bottom: 2px dotted #D9D9D9;
    }
    &:last-child {
      .line {
        border-bottom: none;
      }
    }
  }
}