.selected-filters {
  display: flex;
  flex-wrap: wrap;
  .choice-filter {
    display: flex;
    align-items: center;
    background: #F3F2F0;
    border-radius: 30px;
    padding: 5px 5px 5px 10px;
    position: relative;
    bottom: -20px;
    margin-right: 9px;
    margin-bottom: 9px;

    .text {
      font-size: 12px;
      line-height: 14px;
      color: #555555;
    }

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      margin-left: 11px;
      transform: rotate(-45deg);
      color: #FFFFFF;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: #D9D9D9;
    }
  }
}