.sidebar-page-categories {
  position: absolute;
  top: 90px;
  z-index: 3;
  margin-right: 20px;
  width: 243px;
  background: #FFFFFF;
  padding: 10px 10px 36px 10px;
  display: none;
  &.show {
    display: block;
  }
  .points {
    width: 100%;
    .categories {
      max-height: 350px;
    }
  }
  .point {
    padding: 10.5px 10px 10.5px 13px;
    .title {
      margin: 0;
      text-transform: none;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: #555555;
    }
  }
  .categories {
    padding: 2px 10px 1px 13px;
  }
  .choice {
    line-height: 14px;
    padding: 11px 0 9px 0;
    font-size: 13px;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}