.wrapper-sort {
  display: none;
  justify-content: space-between;
  margin-top: 15px;
  .input-selected-item {
    width: 100%;
  }

  .button-popular,
  .button-quantity {
    background-color: #F3F2F0;
    width: 50%;
  }
  .button-popular {
    .test-img {
      background-image: url("../images/icons/popular.svg");
      width: 12px;
      height: 10px;
      background-repeat: no-repeat;
      margin-right: 8px;
    }
    border-radius: 4px 0 0 4px;
    .arrow {
      margin: 0 0 2px 5px;
    }
    .input-selected-item {
      padding: 10px 10px 10px 14px;
    }
    .popup-selected-items {
      margin-top: 0;
      border-top: none;
    }
  }
  .button-quantity {
    margin-left: 1px;
    border-radius: 0 4px 4px 0;
    .input-selected-item {
      padding: 10px 9px 10px 8px;
    }
    .popup-selected-items {
      margin-top: 0;
      border-top: none;
    }
  }
  @media (max-width: 756px) {
    display: flex;
  }
  @media (max-width: 699px) {
    padding: 0 15px;
  }
}