@import "../../color";
.wrapper-title {
  display: flex;
  justify-content: space-between;
  padding: 10.5px 10px 10.5px 13px;
  background: $color-F3F2F0;

  .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  .mobile-title {
    display: none;
  }
  .close-filter {
    display: flex;
    .arrow {
      transform: rotate(180deg);
      margin-right: 2px;
    }
    .close-title {
      font-weight: bold;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: $color-555555;
    }
  }
  .cancel {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .clear {
    margin-right: 7px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
  }
  @media (max-width: 1024px) {
    .title {
      display: none;
    }
    .mobile-title {
      display: block;
    }
  }
  @media (max-width: 768px) {
    padding: 11.5px 10px 11.5px 13px;
  }
}
