.product-description {
  max-width: 528px;
  .first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .wrapper-button-new {
      display: flex;
      align-items: center;
    }
    .wrapper-close-like {
      display: flex;
      align-items: center;
      .close-quick {
        cursor: pointer;
        margin-left: 20px;
        background-image: url("../images/icons/close-quiq-white.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 16px;
        height: 16px;
        &:hover {
          background-image: url("../images/icons/close-quiq.svg");
        }
      }
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 18px;
    margin-bottom: 30px;
  }
  .price {
    .Price-content {
      padding: 0;
    }
  }
}
