.Entry {
  @import './components/entry';
  @import './components/registration';
  @import './components/byForMe';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  //problem z-index
  z-index: 1001;
  overflow: auto;

  .wrap-back {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .back {
      display: none;
      font-size: 15px;
      line-height: 140%;
      text-align: right;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      .btn {
        margin-right: 3px;
      }
      &.block {
        display: block;
      }
    }
  }

  .paranja {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //problem
    z-index: -1;
    background: linear-gradient(90.08deg, rgba(113, 0, 103, 0.95) 3.72%, rgba(207, 9, 62, 0.95) 122.63%);
    cursor: auto;
  }
  .close {
    display: flex;
    justify-content: flex-end;
    .close-icon {
      display: flex;
      padding: 10px 0 10px 10px;
      cursor: pointer;
    }
  }
  .wrap-input {
    display: flex;
    flex-direction: column;
    input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, {color: rgba(255, 255, 255, 0.5); }
    input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
    input[type="text"]::-ms-input-placeholder,input[type="password"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
    input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
    input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="tel"]::placeholder { color: rgba(255, 255, 255, 0.5); }
    input[type="text"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder { color: #FFFFFF; }
    input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder{ color: #FFFFFF; }
    input[type="text"]:focus::-ms-input-placeholder, input[type="password"]:focus::-ms-input-placeholder { color: #FFFFFF; }
    input[type="text"]:focus::-ms-input-placeholder, input[type="password"]:focus::-ms-input-placeholder {color: #FFFFFF; }
    input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder { color: #FFFFFF; }

    input[type="text"],
    input[type="password"],
    input[type="tel"] {
      color: #FFFFFF;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
      margin-top: 18px;
      &:focus {
        border-bottom: 1px dashed #FFFFFF;
      }
    }
    .input-name {
      font-size: 14px;
      line-height: 16px;
      outline: none;
      height: 30px;
      background: transparent;
      width: 100%;
    }
    .wrapper-password {
      display: flex;
      justify-content: space-between;
    }
    .password {
      position: relative;
      .password-control {
        position: absolute;
        top: 21px;
        right: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../images/icons/eyes.svg") center no-repeat;
      }
    }
  }
}