.Entry {
  @import './components/entry';
  @import './components/registration';
  @import './components/byForMe';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  //problem z-index
  z-index: 1001;
  overflow: auto;

  .wrap-back {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .back {
      display: none;
      font-size: 15px;
      line-height: 140%;
      text-align: right;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      .btn {
        background-image: url("../images/icons/arrow-back.svg");
        background-position: center center;
        background-repeat: no-repeat;
        width: 10px;
        height: 21px;
        margin-right: 3px;
      }
      &.block {
        display: flex;
        align-items: center;
      }
      &:hover {
        color: #FFFFFF;
        .btn {
          background-image: url("../images/icons/arrow-back-white.svg");
        }
      }
    }
  }

  .paranja {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //problem
    z-index: -1;
    background: linear-gradient(90.08deg, rgba(113, 0, 103, 0.95) 3.72%, rgba(207, 9, 62, 0.95) 122.63%);
    cursor: auto;
  }
  .popup-phone {
    background: #FFFFFF;
    padding: 10px 10px 10px 16px;
    border-bottom: 1px solid  #AB064E;
    cursor: pointer;
    &:hover {
      background: #F3F2F0;
    }
    &:last-child {
      border-bottom: none;
    }
    .text {
      font-size: 14px;
      line-height: 16px;
      color: #3D3D3C;
    }
  }
  .close {
    display: flex;
    justify-content: flex-end;
    .close-icon {
      display: flex;
      padding: 0 0 0 10px;
      cursor: pointer;
    }
    .btn-close {
      background-image: url("../images/icons/close-regisr.svg");
      background-position: center center;
      background-repeat: no-repeat;
      width: 16px;
      height: 21px;
    }
    &:hover {
      .btn-close {
        background-image: url("../images/icons/close_popup_white.svg");
      }
    }
  }
  .wrap-input {
    display: flex;
    flex-direction: column;

    input::placeholder, {
      color: rgba(255, 255, 255, 0.5);
    }
    input:focus::placeholder, {
      color: #FFFFFF;
    }
    input:-webkit-autofill {
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
      -webkit-text-fill-color: #FFFFFF !important;
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
    }
    input {
      color: #FFFFFF;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
      &:focus {
        border-bottom: 1px dashed #FFFFFF;
      }

    }
    .input-name {
      font-size: 14px;
      line-height: 16px;
      outline: none;
      height: 60px;
      background: transparent;
      width: 100%;
    }
    .wrapper-password {
      display: flex;
      justify-content: space-between;
    }
    .password {
      position: relative;
      .password-control {
        position: absolute;
        top: 21px;
        right: 10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../images/icons/eyes.svg") center no-repeat;
        cursor: pointer;
        &.view {
          background: url("../images/icons/eyes2.svg") center no-repeat;
        }
      }
    }

    .select-organization {
      height: 60px;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
      display: flex;
      align-items: center;
      width: 100%;
      .wrapper-select {
        width: 100%;
        .input-selected-item {
          height: 55px;
          .title {
            color: #fff;
          }
        }
        .popup-selected-items {
          padding: 0;
          border-top: none;
          margin-top: 0;
          .select-item {
            padding: 10px 16px;
            border-bottom: 1px solid #AB064E;
            &:hover {
              background: #F3F2F0;
              color: #555555;
            }
          }
          .select-item:last-child {
            border-bottom: none;
          }
        }
      }
      .wrapper-select-input {
        .input-selected-item {
          margin-bottom: 0;
          align-items: baseline;

          .input-item {
            cursor: pointer;
          }
        }
      }
      .input-name {
        border: none;
      }
      input {
        margin-top: 0;
      }
    }
  }

  .nesessary-filds {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-top: 24px;
    color: #fff;
    opacity: 0;

    &.error-input-text-active {
      opacity: 1;
    }
  }
  @media (max-width: 374px) {
    .wrap-input {
      .input-name {
        height: 30px;
      }
      input {
        margin-top: 18px;
      }
      .select-organization {
        height: 30px;
        display: block;
        margin-top: 18px;
        .wrapper-select {
          .popup-selected-items {
            margin-top: -5px;
          }
          .input-selected-item {
            margin-bottom: 4px;
            height: 30px;
          }
        }
      }
    }
    .nesessary-filds {
      margin-top: 20px;
    }
  }
}