.basketDeliveryBlock {
  @import "inputChoice";
  background: #F3F2F0;
  width: 32.362%;
  height: 346px;
  cursor: pointer;
  transition: .2s;
  border-bottom: 4px solid transparent;

  &:hover {
    background: #FFFFFF;
    border-bottom: 4px solid #AB064E;
  }
  &.active {
    background: #FFFFFF;
    border-bottom: 4px solid #AB064E;
  }
  .wrap {
    padding: 20px;
    font-size: 14px;
    line-height: 17px;
    .title {
      font-weight: bold;
      font-size: 15px;
      line-height: 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .img-title {
        display: flex;
        img {
          padding-right: 15px;
        }
      }
      .arrow {
        background-image: url("../images/icons/arrow5.svg");
        background-repeat: no-repeat;
        background-position: center center;
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
        display: none;
      }
    }
    .text {
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }
  @media (max-width: 1024px) {
    cursor: none;
    .wrap {
      .text {
        margin-bottom: 15px;
        margin-top: 20px;
      }
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
    background: transparent;
    &:hover {
      background: transparent;
      border-bottom: 4px solid transparent;
    }
    &.active {
      background: transparent;
      border-bottom: 4px solid transparent;
    }
    .choice {
      padding: 0 15px;
    }
    .wrap {
      padding: 0;
      margin: 0 -15px;
      .text {
        padding: 0 15px;
      }
      .title {
        background: #F3F2F0;
        padding: 10px 20px;
        .arrow {
          display: block;
        }
      }
      .content {
        display: none;
      }
      &.show-content {
        .content {
          display: block;
        }
        .title {
          .arrow {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}