.delivery-address {
  @import 'leftColumnAddress.scss';
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;

  .address {
    width: 50%;
    margin-right: 8px;
    .left-column-address {
      .content {
        display: none;
      }
      &.show-info {
        .content {
          display: block;
        }
        .title-img {
          .arrow {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
  .right-column {
    width: 49.5%;
    margin-left: 8px;
    .wrap-sum {
      padding: 0 0 0 20px;
      margin-top: 28px;
      .Sum-money-sale {
        .title-sum {
          b {
            background: #f9f9f9;
          }
        }
      }
    }
    .result {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      font-size: 16px;
      line-height: 18px;
      b {
        font-size: 18px;
        margin-left: 8px;
      }
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
    margin: 0 -15px 30px -15px;
    .address {
      width: 100%;
      .title-img {
        margin-bottom: 20px;
      }
      .content {
        margin-bottom: 50px;
      }
    }
    .right-column {
      width: 100%;
      margin-left: 0;
      img {
        display: none;
      }
      .title-img {
        background: transparent;
        padding: 0 20px;
      }
      .wrap-sum {
        padding-right: 20px;
        margin-top: 20px;
      }
      .result {
        padding-right: 20px;
      }
    }
  }
}