.delivery-address {
  @import 'leftColumnAddress.scss';
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;

  .address {
    width: 50%;
    margin-right: 8px;
  }
  .right-column {
    width: 50%;
    margin-left: 8px;
    .wrap-sum {
      padding: 0 0 0 20px;
      margin-top: 28px;
      .Sum-money-sale {
        .title-sum {
          b {
            background: #f9f9f9;
          }
        }
      }
    }
    .result {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      font-size: 16px;
      line-height: 18px;
      b {
        font-size: 18px;
        margin-left: 8px;
      }
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
    margin: 0 -15px;
    .address {
      width: 100%;
    }
    .right-column {
      width: 100%;
      margin-left: 0;
      .wrap-sum {
        padding-right: 20px;
      }
      .result {
        padding-right: 20px;
      }
    }
  }
}