@import "../../../color";
.left-column-address {
  .title-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-wrapper {
      display: flex;
      align-items: center;
    }
    .arrow {
      background-image: url("../images/icons/arrow5.svg");
      background-repeat: no-repeat;
      background-position: center center;
      width: 10px;
      height: 10px;
      transform: rotate(90deg);
      display: none;
    }
  }
  .wrap-close-text {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 23px;
    margin-top: 28px;
    padding-left: 25px;
    padding-right: 20px;
    img {
      width: 10px;
      height: 10px;
      margin-right: 12px;
    }
  }
  .button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    line-height: 17px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 200px;
    height: 36px;
    margin-left: 20px;
    &:hover {
      background: $burgundy;
      color: #FFFFFF;
      border: 1px solid $burgundy;
    }
  }

  @media (max-width: 767px) {
    .title-img {
      .arrow {
        display: block;
      }
    }
  }
}