@import "../../../color";
.Order-done {
  margin-bottom: 140px;
  font-size: 14px;
  line-height: 20px;
  .flex-order-done {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .wrapper-title {
    display: flex;
    align-items: center;
    .title {
      margin-left: 15px;
      .order-done-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
      }
    }
  }
  p {
    width: 640px;
    margin-top: 24px;
    a {
      color: $burgundy;
      white-space: nowrap;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .wrapper-button {
    display: flex;
    margin-top: 30px;
    .main-button,
    .history-order-button {
      border-radius: 4px;
      font-size: 15px;
      line-height: 17px;
      width: 167px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
    }
    .main-button {
      background: #FFFFFF;
      color: #3D3D3C;
      border: 1px solid #CDCDCD;
      margin-right: 5px;
      &:hover {
        border: 1px solid $burgundy;
        color: $burgundy;
      }
    }
    .history-order-button {
      background: $burgundy;
      color: #FFFFFF;
      &:hover {
        background: #C00A5A;
        border: 1px solid #C00A5A;
      }
    }
  }
  .img-order-mobile,
  .img-order {
    background-image: url("../images/icons/call.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-order {
    width: 703px;
    height: 383px;
  }
  .img-order-mobile {
    display: none;
    width: 304px;
    height: 200px;
    margin: 25px auto 0 auto;
    background-position: 50% 0;
  }
  .wrapper-card {
    margin-top: 70px;
    .Common-card {
      .slider-pointer {
        display: none;
      }
      .Bestsellers-header .line {
        width: 16px;
        border-bottom: 2px solid #C8C8C8;
        transform: rotate(90deg);
        margin: 0;
      }
    }
  }
  @media (max-width: 1200px) {
    margin-bottom: 190px;
    .img-order {
      background-image: url("../images/icons/call.png");
      background-position: 25%;
      width: 435px;
      height: 291px;
    }

  }
  @media (max-width: 1000px) {
    .img-order {
      display: none;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 200px;
    .img-order-mobile {
      display: block;
      background-position: -85%;
    }
    p {
      width: 100%;
      padding-right: 15px;
    }
    .wrapper-button {
      justify-content: center;
      .main-button,
      .history-order-button {
        width: 155px;
        height: 40px;
      }
    }
  }
  @media (max-width: 374px) {
    .img-order-mobile {
      background-position: -30%;
    }
    p {
      padding-right: 0;
    }
    .wrapper-button {
      width: 100%;
      justify-content: normal;
      .main-button,
      .history-order-button {
        width: 142px;
        height: 40px;
      }
    }
  }
}