.order-done {
  margin-bottom: 140px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  .wrapper-title {
    display: flex;
    align-items: center;
    .title {
      margin-left: 15px;
      .order-done-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
      }
    }
  }
  p {
    width: 640px;
    margin-top: 24px;
    a {
      color: #AB064E;
      white-space: nowrap;
    }
  }
  .wrapper-button {
    display: flex;
    margin-top: 30px;
    .main-button,
    .history-order-button {
      border-radius: 4px;
      font-size: 15px;
      line-height: 17px;
      width: 167px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
    }
    .main-button {
      background: #FFFFFF;
      color: #3D3D3C;
      border: 1px solid #CDCDCD;
      margin-right: 5px;
      &:hover {
        border: 1px solid #AB064E;
        color: #AB064E;
      }
    }
    .history-order-button {
      background: #AB064E;
      color: #FFFFFF;
      &:hover {
        background: #C00A5A;
        border: 1px solid #C00A5A;
      }
    }
  }
}