.wrapper-result {
  .promo-code {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    background: #F3F2F0;
    margin-bottom: 30px;
    .column {
      width: 49%;
      .result {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        font-size: 16px;
        line-height: 18px;
        b {
          margin-left: 8px;
          font-size: 18px;
          line-height: 18px;
        }
      }
      .wrap-sum {
        width: 100%;
      }
    }
    .line-promo {
      display: flex;
      margin-bottom: 13px;
      font-size: 14px;
      line-height: 15px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      .wrap-button-data {
        .button-personal-data {
          border-radius: 0 4px 4px 0;
        }
      }
      .cut {
        position: absolute;
        top: -8px;
        right: 185px;
      }
      .bonus {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border-bottom: 1px solid #B2B2B2;
        border-top: 1px solid #B2B2B2;
        padding-left: 10px;
        width: 100%;
      }
      .input-promo-cod {
        background: #FFFFFF;
        border: 1px dashed #777777;
        border-right: none;
        padding-left: 10px;
        outline: none;
        width: 100%;
      }
      .sale {
        padding: 9px 0 10px 10px;
      }
      .margin {
        font-weight: bold;
        margin-left: 6px;
      }
    }
  }
  .button-buy-arrange {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
    .continue-button,
    .arrange-button {
      padding: 8.5px 0;
      min-width: 167px;
      cursor: pointer;
      font-size: 15px;
      line-height: 17px;
      border-radius: 4px;
      text-align: center;
    }
    .continue-button {
      color: #3D3D3C;
      background: #FFFFFF;
      border: 1px solid #CDCDCD;
      &:hover {
        color: #AB064E;
        border: 1px solid #AB064E;
      }
    }
    .arrange-button {
      color: #FFFFFF;
      background: #8F8F8F;
      border: 1px solid #8F8F8F;
      outline: none;
      margin-left: 6px;
      &:hover {
        background: #AB064E;
        border: 1px solid #AB064E;
      }
    }
  }
  @media (max-width: 1024px) {
    .promo-code {
      padding: 20px;
      .line-promo {
        .sale {
          padding: 11px 0 12px 10px;
        }
      }
    }
    .button-buy-arrange {
      margin-bottom: 230px;
      .arrange-button {
        background: #AB064E;
        border: 1px solid #AB064E;
      }
      .continue-button,
      .arrange-button {
        padding: 10.5px 0;
        min-width: 167px;
      }
    }
  }
  @media (max-width: 900px) {
    .promo-code {
      .line-promo {
        .wrap-button-data {
          .button-personal-data {
            min-width: 118px;
          }
        }
        .cut {
          right: 40%;
        }
      }
    }
  }
  @media (max-width: 750px) {
    .promo-code {
      padding: 0;
      flex-direction: column;
      background: none;
      .line-promo {
        .wrap-button-data {
          .button-personal-data {
            min-width: 102px;
          }
        }
      }
      .column {
        width: 100%;
        padding: 25px 15px;
        background: #F3F2F0;
        &:first-child {
          margin-bottom: 5px;
        }
      }
    }
    .button-buy-arrange {
      display: flex;
      flex-direction: column;
      align-items: center;
      .continue-button,
      .arrange-button {
        width: 290px;
      }
      .arrange-button {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
  @media (max-width: 370px) {
    .promo-code {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}