@import "../../../color";
.wrapper-pagination {
  display: flex;
  justify-content: center;
  .pagination {
    .wrapper-button-pagination {
      .prev {
        padding: 8.5px 113px 8.5px 13px;
        &:hover {
          background: transparent;
          border: 1px solid $burgundy;
          .text {
            color: $burgundy;
          }
          .arrow-prev {
            background: url("../images/icons/arrow.svg") no-repeat;
          }
        }
      }
      .next {
        padding: 8.5px 13px 8.5px 117px;
        background: $burgundy;
        .text {
          color: $baseColor;
        }
        .arrow-next {
          background: url("../images/icons/arrow-white2.svg") no-repeat;
        }
        &:hover {
          background: $burgundy-hover;
        }
      }
    }
    @media (max-width: 767px) {
      width: 100%;
      .wrapper-button-pagination {
        width: 100%;
        .next,
        .prev {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 0 9px 0;
          width: 100%;
          .arrow-prev,
          .arrow-next {
            display: none;
          }
        }
      }
    }
  }
}