

.Popup-quick {
  .img-slide {
    position: relative;
    overflow: hidden;

    .main-img {
      height: auto;
      width: 100%;
    }

  }

  .test-move:hover {
    border: .5px solid $color-555555;
    .main-img {
      opacity: 0;
    }

    .zoom-img-wrapper {
      opacity: 1;
      cursor: zoom-in;
    }
  }
  .zoom-img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    img {
      position: relative;
      height: 1500px;
      width: auto;
    }
  }


  // zoom
  position: absolute;
  z-index: 6;
  margin: auto;
  width: 100%;
  //(проблема) посмотреть z index
  z-index: 9999;

  @media (max-width: 1024px) {
    display: none;
  }

  .paranja {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @import "components/product-description";
  @import "components/viewPhotosBlockPopup";
  .root {
    position: absolute;
    max-width: 1130px;
    width: 100%;
    margin: 20px auto 0 auto;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .transition-brand .brand a,
  .transition-brand .category {
    font-size: 28px;
    line-height: 31px;
  }
  .transition-brand .category,
  .transition-brand  .category a {
    color: #B2B2B2;
  }
  .main-popup {
    padding: 20px 20px 41px 20px;
    background: #FFFFFF;
    .photos {
      max-width: 546px;
    }
    .wrapper-description {
      .description-module {
        .text {
          padding-bottom: 26px;
        }
      }
    }
    .wrapper-infoTable {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .table-size {
        display: none;
      }
      .result {
        display: none;
      }
      .price {
        display: none;
      }
      .infoTable table #col1 {
        width: 313px;
      }
      .no-title {
        margin-top: 40px;
        .common {
          display: none;
        }
      }
    }
  }
  .wrapper-star-goodStock {
    display: flex;
    margin-bottom: 15px;
    .star-popup {
      margin-right: 10px;
    }
    .goodStock {
      margin: 0;
    }
  }
}
