.Popup-quick-button {
  @import "components/product-description";
  @import "components/viewPhotosBlockPopup";
  @import "components/anotherColorPopup";
  .root {
    max-width: 1000px;
    margin: 20px auto 0 auto;
  }
  .header-popup {
    background: #AB064E;
    padding: 20px;
    .wrapper-header {
      display: flex;
      justify-content: space-between;
      img {
        cursor: pointer;
      }
      .transitionBrand .brand a,
      .transitionBrand .category {
        color: #FFFFFF;
        font-size: 28px;
        line-height: 29px;
      }
      .transitionBrand  .category a {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .main-popup {
    padding: 20px 20px 43px 20px;
    background: #FFFFFF;
    .photos {
      max-width: 470px;
    }
    .wrapper-infoTable {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .result {
        display: none;
      }
      .price {
        display: none;
      }
      .infoTable table #col1 {
        width: 313px;
      }
      .no-title {
        margin-top: 40px;
        .common {
          display: none;
        }
      }
    }
  }
  .wrapper-star-goodStock {
    display: flex;
    align-items: baseline;
    .star-popup {
      margin-right: 10px;
    }
    .goodStock {
      margin: 0;
      .stock {
        color: #FFFFFF;
      }
    }
  }
}