.Popup-quick {
  position: absolute;
  z-index: 6;
  margin: auto;
  width: 100%;
  //(проблема) посмотреть z index
  z-index: 9999;

  @media (max-width: 1024px) {
    display: none;
  }

  .paranja {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }

  @import "components/product-description";
  @import "components/viewPhotosBlockPopup";
  @import "components/anotherColorPopup";
  @import "components/popupSizes";
  .root {
    position: absolute;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto 0 auto;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-popup {
    background: #AB064E;
    padding: 20px;
    .wrapper-header {
      display: flex;
      justify-content: space-between;
      img {
        cursor: pointer;
      }
      .transitionBrand .brand a,
      .transitionBrand .category {
        color: #FFFFFF;
        font-size: 28px;
        line-height: 31px;
      }
      .transitionBrand  .category a {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .main-popup {
    padding: 20px 20px 41px 20px;
    background: #FFFFFF;
    .photos {
      max-width: 470px;
    }
    .wrapper-description {
      .description-module {
        .text {
          padding-bottom: 19px;
        }
      }
    }
    .wrapper-infoTable {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .table-size {
        display: none;
      }
      .result {
        display: none;
      }
      .price {
        display: none;
      }
      .infoTable table #col1 {
        width: 313px;
      }
      .no-title {
        margin-top: 40px;
        .common {
          display: none;
        }
      }
    }
  }
  .wrapper-star-goodStock {
    display: flex;
    .star-popup {
      margin-right: 10px;
    }
    .goodStock {
      margin: 0;
      .stock {
        color: #FFFFFF;
      }
    }
  }
}
