@import "../../color";
.About-returns-page {
  .wrapper-return {
    margin-bottom: 161px;
    font-size: 14px;
    line-height: 17px;
    .wrapper-flex {
      display: flex;
      justify-content: space-between;
      .flex-item {
        padding: 22px;
        background: #FFFFFF;
        width: 32.5%;
        a {
          color: $color-link-information;
          &:hover {
            text-decoration: none;
          }
        }
        .title {
          display: flex;
          font-weight: bold;
          font-size: 15px;
          padding-bottom: 22px;
          border-bottom: 2px solid #AB064E;
          img {
            margin-right: 15px;
          }
        }
        .box {
          padding: 22px 0 68px 0;
          width: 345px;
          .wrapper-exel {
            margin-bottom: 33px;
            .exel {
              display: flex;
              align-items: flex-start;
              text-decoration-line: underline;
              color: #777777;
              margin-bottom: 20px;
              cursor: pointer;
              &:hover {
                text-decoration: none;
              }
              &:last-child {
                margin-bottom: 0;
              }
              img {
                margin-right: 16px;
              }
            }
          }
          .box-3 {
            width: 266px;
          }
          .grey {
            color: #777777;
          }
          .no-wrap {
            white-space: nowrap;
          }
          .color {
            color: $color-link-information;
          }
          .box-2-text {
            margin-top: 20px;
            margin-bottom: 50px;
            width: 300px;
          }
          .statement-email {
            width: 273px;
          }
        }
      }
    }
    @media (max-width: 1300px) {
      margin-bottom: 320px;
      .wrapper-flex {
        .flex-item {
          height: 481px;
          .box {
            width: 286px;
            .box-3 {
              width: 100%;
            }
            .box-2-text {
              width: 100%;
            }
          }
        }
      }
    }
    @media (max-width: 1023px) {
      margin-bottom: 180px;
      .wrapper-flex {
        .flex-item {
          height: 430px;
          .title {
            div {
              width: 110px;
            }
          }
          .box {
            width: 200px;
            .box-2-text {
              margin-bottom: 35px;
            }
          }
        }
      }
    }
    @media (max-width: 767px) {
      .wrapper-flex {
        flex-direction: column;
        .flex-item {
          height: 100%;
          width: 100%;
          margin-bottom: 30px;
          position: relative;
          .title {
            div {
              width: 100%;
            }
          }
          .box {
            width: 100%;
            padding: 22px 0 30px 0;
            .box-2-text {
              margin-bottom: 35px;
            }
            .statement-email {
              width: 100%;
            }
          }
          &:after {
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-top: 20px solid #FFFFFF;
            position:absolute;
            bottom: -40px;;
            right: 45%;
            content:'';
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}