@import "../../color";
@import "../../var";

.desktop-header {
  .menu {
    display: flex;
    list-style-type: none;
    margin-right: 49px;
    flex-wrap: nowrap;
    white-space: nowrap;

    & > li {
      margin-right: 26px;

      &:last-child {
        margin-right: 0;
      }

      & > a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: $baseColor;
        letter-spacing: 0.07em;
        transition: 0.2s ease;

        &:after {
          display: block;
          content: "";
          background-color: $baseColor;
          height: 1px;
          width: 0;
          left: 50%;
          position: absolute;
          -webkit-transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
        }

        &:hover:after,
        &:focus:after {
          width: 100%;
        }
      }
    }
  }

  .input-header {
    width: 100%;
    max-width: 490px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    display: flex;
    align-items: center;

    .delete {
      display: none;
    }

    &:hover {
      background: $baseColor;
      cursor: pointer;
    }

    &.input-header-active {
      background: $baseColor;
    }
  }

  input {
    outline: none;
    border: none;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  input::-webkit-input-placeholder {
    color: #3D3D3C;
  }

  input::-moz-placeholder {
    color: #3D3D3C;
  }

  .search-desktop {
    width: 100%;
    padding: 10px 2.8em 11px 17px;
    letter-spacing: 0.07em;
    font-size: 13px;
    line-height: 15px;
    background: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  .search-black {
    width: 30px;
    position: relative;
    margin-right: 3px;
  }

  .basket-price {
    background: #E7003E;
    width: 100%;
    font-weight: bold;
    font-size: 11px;
    line-height: 106.8%;
    text-align: center;
  }
  .favorite-header {
    &:hover {
      .favorite-dropdown {
        display: block;
      }
    }
    .favorite-dropdown {
      right: -3%;
      padding: 16px 15px 50px 15px;
    }
  }
  .buy {
    min-width: 77px;
    cursor: pointer;

    .content {
      position: absolute;
      padding: 18px;
      top: 0;
      right: 0;
      background: #E7003E;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      z-index: 2;
      text-decoration: none;
      .basket-price {
        width: 50px;
      }
    }
    &:hover {
      .basket-dropdown {
        display: block;
      }
    }
    .basket-dropdown {
      right: -8%;
      padding: 15px 15px 50px 15px;
      .basket-title {
        font-size: 15px;
        line-height: 15px;
        color: #3D3D3C;
        padding-bottom: 15px;
        border-bottom: 1px dashed #D9D9D9;
        margin-bottom: 10px;
        .box {
          font-weight: bold;
        }
        .number {
          color: #555555;
          margin-left: 6px;
        }
      }
    }
  }
  .basket-dropdown,
  .favorite-dropdown {
    position: absolute;
    z-index: 6;
    top: 85%;
    background: #FFFFFF;
    width: 320px;
    cursor: default;
    display: none;
    &:after {
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom: 10px solid #FFFFFF;
      position: absolute;
      top: -20px;
      right: 45%;
      content: "";
    }
    ul {
      overflow-y: scroll;
      max-height: 420px;
      li {
        cursor: pointer;
        padding-bottom: 10px;
        margin-right: 6px;
        border-bottom: 1px dashed #D9D9D9;
        margin-bottom: 10px;
        .wrapper-product {
          display: flex;
          align-items: flex-start;
          width: 100%;
          .wrapper-img {
            position: relative;
            .Card-banner {
              width: 64px;
              &.banner-bottom {
                left: 0;
                bottom: 3px;
              }
            }
          }
          .img-product-wrapper-info {
            display: flex;
          }
          .img-product {
            width: 80px;
            height: 120px;
            margin-right: 10px;
          }
          .wrapper-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #3D3D3C;
            height: 120px;
            .name-brand {
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
              text-transform: capitalize;
            }
            .name-product {
              font-size: 12px;
              line-height: 14px;
              margin-bottom: 8px;
            }
            .infoProduct {
              margin-bottom: 0;
              .infoType {
                font-size: 12px;
                line-height: 14px;
                font-weight: normal;
              }
            }
          }
          .Price-content {
            .action {
              margin: 0;
              .old-price,
              .new-price {
                font-size: 12px;
                line-height: 13px;
              }
            }
            .sale-price {
              margin-top: 4px;
              .price {
                font-size: 15px;
                line-height: 16px;
              }
              .ButtonSale {
                font-size: 11px;
                line-height: 14px;
                padding: 0 4px;
              }
            }
          }
        }
      }
    }
    .basket-dropdown-total {
      text-align: center;
      padding-top: 55px;
      a {
        letter-spacing: 0.05em;
        color: #3D3D3C;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .basket {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 19px;
  }
  @media (max-width: 1700px) {
    .buy {
      .basket-dropdown {
        right: 0;
        &:after {
          right: 9%;
        }
      }
    }
    .favorite-header {
      .favorite-dropdown {
        right: 6%;
        &:after {
          right: 5%;
        }
      }
    }
  }
  @media (max-width: $width-1280) {
    .menu > li {
      margin-right: 10px;
    }
  }
  @media (max-width: $tablet-breakpoint) {
    .search-desktop {
      display: none;
    }
    .basket-price {
      display: none;
    }
    .basket {
      width: 17px;
      height: 17px;
      margin-bottom: 0;
    }
    .search-black {
      display: none;
    }
    .input-header {
      display: none;
    }
    .buy {
      display: none;
    }
  }
}
