@import "../../color";
@import "../../var";

.bottomHeader {
  @import "bottomHeaderDesktop";
  @import "bottomHeaderMobile";
  font-size: 13px;
  color: $baseColor;
  background: $bg-bottomHeader;

  .mobile-header {
    display: none;
  }
  .desktop-header {
    display: block;
  }
  .content-header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
  }
  .wrapper-b {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .burger-logo-wrapper {
    display: flex;
    align-items: center;
  }
  .burger-menu {
    margin-right: 30px;
    margin-bottom: 3px;
    cursor: pointer;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo-img {
    margin-right: 53px;
    height: 100%;
  }
  @media (max-width: $width-1280) {
    .burger-menu {
      margin-right: 10px;
    }
    .logo-img {
      margin-right: 30px;
    }
  }
  @media (max-width: $tablet-breakpoint) {
    .mobile-header {
      display: block;
    }
    .desktop-header {
      display: none;
    }
    .content-header nav {
      display: none;
    }
    .content-header {
      display: flex;
      justify-content: space-between;
      padding: 9px 0;
    }
    .wrapper-b {
      padding: 0 0 0 20px;
    }
    .logo-img {
      height: 27px;
      margin-right: 0;
    }
  }
}


