.info-mobail {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #F3F2F0;
  display: none;

  &.info-mobail-active-js {
    display: block;
  }

  .points {
    color: #555555;
    background: #F3F2F0;
    width: 100%;

    .point {
      padding: 15px;
    }
    .title {
      margin: 0;
    }
    .categories {
      padding: 0 15px 40px 15px;
    }
    .choice {
      padding: 0;
    }
  }
}
