.info-mobail {

  .points {
    color: #555555;

    background: #F3F2F0;
    .point {
      padding: 15px;
    }
    .title {
      margin: 0;
    }
    .categories {
      padding: 0 15px 40px 15px;
    }
    .choice {
      padding: 0;
    }
  }
}