@import '../../color';
// переместить потом

.mobile-search-wrapper {
  position: relative;
  width: 100%;
}

.Mobile-search {
  width: 100%;
  position: absolute;
  background-color: $bg-search;
  padding: 0 15px;
  display: none;
  z-index: 2;

  .s {
    display: flex;
    justify-content: space-between;
  }

  .search-mobail {
    padding: 10px 0 11px 17px;
    letter-spacing: 0.07em;
    font-size: 13px;
    line-height: 15px;
    width: 100%;
    border: none;
    outline: none;
  }
  .search-black-mobail {
    width: 30px;
    vertical-align: middle;
  }
  .card-search {
    display: flex;
    padding: 10px 42px 10px 1px;
  }

  .watch-all-result {
    width: 100%;
    display: inline-block;
    padding: 49px 0 58px 0;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #3D3D3C;
  }

}
