.points {
  padding-top: 26px;
  width: 350px;
  min-width: 220px;
  background: $bg-sidebar;
  height: 100vh;
  overflow-y: auto;

  .point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px 9px 16px;
    background: $bg-sidebar;
    cursor: pointer;
  }

  .title {
    text-transform: uppercase;
    margin-left: 13px;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;

    &:hover {
      color: #AB064E;
    }
  }

  .sidebar-img {
    width: 28px;
    height: 28px;
  }

  .name {
    display: flex;
    align-items: center;
  }

  .plus {
    display: block;
    width: 10px;
    height: 10px;
    position: relative;

    span:after {
      content: '';
      transform: rotate(-90deg);
    }

    span, span:after {
      display: block;
      width: 2px;
      height: 10px;
      background: $sidebar-color;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -1px;
      margin-top: -5px;
      transition: all 0.4s linear;
    }
  }

  .line {
    border-bottom: 2px dotted #D9D9D9;
  }

  .choice {
    padding: 0 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.05em;

    .arrow {
      background: url("../images/icons/arrow2.svg") no-repeat;

      width: 10px;
      height: 10px;
      display: none;
    }

    &:hover {
      color: #AB064E;
      cursor: pointer;

      .arrow {
        display: block;
      }
    }
  }


  @media (max-width: 768px) {
    .points {
      width: 100%;
    }
  }
}