@import "../../color";
@import "../../var";

.Show-registry-user-data-view {
  border-top: 1px solid #AB4274;
  padding: 29px 8px 22px 9px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: linear-gradient(90.08deg, #710067 3.72%, #E64747 122.63%);
  .box {
    max-width: 60px;
    width: 100%;
    cursor: pointer;
  }
  .icon {
    margin-bottom: 17px;
  }
  .text {
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: $baseColor;

    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 360px) {
    .text {
      font-size: 9px;
      line-height: 10px;
    }
  }
}