@import '../../color';

.Sidebar {
  position: relative;
  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0 , 0, 0, .4);
    z-index: 2;
    display: none;
  }

  .button-close {
    position: relative;
    min-width: 50px;
    top: 10px;
    left: 20px;
    background-image: url("../images/icons/cancel.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .menu {
    z-index: 3;
    color: $sidebar-color;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .wrapper-sidebar {
      display: flex;
    }
  }

  .extra {
    background: $baseColor;
  }

  .points {
    padding-top: 26px;
    width: 350px;
    min-width: 220px;
    background: $bg-sidebar;
    height: 100vh;
    overflow-y: auto;

    .point {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 32px 9px 16px;
      background: $bg-sidebar;
      cursor: pointer;
    }
  }


  &.Sidebar-open-js {
    .background {
      display: block;
    }

    .menu {
      display: block;
    }
  }
  
  @media (max-width: 768px) {
    .menu {
      position: absolute;
    }

    .button-close {
      display: none;
    }

    .points {
      width: 100%;
    }

    .background {
      height: 0;
    }
  }
}







.header-line {
  border: none;
  height: 2px;
  background: $baseColor;
}

.menu.show {
  display: block;
}

.common {
  background: $bg-sidebar;
}




.categories {
  padding: 0 32px 26px 32px;
  background: $baseColor;
  display: none;
}
.categories.open {
  display: block;
}
.name {
  display: flex;
  align-items: center;
}
.sidebar-img {
  width: 28px;
  height: 28px;
}
.title {
  text-transform: uppercase;
  margin-left: 13px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;

  &:hover {
    color: #AB064E;
  }
}

.plus {
  display: block;
  width: 10px;
  height: 10px;
  position: relative;
}
.plus span, .plus span:after {
  display: block;
  width: 2px;
  height: 10px;
  background: $sidebar-color;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1px;
  margin-top: -5px;
  transition: all 0.4s linear;
}
.plus span:after {
  content: '';
  transform: rotate(-90deg);
}
.plus.minus span {
  transform: rotate(-90deg);
}
.plus.minus span:after {
  background: none;
}
.line {
  border-bottom: 1px dashed #D9D9D9;
}
.choice {
  padding: 0 0 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.05em;

  .arrow {
    background: url("../images/icons/arrow2.svg") no-repeat;

    width: 10px;
    height: 10px;
    display: none;
  }

  &:hover {
    color: #AB064E;
    cursor: pointer;

    .arrow {
      display: block;
    }
  }
}
.nav {
  display: none;
}
@media (max-width: 1024px) {
  .menu {
    top: 85px;
  }



  .wrapper-sidebar {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .menu {
    top: 47px;
  }

  .wrapper-sidebar {
    width: 100%;
    padding: 0;
  }

  .extra {
    display: none;
  }
}








