@import '../../color';

.Sidebar {
  position: relative;
  .points-wrapper {
    .points {
      height: 100vh;
      .categories {
        .category {
          &:hover {
            .extra {
              display: block;
            }
          }
        }
      }
    }
  }
  &.Sidebar-open-js {
    .background {
      display: block;
    }
    .menu {
      display: block;
    }
  }
  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0 , 0, 0, .4);
    z-index: 2;
    display: none;
  }
  .button-close {
    position: relative;
    min-width: 50px;
    top: 10px;
    left: 20px;
    background-image: url("../images/icons/cancel.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  .menu {
    z-index: 3;
    color: $sidebar-color;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .wrapper-sidebar {
      display: flex;
    }
  }
  .extra {
    background: $baseColor;
    max-width: 800px;
    width: 100%;
    //display: none;
  }
  .extra-mobile {
    background: $baseColor;
    overflow-y: auto;
    position: absolute;
    height: 100vh;
    width: 0%;
    right: 0;
    &.show-extra-mobile {
      width: 100%;
      animation: width 0.5s;
    }
    &.show-extra-cancel {
      animation: cancel 0.5s;
    }
    @keyframes width {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
    @keyframes cancel {
      0% {
        width: 100%;
      }
      100% {
        width: 0;
      }
    }
  }
  @media (max-width: 1024px) {
    .wrapper-sidebar {
      width: 100%;
      padding: 0;
    }
  }
  @media (max-width: 768px) {
    .points-wrapper {
      width: 100%;
    }
    .menu {
      position: absolute;
      top: 0;
    }
    .button-close {
      display: none;
    }
    .background {
      height: 0;
    }
    .wrapper-sidebar {
      width: 100%;
      padding: 0;
    }
    .extra {
      display: none;
    }
  }
}























