@import '../../color';
@import "../../var";

.topHeader {
  padding: 12.5px 0;
  font-size: 12px;
  line-height: 14px;
  color: $baseColor;
  background: $bg-topHeader;
}
.topHeader nav > a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s ease;
}
.topHeader nav > a:hover {
  color: $baseColor;
}
.topHeader nav > span > a {
  text-decoration: none;
  color: $baseColor;
  font-size: 13px;
  line-height: 15px;
}
.span {
  letter-spacing: 0.05em;
  font-weight: bold;
}
.lk_link {
  margin-left: 7px;
}
.lk_link2 {
  margin-left: 4px;
}

.info {
  margin-left: 17px;
  text-decoration: none;
  position: relative;
  .wrapper-tooltip {
    position: absolute;
    left: 0;
    //top: 20px;
    padding-top: 4px;
    display: none;
    z-index: 10;
    .tooltip {
      background: #FFFFFF;
      border: 1px solid #EAE7E1;
      color: black;
      padding: 11px 17px 0 15px;
      width: 199px;
      .item {
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0.05em;
        color: #555555;
        padding-top: 11px;
        padding-bottom: 11px;
        border-bottom: 1px dotted #D9D9D9;

        &:hover {
          color: #AB064E;
        }
        &:last-child {
          border-bottom: none;
        }
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  &:hover {
    .wrapper-tooltip {
       display: block;
    }
  }
}
.wrapper {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}
.content {
  display: flex;
  justify-content: space-between;
}


@media (max-width: $tablet-breakpoint) {
  .topHeader {
    display: none;
  }
}