@import '../../color';
@import "../../var";

.topHeader {
  padding: 12.5px 0;
  font-size: 12px;
  line-height: 14px;
  color: $baseColor;
  background-image: url("../images/header/2600-40-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  nav {
    display: flex;
  }
}
.topHeader nav > a {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s ease;
}
.topHeader nav > a:hover {
  color: $baseColor;
}
.topHeader nav > span > a {
  text-decoration: none;
  color: $baseColor;
  font-size: 13px;
  line-height: 15px;
}
.span {
  letter-spacing: 0.05em;
  font-weight: bold;
}
.lk_link {
  margin-left: 7px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
  &:hover {
    color: $baseColor;
  }
}
.show-callBack {
  .BackCall {
    display: block;
  }
}

.show-entry {
  .Popup {
    display: block;
  }
}
.show-restore {
  .restorePassword {
    display: block;
  }
}
.show-register {
  .Registration {
    display: block;
  }
}

.lk_link2 {
  margin-left: 4px;
}

.info {
  margin-left: 17px;
  cursor: default;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  .wrapper-tooltip {
    position: absolute;
    left: 0;
    display: none;
    z-index: 10;
    border-top: 5px solid $burgundy;
    margin-top: 3px;
    .tooltip {
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      color: black;
      width: 199px;
      border-left: 1px solid #EAE7E1;
      border-right: 1px solid #EAE7E1;
      border-bottom: 1px solid #EAE7E1;
      .item {
        cursor: pointer;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0.05em;
        color: #555555;
        text-decoration: none;
        padding: 11px 17px 11px 15px;
        &:hover {
          background: #F3F2F0;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .tooltip-line {
        border-bottom: 1px dotted #D9D9D9;
        margin: 0 10px;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  &:hover {
    color: $baseColor;
    .wrapper-tooltip {
       display: block;
    }
  }
}
.wrapper {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}
.content {
  display: flex;
  justify-content: space-between;
}


@media (max-width: $tablet-breakpoint) {
  .topHeader {
    display: none;
  }
}