.Personal-area {
  @import './components/buttonData';
  @import './components/navigation';
  @import './components/personalData';
  @import 'basketTemplate/basket';
  .wrapper-personal-area {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    .header-personal-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
      .title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
      }
      .exit {
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #AB064E;
        cursor: pointer;
      }
    }
  }
  @media (max-width: 1024px) {
    .wrapper-personal-area {
      padding: 0 15px;
    }
    .transitionWrapper {
      padding-left: 0;
    }
  }
}