.Basket,
.Personal-Data,
.Discount-and-bonuses,
.Chosen-page,
.Orders-status {
  @import '../common/buttonData';

  .wrapper-personal-area {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    .name-user {
      display: none;
      font-size: 11px;
      line-height: 17px;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
    }
    .header-personal-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
      .title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
      }
      .exit {
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #AB064E;
        cursor: pointer;
      }
    }
    .wrapper-navigation-personal-area {
      margin-bottom: 20px;
      .navigation-mobile {
        display: none;
      }
    }
  }

  @media (max-width: 1024px) {
    .wrapper-personal-area {
      padding: 0 15px;
      .name-user {
        display: block;
      }
      .header-personal-area {
        margin-bottom: 0;
      }
    }
    .transitionWrapper {
      padding-left: 0;
    }
  }
  @media (max-width: 767px) {
    .wrapper-navigation-personal-area {
      .navigation-mobile {
        display: flex;
      }
    }
    .wrapper-personal-area {
      .wrapper-navigation-personal-area {
        .navigation-mobile {
          display: flex;
        }
      }
    }
  }
}


@import 'basketTemplate/basketCommon';
@import './personalData/personalData';
@import 'discountAndBonuses/discountAndBonuses';
@import 'chosenPage/chosenPage';
@import 'ordersStatus/ordersStatus';

