.CategoriesVideo {
  padding-bottom: 60px;
  .wrapper-main {
    padding: 0 20px;
  }
  .newPage {
    margin-left: 243px;
  }
  .banner-video {

    .video {
      height: auto;
      width: 100%;
      padding-bottom: 60px;
    }
  }
}
