@import '../color';
@import '../var';

.Main {
  @import './components/banner';
  @import './components/popularBrand';
  @import './components/sharesBlock';
  @import './components/menu';
  @import './components/bestsellers';
}