@import '../color';
@import '../var';


.CategoriesChildren {
@import "./components/sidebar";
@import "./components/iconMobileChildren";

  .bestseller-children {
    padding-bottom: 112px;
  }
  .wrap-ImgChildren {
    display: none;
  }
  .wrap-card3 {
    padding-top: 60px;
  }
  @media (max-width: $tablet-breakpoint) {
    .wrap-ImgChildren {
      display: block;
    }
    .bestseller-children {
      padding-bottom: 88px;
    }
  }
  @media (max-width: $width-414) {
    .wrap-ImgChildren {
      padding: 0 15px;
    }
  }
}










//common
//общие стили для детей и женщин

.content-page-categories {
  margin-left: 243px;
}
.wrap-card {
  padding-top: 60px;
  padding-bottom: 60px;
}
.wrap-card-2 {
  padding-bottom: 23px;
}
.wrap-partnerOffers {

  padding-bottom: 44px;
}
.wrapper-categories {
  padding: 0 15px;
  background: #F9F9F9;
  max-width: 1480px;
  margin: 0 auto;
  overflow: hidden;
}

.banner-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 512px;

  .video {
    width: 100%;
  }
}
@media (max-width: $tablet-breakpoint) {
  .banner-video {
    max-height: 426px;
    padding: 0 15px;
  }
  .wrapper-categories {
    padding: 0;
  }
  .wrap-card {
    padding: 60px 15px;
  }
  .wrap-card-2 {
    padding: 0 15px;
  }
  .wrap-partnerOffers {
    padding: 0 15px;
  }
  //.sidebar-page-categories {
  //  display: none;
  //}
  .content-page-categories {
    margin-left: 0;
  }
  .wrap-card-2 {
    padding-bottom: 102px;
  }
  .wrap-partnerOffers {
    padding-bottom: 47px;
  }
}
@media (max-width: $mobile-breakpoint) {
  .banner-video {
    max-height: 317px;
  }
}
@media (max-width: $width-414) {
  .banner-video {
    max-height: 177px;
    padding: 0;
  }
  .wrapper-categories {
    padding: 0;
  }
  .wrap-card {
    padding: 50px 0 50px 0;
  }
  .wrap-card-2 {
    padding: 0 15px 100px 15px;
  }
  .wrap-partnerOffers {
    padding: 0 15px 44px 15px;
  }
}
@media (max-width: $portrait-breakpoint) {
  .banner-video {
    max-height: 160px;
  }
}
@media (max-width: $with-320) {
  .banner-video {
    max-height: 146px;
  }
}