.CategoriesChildren {
@import "./components/sidebar";
@import "./components/iconMobileChildren";

  .wrapper-categories {
    padding: 0 15px;
    background: #F9F9F9;
    max-width: 1480px;
    margin: 0 auto;
    overflow: hidden;

    .flex-wrap {

    }
  }

  .bestseller-children {
    padding-bottom: 112px;
  }
  .wrap-ImgChildren {
    display: none;
  }
  @media (max-width: 1024px) {
    .wrap-ImgChildren {
      display: block;
    }

    .wrapper-categories .sidebar-page-categoriesChildren {
      display: none;
    }
  }
}












.content-page-categories {
  margin-left: 243px;
}
.wrap-card {
  padding-top: 60px;
}
.wrap-card-2 {
  padding-bottom: 23px;
}
.wrap-partnerOffers {
  margin-top: -50px;
  padding-bottom: 44px;
}
.banner {

}
.banner-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 512px;


  .video {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .wrapper-categories {
    padding: 0 15px;
  }
  .sidebar-page-categories {
    display: none;
  }
  .content-page-categories {
    margin-left: 0;
  }
  .wrap-card-2 {
    padding-bottom: 102px;
  }
  .wrap-partnerOffers {
    padding-bottom: 42px;
  }
}