.Catalog {
  @import 'components/pagination';
  @import 'components/navCatalog';
  @import 'components/filter';
  @import 'components/filter-choice';
  .wrapper-catalog {
    padding: 0 20px 10000px 20px;
  }

  .flex-wrap {
    display: flex;
  }
  .wrapper-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  .wrapper-filter {
    margin-top: 36px;
  }
  .titleWrapper {
    padding: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .pages {
    display: flex;
    align-items: center;
    .select {
      display: flex;
      cursor: pointer;
    }
    .arrow {
      transform: rotate(90deg);
      margin: 0 5px;
    }
  }
  .sidebar-page-categories {
    position: relative;
    margin-right: 20px;
    padding: 0;
    width: 223px;
    height: 100%;
    .points {
      width: 100%;
    }
    .point {
      padding: 10.5px 10px 10.5px 13px;
      .title {
        margin: 0;
        text-transform: none;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #555555;
      }
    }
    .categories {
      padding: 2px 10px 1px 13px;
    }
    .choice {
      line-height: 14px;
      padding: 11px 0 9px 0;
      font-size: 13px;
    }
  }

  .cards-wrapper {
    width: 100%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1vw;
    padding-top: 36px;
  }


  .selected-filters {
    display: flex;
    flex-wrap: wrap;
    .choice-filter {
      display: flex;
      align-items: center;
      background: #F3F2F0;
      border-radius: 30px;
      padding: 5px 5px 5px 10px;
      position: relative;
      bottom: -20px;
      margin-right: 9px;
      margin-bottom: 9px;

      .text {
        font-size: 12px;
        line-height: 14px;
        color: #555555;
      }

      .close {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-left: 11px;
        transform: rotate(-45deg);
        color: #FFFFFF;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #D9D9D9;
      }
    }
  }

  @media (max-width: 1210px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 1454px) {
    .cards {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (min-width: 1920px) {
    .cards {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (min-width: 2100px) {
    .cards {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (min-width: 2220px) {
    .cards {
      grid-template-columns: repeat(7, 1fr);
    }
  }
}