.Catalog {
  @import 'components/titleWrapper';
  @import 'components/transitionWrapper';
  @import 'components/sidebar-page-categories';
  @import 'components/pagination';
  @import 'components/number';
  @import 'components/navCatalog';
  @import 'components/popup';
  @import 'components/filter';
  @import 'components/filter-choice';
  @import 'components/selected-filters';
  @import 'components/wrapper-sort';
  @import 'components/cards';
  @import 'components/wrap-card';
  .wrapper-catalog {
    padding: 0 20px 133px 20px;
  }
  .wrapper-number {
    display: none;
    .number {
      justify-content: space-between;
    }
  }
  .flex-wrap {
    display: flex;
  }
  .bottom-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .wrapper-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  .wrapper-filter {
    margin-top: 36px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .common {
    position: relative;
  }
  .show-number-of-cards-page {
    .pages {
      .arrow {
        transform: rotate(270deg);
      }
    }
    .popup {
      display: block;
    }
  }
  .show-filter-by {
    .pages {
      .arrow {
        transform: rotate(270deg);
      }
    }
    .popup {
      display: block;
    }
  }
  .cards-wrapper {
    width: 100%;
  }
  @media (max-width: 1024px) {
    .wrapper-catalog {
      padding: 0 15px 220px 15px;
    }
    .wrapper-filter {
      margin-top: 0;
    }
    .mobile-filter {
      position: fixed;
      z-index: 6;
      background: #fff;
      top: 46px;
      bottom: 0;
      right: 0;
      left: 0;
      display: none;
    }
  }
  @media (max-width: 768px) {
    .bottom-pagination {
      margin-top: 30px;
    }
  }
  @media (max-width: 756px) {
    .container {
      display: none;
    }
    .wrapper-number {
      display: block;
    }
    .bottom-pagination {
      display: none;
    }
    .wrapper-pagination {
      .number {
        display: none;
      }
    }
  }
  @media (max-width: 699px) {
    .wrapper-catalog {
      padding: 0 0 220px 0;
    }
    .wrapper-number {
      padding: 0 15px;
    }
    .wrapper-pagination {
      padding: 0 15px 15px;
    }
  }
  @media (max-width: 414px) {
    .wrapper-catalog {
      padding: 0 0 190px 0;
    }
  }
}