.Catalog {
  @import 'components/pagination';
  @import 'components/navCatalog';
  @import 'components/filter';
  @import 'components/filter-choice';
  .wrapper-catalog {
    padding: 0 20px 100px 20px;
  }
  .wrapper-number {
    display: none;
    .number {
      justify-content: space-between;
    }
  }
  .wrapper-sort {
    display: none;
    justify-content: space-between;
    margin-top: 15px;
    .pages {
      width: 100%;
    }
    .select {
      justify-content: space-between;
      width: 100%;

    }
    .button-popular,
    .button-quantity {
      background-color: #F3F2F0;
      width: 50%;
    }
    .button-popular {


      border-radius: 4px 0 0 4px;
      .arrow {
        margin: 0 0 2px 5px;
      }
      .pages {
        padding: 10px 10px 10px 14px;
      }
      .popup {
        margin-top: 0;
        padding-top: 0;
      }
    }
    .button-quantity {
      margin-left: 1px;
      border-radius: 0 4px 4px 0;
      .pages {
        padding: 10px 9px 10px 8px;
      }
      .popup {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  .flex-wrap {
    display: flex;
  }
  .bottom-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .wrapper-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  .wrapper-filter {
    margin-top: 36px;
  }
  .titleWrapper {
    padding: 0;
    .button-filter {
      margin-left: 12px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      border-bottom: 0.5px dashed #555555;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: #555555;
      display: none;
      cursor: pointer;
    }
    .titleAndValue {
      display: flex;
      align-items: baseline;
    }
  }
  .transitionWrapper .title a {
    color: #777777;
    &:hover {
      color: #3D3D3C;
    }
  }
  .transitionWrapper .title2 a {
    color: #3D3D3C;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  .common {
    position: relative;
  }

  .show-number-of-cards-page {

  }
  .pages {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3C;
    .select {
      display: flex;
      cursor: pointer;

      .wrap {
        display: flex;
        .page-title {
          margin-left: 8px;
        }
      }
    }
    .arrow {
      transform: rotate(90deg);
      margin: 0 5px 2px 5px;
    }

  }
  .popup {
    margin-top: 7px;
    padding-top: 5px;
    background-color:#F3F2F0;
    position: absolute;
    z-index: 3;
    width: 100%;
    display: none;
    .openPage {
      background-color: #FDFDFD;
      cursor: pointer;
      .select-number {
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.05em;
        color: #555555;
        padding: 12px;
      }
      .line {
        border-bottom: 2px dotted #D9D9D9;
      }
      &:last-child {
        .line {
          border-bottom: none;
        }
      }
    }
  }

  .show-number-of-cards-page {
    .pages {
      .arrow {
        transform: rotate(270deg);
      }
    }
    .popup {
      display: block;
    }
  }

  .show-filter-by {
    .pages {
      .arrow {
        transform: rotate(270deg);
      }
    }

    .popup {
      display: block;
    }
  }

  .sidebar-page-categories {
    position: relative;
    margin-right: 20px;
    padding: 0;
    width: 223px;
    height: 100%;
    .points {
      width: 100%;

    }
    .point {
      padding: 10.5px 10px 10.5px 13px;
      .title {
        margin: 0;
        text-transform: none;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #555555;
      }
    }
    .categories {
      padding: 2px 10px 1px 13px;
    }
    .choice {
      line-height: 14px;
      padding: 11px 0 9px 0;
      font-size: 13px;
    }
  }

  .cards-wrapper {
    width: 100%;
    .wrap-card {
      margin-top: 70px;
    }
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-top: 36px;
  }


  .selected-filters {
    display: flex;
    flex-wrap: wrap;
    .choice-filter {
      display: flex;
      align-items: center;
      background: #F3F2F0;
      border-radius: 30px;
      padding: 5px 5px 5px 10px;
      position: relative;
      bottom: -20px;
      margin-right: 9px;
      margin-bottom: 9px;

      .text {
        font-size: 12px;
        line-height: 14px;
        color: #555555;
      }

      .close {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-left: 11px;
        transform: rotate(-45deg);
        color: #FFFFFF;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #D9D9D9;
      }
    }
  }



  @media (max-width: 1024px) {
    .wrapper-catalog {
      padding: 0 15px 310px 15px;
    }
    .transitionWrapper {
      padding: 10px 0;
    }
    .cards {
      grid-gap: 15px;
    }
    .titleWrapper {
      .button-filter {
        display: block;
      }
    }

    .sidebar-page-categories {
      width: 0;
      margin-right: 0;
    }

    .wrapper-filter {
      margin-top: 0;
    }

    .mobile-filter {
      position: fixed;
      z-index: 6;
      background: #fff;
      top: 46px;
      bottom: 0;
      right: 0;
      left: 0;
      display: none;
    }

    .points {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .titleWrapper {
      .titleAndValue {
        display: block;

        .value {
          margin-top: 10px;
        }
      }
    }
  }
  @media (max-width: 756px) {
    .container {
      display: none;
    }
    .wrapper-number {
      display: block;
    }
    .wrapper-sort {
      display: flex;
    }
    .titleWrapper {
      display: flex;
      justify-content: space-between;
      width: 726px;
    }
    .wrapper-pagination {
      .number {
        display: none;
      }
    }
  }

  .wrap-card {
    max-width: calc(100vw - 280px);
  }

  @media (max-width: 1024px) {
    .wrap-card {
      max-width: 100%;
    }

  }


  @media (min-width: 700px) {
    .cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 960px) {
    .cards {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: 1025px) {
    .cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 1040px) {
    .cards {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (min-width: 2100px) {
    .cards {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: 2220px) {
    .cards {
      grid-template-columns: repeat(7, 1fr);
    }
  }
}