.Catalog {
  @import 'components/pagination';
  @import 'components/navCatalog';
  @import 'components/filter';
  .wrapper-catalog {
    padding: 0 15px;
  }
  .wrapper-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  .wrapper-filter {
    margin-top: 36px;
  }
  .titleWrapper {
    padding: 0;
  }
  .sidebar-page-categories {
    margin: 0;
    padding: 0;
    width: 223px;
    position: absolute;
    height: 100%;
    z-index: 3;
    .points {
      width: 100%;
    }
    .point {
      padding: 10.5px 10px 10.5px 13px;
      .title {
        margin: 0;
      }
    }
    .categories {
      padding: 2px 10px 1px 13px;
    }
    .choice {
      line-height: 14px;
      padding: 11px 0 9px 0;
      font-size: 13px;
    }
  }
}