.Personal-Data {
  @import "../basketTemplate/components/titleData";
  @import "../basketTemplate/components/imgCloseIcon";
  color: #3D3D3C;
  font-size: 14px;
  line-height: 15px;

  .title-data-main {
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 22px;
  }

  .wrapper-columns,
  .wrapper-box,
  .wrapper-box-1,
  .wrapper-box-4 {
    display: flex;
    justify-content: space-between;
  }

  .wrapper-columns {
    margin-bottom: 140px;

    .first-column,
    .second-column {
      display: flex;
      flex-direction: column;
      .legal-entities {
        margin-bottom: 10px;
        .wrapper-box-2 {
          margin-bottom: 0;
          height: 426px;
          .info-text {
            padding-bottom: 28px;
            border-bottom: 2px dotted #DDDDDD;
            width: 100%;
          }
        }
        .wrapper-box {
          flex-direction: column;
          padding: 0;
          width: 100%;
          .bank-details {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 20px;
            padding-top: 20px;
            border-bottom: 2px dotted #DDDDDD;
          }
          .legal-address {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 20px;
          }
        }
      }
      .wrapper-box,
      .wrapper-box-2,
      .wrapper-box-3 {
        align-items: center;
        padding: 20px;
        background: #F3F2F0;
        width: 710px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .wrapper-box-1 {
          align-items: center;

          .color {
            color: #AB064E;
            margin-left: 10px;
          }

          .transport-company {
            margin-left: 14px;
          }

          .password {
            color: #AB064E;
            margin-left: 12px;
          }

          .organization {
            margin-left: 10px;
          }
          .password-guest {
            display: flex;
            align-items: center;
            margin-left: 12px;
          }
        }
        .wrapper-box-4 {
          .input-personal-data {
            font-size: 13px;
            text-align: center;
            color: #777777;
            width: 160px;
            height: 36px;
            border: 1px solid #C4C4C4;

            &:focus {
              outline: none;
              border: 1px solid #777777;
            }
          }
          .input-personal-data {
            margin-right: 6px;
          }
          .button-personal-data {
            background: #AB064E;
            border: 1px solid #AB064E;
            &:hover {
              background: #C00A5A;
              border: 1px solid #C00A5A;
            }
          }
        }
        .checkbox-data {
          .wrap-checkbox {
            margin-top: 0;
            margin-left: 10px;

            .text-checkbox {
              font-style: normal;
              font-size: 14px;
              line-height: 16px;
              letter-spacing: normal;
              text-decoration-line: none;
              color: #3D3D3C;
            }

            input[type="checkbox"]:checked + label:before,
            input[type="checkbox"]:not(:checked) + label:before {
              width: 14px;
              height: 14px;
              border: 1px solid #C4C4C4;
              background: #FFFFFF;
            }
          }
        }

        select {
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #777777;
          width: 160px;
          height: 36px;
          outline: none;
          border: 1px solid #C4C4C4;
          background: #FFFFFF;
          option {
            padding-right: 14px;
            padding-left: 15px;
          }
        }
      }

      .wrapper-box-3 {
        padding: 30px 20px;
        display: flex;
      }

      .wrapper-box-2 {
        display: flex;
        flex-direction: column;
        align-items: start;

        .info-text {
          font-size: 12px;
          line-height: 17px;
        }

        .tower {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-top: 26px;
          width: 100%;
          font-size: 12px;
          line-height: 17px;
          .width-info {
            width: 466px;
          }
        }

        .wrap-close-text {
          display: flex;
          align-items: baseline;
          margin-top: 18px;
        }
      }
    }
  }

  @media (max-width: 1470px) {
    .wrapper-columns {
      .first-column,
      .second-column {
        .wrapper-box,
        .wrapper-box-2,
        .wrapper-box-3 {
          width: 690px;
        }
      }
    }
  }
  @media (max-width: 1439px) {
    .wrapper-columns {
      flex-direction: column;
      .first-column,
      .second-column {
        .wrapper-box,
        .wrapper-box-2,
        .wrapper-box-3 {
          width: 100%;
          &:last-child {
            margin-bottom: 10px;
          }
        }
        .wrapper-box-2 {
          .tower {
            .width-info {
              width: 637px;
            }
          }
          .wrap-close-text {
            margin-top: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .wrapper-columns {
      margin-bottom: 240px;
      .first-column,
      .second-column {
        .wrapper-box,
        .wrapper-box-2,
        .wrapper-box-3 {
          select {
            height: 40px;
          }
          .wrapper-box-4 {
            .input-personal-data {
              height: 40px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 715px) {
    .wrapper-columns {
      margin-bottom: 131px;
      .first-column,
      .second-column {
        .legal-entities {
          .wrapper-box {
            .bank-details {
              flex-direction: column;
            }
            .legal-address {
              flex-direction: column;
            }
            .wrapper-box-1 {
              margin-bottom: 12px;
            }
          }
        }
        .wrapper-box,
        .wrapper-box-2,
        .wrapper-box-3 {
          padding: 18px 15px 16px 15px;
          flex-direction: column;
          align-items: flex-start;
          .wrapper-box-1 {
            flex-direction: column;
            align-items: flex-start;
            .color {
              margin-left: 0;
              margin-top: 10px;
              margin-bottom: 12px;
            }
            .password {
              margin-left: 0;
              margin-top: 10px;
              margin-bottom: 12px;
            }
            .organization {
              margin-left: 0;
              margin-top: 10px;
              margin-bottom: 12px;
            }
            .password-guest {
              margin-left: 0;
              margin-top: 10px;
              margin-bottom: 12px;
            }
            .transport-company {
              margin-left: 0;
              margin-top: 10px;
              margin-bottom: 12px;
            }
          }
          .wrapper-box-4 {
            width: 100%;
            .form-input-personal-data {
              width: 100%;
              margin-right: 6px;
            }
            .input-personal-data {
              width: 100%;
              margin-right: 0;
            }
          }
          select {
            width: 100%;
            margin-top: 15px;
          }
          .checkbox-data {
            margin-top: 7px;
            .wrap-checkbox {
              margin-left: 0;
            }
          }
        }
        .wrapper-box-2 {
          .info-text {
            font-size: 14px;
            line-height: 20px;
          }
          .tower {
            align-items: normal;
            flex-direction: column-reverse;
            margin-top: 12px;
            font-size: 14px;
            line-height: 20px;
            .width-info {
              width: 100%;
              margin-top: 12px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 390px) {
    .wrapper-columns {
      .first-column {
        .wrapper-box {
          .wrapper-box-4 {
            .button-personal-data {
              min-width: 126px;
            }
          }
        }
      }
    }
  }
}