.About-shopping,
.About-payment,
.Questions-answers,
.Cooperation-page,
.About-size-page,
.About-returns-page,
.About-contacts-page,
.About-us-page,
.Working-conditions-page {
  .title-shopping {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 45px;
  }
  .wrapper-navigation-info {
    margin-bottom: 40px;
    .navigation-mobile {
      display: none;
    }
  }
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 1024px) {
    padding: 0 15px;
    margin-bottom: 130px;
    .transitionWrapper {
      padding-left: 0;
    }
    .wrapper-navigation-info {
      margin-bottom: 30px;
    }
    .title-shopping {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 767px) {
    .wrapper-navigation-info {
      .navigation-mobile {
        display: flex;
      }
    }
  }
}
.About-contacts-page,
.About-us-page,
.Working-conditions-page {
  .wrapper-navigation-info {
    .Navigation .item {
      width: 33.33%;
    }
  }
}

@import 'aboutShoppingPage/aboutShoppingPage';
@import 'aboutPaymentPage/aboutPaymentPage';
@import 'questionsAnswersPage/questionsAnswersPage';
@import 'cooperationPage/cooperationPage';
@import 'aboutSizePage/aboutSizePage';
@import 'aboutReturnsPage/aboutReturnsPage';
@import 'aboutContactsPage/aboutContactsPage';
@import 'aboutUsPage/aboutUsPage';
@import 'workingСonditionsPage/workingСonditionsPage';