.Steps {
  .basket-steps {
    display: flex;
    justify-content: space-between;
    max-width: 665px;
    margin: 20px auto;
    .icon-text {
      display: flex;
      align-items: center;
      .active {
        font-size: 15px;
        line-height: 17px;
        margin-left: 13px;
      }
      .pay-icon {
        background-image: url("../images/icons/pay.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 22px;
        height: 22px;
      }
    }
    .pointer-arrow,
    .pointer-grey {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 163px;
      height: 24px;
    }
    .pointer-arrow {
      background-image: url("../images/icons/pointer.svg");
    }
    .pointer-grey {
      background-image: url("../images/icons/pointer-grey.svg");
    }
  }
  .line-delivery {
    border: 2px solid #D9D9D9;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    .basket-steps {
      max-width: 289px;
      .icon-text {
        flex-direction: column;
        height: 50px;
        justify-content: space-between;
        .active {
          margin-left: 0;
        }
      }
      .pointer-arrow,
      .pointer-grey {
        width: 70px;
      }
    }
    .line-delivery {
      display: none;
    }
  }
}