.basketDeliveryBlock {
  @import "inputChoice";
  background: #F3F2F0;
  width: 32.362%;
  height: 346px;
  cursor: pointer;
  transition: .2s;
  border-bottom: 4px solid transparent;

  &:hover {
    background: #FFFFFF;
    border-bottom: 4px solid #AB064E;
  }
  &.active {
    background: #FFFFFF;
    border-bottom: 4px solid #AB064E;
  }
  .wrap {
    padding: 20px;
    font-size: 14px;
    line-height: 17px;
    .title {
      font-weight: bold;
      font-size: 15px;
      line-height: 17px;
      display: flex;
      align-items: center;
      img {
        padding-right: 15px;
      }
    }
    .text {
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
    background: transparent;
    &:hover {
      background: transparent;
      border-bottom: 4px solid transparent;
    }
    &.active {
      background: transparent;
      border-bottom: 4px solid transparent;
    }
    .choice {
      margin-bottom: 30px;
      padding: 0 15px;
    }
    .wrap {
      padding: 0;
      margin: 0 -15px;
      .text {
        padding: 0 15px;
      }
      .title {
        background: #F3F2F0;
        padding: 10px 20px;
      }
    }

    .content {
      display: none;

      &.show-content {
        display: block;
      }
    }
  }
}