.delivery-address {
  @import 'leftColumnAddress.scss';
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  .left-column,
  .right-column {
    width: 49.3%;
  }
  .right-column {
    .wrap-sum {
      padding: 0 0 0 20px;
      margin-top: 28px;
      .Sum-money-sale {
        .title-sum {
          b {
            background: #f9f9f9;
          }
        }
      }
    }
    .result {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      font-size: 18px;
      line-height: 18px;
      b {
        margin-left: 8px;
      }
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}