.delivery-address {
  @import "titleImg";
  @import 'leftColumnAddress.scss';
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  .left-column,
  .right-column {
    width: 49.3%;
  }
  .right-column {
    .wrap-sum {
      padding: 0 0 0 20px;
      margin-top: 28px;
    }
    .result {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      font-size: 18px;
      line-height: 18px;
      b {
        margin-left: 8px;
      }
    }
  }
  //.left-column {
  //  .wrap-close-text {
  //    font-size: 14px;
  //    line-height: 15px;
  //    margin-bottom: 23px;
  //    margin-top: 28px;
  //    padding-left: 25px;
  //    img {
  //      width: 10px;
  //      height: 10px;
  //      margin-right: 12px;
  //    }
  //  }
  //  .button-add {
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    cursor: pointer;
  //    font-size: 15px;
  //    line-height: 17px;
  //    background: #FFFFFF;
  //    border: 1px solid #CDCDCD;
  //    box-sizing: border-box;
  //    border-radius: 4px;
  //    width: 200px;
  //    height: 36px;
  //    margin-left: 20px;
  //    &:hover {
  //      background: #AB064E;
  //      color: #FFFFFF;
  //      border: 1px solid #AB064E;
  //    }
  //  }
  //}
  @media (max-width: 767px) {
    display: none;
  }
}