.img-close-icon {
  width: 10px;
  height: 10px;
  margin-right: 12px;
  background-image: url("../images/icons/exit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  &:hover {
    background-image: url("../images/icons/exit-purple.svg");
  }
}