.left-column-address {
  width: 49.3%;
  .wrap-close-text {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 23px;
    margin-top: 28px;
    padding-left: 25px;
    padding-right: 20px;
    img {
      width: 10px;
      height: 10px;
      margin-right: 12px;
    }
  }
  .button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    line-height: 17px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 200px;
    height: 36px;
    margin-left: 20px;
    &:hover {
      background: #AB064E;
      color: #FFFFFF;
      border: 1px solid #AB064E;
    }
  }
}