.Sum-money-sale {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 15px;
  .money-sum  {
    font-weight: bold;
    color: #AB064E;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    .money-sum {
      color: #3D3D3C;
    }
  }
}