.Sum-money-sale {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 15px;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;

  .money-sum  {
    font-weight: bold;
    color: #AB064E;
    white-space: nowrap;
    display: inline-block;
  }

  .line {
    background-image: linear-gradient(to right, #777777 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;;
    bottom: 3px;
    display: block;
    width: 100%;
    margin-left: 6px;
    margin-bottom: 2px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    .money-sum {
      color: #3D3D3C;
    }
  }

  .title-sum {
    position: relative;
    display: inline-flex;
    b {
      background: #F3F2F0;
      font-weight: 400;
      position: relative;
      z-index: 1;
    }
  }
}