.wrapper-basket {
  margin-top: 20px;
  margin-bottom: 65px;
  font-size: 14px;
  line-height: 15px;
  .title-main-string {
    .first-string {
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      text-align: center;
      &.name-percent {
        width: 20%;
      }
      &.size-percent {
        width: 17%;
      }
      &.quantity-percent {
        width: 8%
      }
      &.price-percent {
        width: 18%
      }
      &.sale-percent {
        width: 8%
      }
      &.sum-percent {
        width: 17%
      }
      &:first-child {
        text-align: left;
      }
    }
  }
  .good {
    height: 223px;
    background-image: linear-gradient(to right, #777777 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 4px 2px;
    background-repeat: repeat-x;
    .name-product {
      .wrapper-product {
        display: flex;
        justify-content: space-between;
        .img-product {
          width: 128px;
          height: 193px;
        }
        .wrapper-info {
          .wrapper-favorites {
            margin-bottom: 30px;
            .favoritesProduct {
              .img-like {
                width: 16px;
                height: 14px;
                background-size: contain;
              }
            }
          }
          .name-brand {
            font-weight: bold;
            font-size: 18px;
            line-height: 100%;
            text-transform: capitalize;
          }
          .name-product {
            line-height: 24px;
            margin-bottom: 12px;
          }
        }
      }
    }
    .size-product {
      .Size-info {
        margin: 0 auto;
        .size {
          padding-left: 0;
          height: 32px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .price-product,
    .sum-product {
      .number-sum {
        text-align: center;
        line-height: 32px;
      }
    }
    .sale-product {
      .wrapper-sale-product {
        display: flex;
        justify-content: center;
        .ButtonSale {
          width: 30px;
        }
        .sale-sum {
          margin-left: 5px;
        }
      }
    }
    .selected-dimensions-product {
      .change-selected-dimensions {
        text-decoration-line: underline;
        color: #777777;
        width: 102px;
        margin: 0 auto;
        cursor: pointer;
        &:hover {
          text-decoration-line: none;
        }
      }
    }
  }
}