$baseColor: #FFFFFF;

//sidebar
$bg-sidebar: #F3F2F0;
$sidebar-color: #555555;

$bg-search:  #FDFDFD;
//Blocks
$bg-Blocks: #F3F2F0;
$color-Blocks: #3D3D3C;
$bg-phone-Blocks: #f9f9f9;

//footer
$bg-footer: #F3F2F0;
$bg-down: #3D3D3C;
$color-footer: #555555;
$color-footer-hover: #AB064E;

//popupDefaultTemplate
$bg-popup-default: linear-gradient(90.08deg, rgba(113, 0, 103, 0.95) 3.72%, rgba(207, 9, 62, 0.95) 122.63%);