$baseColor: #FFFFFF;
//header
$bg-topHeader: linear-gradient(90.08deg, #5B0C54 3.72%, #9D3442 122.63%);
$bg-bottomHeader: linear-gradient(90.08deg, #710067 3.72%, #CF093E 122.63%);
//sidebar
$bg-sidebar: #F3F2F0;
$sidebar-color: #555555;

$bg-search:  #FDFDFD;
//Blocks
$bg-Blocks: #F3F2F0;
$color-Blocks: #3D3D3C;
$bg-phone-Blocks: #f9f9f9;

//footer
$bg-footer: #F3F2F0;
$bg-down: #3D3D3C;
$color-footer: #555555;
$color-footer-hover: #AB064E;