$baseColor: #FFFFFF;
$bg-topHeader: linear-gradient(90.08deg, #5B0C54 3.72%, #9D3442 122.63%);
$bg-bottomHeader: linear-gradient(90.08deg, #710067 3.72%, #CF093E 122.63%);
$bg-sidebar: #F3F2F0;
$sidebar-color: #555555;
$bg-footer: #F3F2F0;
$bg-search:  #FDFDFD;
