.Com-disp-block {
  display: block !important;
}

.Com-disp-none {
  display: none;
}

.Com-over-hidden {
  overflow: hidden;
}

.Com-super-z-index {
  z-index: 20 !important;
}

.Com-disp-flex-al-center {
  display: flex;
  align-items: center;
}