@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import './header/header';
@import './main/main';
@import './footer/footer';
@import './popularBrand/popularBrand';
@import './common/categoriesTitle';
@import './sharesBlock/sharesBlock';
@import './moyomodaBlock/moyomodaBlock';
@import './common/common';
@import './bestsellers/bestsellers';
@import './common/sale';
@import './commonStyles';
@import './categoriesWomen/categoriesMenuSidebar';
@import './categoriesWomen/partnerOffers';
@import './categoriesWomen/categoriesWomen';
@import './common/icon';
@import './common/transitionTitle';
@import './categoriesChildren/categoriesChildren';
@import './categoriesChildren/components/childrenSidebar';
@import './categoriesView/categoriesView';
@import './catalog/catalog';
@import './cardProductPage/cardProductPage';
@import './menu1024/menu';
@import "./cardProductPage/components/transitionBrand";
@import "./cardProductPage/components/star";
@import "./popupQuickButton/popupQuickButton";
@import "./backCall/backCall";
@import "./entry/entry";
@import "./restorePassword/restorePassword";
@import "./registration/registration";

* {margin: 0; padding: 0;}

* {
  font-family: 'Arial', serif;
  font-style: normal;
  box-sizing: border-box;


  button,
  button:active,
  button:focus {
    outline: none;
  }
}

body {
  background: #f9f9f9;
  color: #3D3D3C;

  ::-webkit-scrollbar { width:5px;}
  ::-webkit-scrollbar-thumb { height: 5px; background-color: #D9D9D9; border-radius: 3px;}
}

.wrapper-filter-desktop-ilmira {
  max-width: 130px;
  padding-right: 3px;
}

