@import '../color';
@import '../var';

.Popular-brand {
  .root {
    max-width: 1480px;
    margin: auto;
    padding: 60px 20px 80px 20px;
  }
  .main-title {
    margin-bottom: 52px;
  }
  .img-wrap {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
  }
  .Com-img {
    transition: 1s;
    transform: none;
    object-fit: cover;
    width: 100%;
    height: 294px;

    &:hover {
      transform: scale(1.1);
    }
  }
  .card {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #F3F2F0;
      padding: 15px 20px 20px 20px;
      height: 100%;
    }

    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;
      margin-bottom: 6px;
    }

    .description {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      margin-bottom: 28px;
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  .desktop {

    .card {
      max-width: 345px;
    }
    .card:last-child {
      margin-right: 0;
    }

  }
  .mobile {
    display: none;
    .Com-img {
      height: 100%;
    }
    .card {
      margin-right: 0;

      .info {
        min-height: 190px;
      }
    }
  }
  @media (max-width: $tablet-breakpoint) {
    .root {
      padding: 40px 15px 30px 15px;
    }
    .main-title {
      margin-bottom: 20px;
    }
    .card {
      margin-right: 16px;
    }
    .desktop {
      .card {
        max-width: 237px;
      }
    }
    .Com-img {
      height: 202px;
    }
    .info {
      padding: 15px 15px 23px 15px;
    }
    .title {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 8px;
    }
  }
  @media (max-width: $mobile-breakpoint) {
    .root {
      padding-top: 30px;
    }
    .card {
      margin-right: 15px;
    }
    .desktop {
      .card {
        max-width: 173px;
      }
    }
    .Com-img {
      height: 147px;
    }
  }
  @media (max-width: $with-767) {
    .desktop {
      display: none;
    }
    .root {
      padding-bottom: 25px;
    }
    .main-title {
      margin-bottom: 15px;
    }
    .Com-img {
      height: 147px;
    }
    .info {
      padding: 15px 15px 20px 15px;
    }
    .mobile {
      display: block;
    }
  }
  @media (max-width: 413px) {
    .root {
      padding-bottom: 18px;
    }
    .mobile {
      .Com-img {
        height: 247px;
      }
      .card {
        .info {
          min-height: 190px;
        }
      }
    }
  }
}

