.Popular-brand {
  margin-bottom: 80px;

  .root {
    max-width: 1440px;
    margin: auto;
    padding: 55px 0;
  }
  .img-wrap {
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
  }
  .Com-img {
    transition: 1s;
    transform: none;
    object-fit: cover;
    width: 100%;
    height: 294px;

    &:hover {
      transform: scale(1.1);
    }
  }
  .slider-dots-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  @media (max-width: 1440px) {
    .root {
      padding: 55px 20px;
    }
  }

  .main-title {
    margin-bottom: 53px;
  }
  @media (max-width: 768px) {
    .main-title {
      margin-bottom: 10px;
    }
  }

  .card {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #F3F2F0;
      padding: 17px 20px;
      height: 100%;
    }

    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;
      margin-bottom: 6px;
    }

    .description {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      margin-bottom: 28px;
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  .desktop {

    .card {
      max-width: 345px;
    }
    .card:last-child {
      margin-right: 0;
    }

  }

  .mobile {
    display: none;
  }

  @media (max-width: 960px) {

    .desktop {
      flex-wrap: wrap;
      justify-content: space-evenly;
      .card {
        margin-right: 0;
        flex-basis: 48%;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 480px) {
    .mobile {
      display: block;

      .card {
        width: 100%;
      }
    }
    .desktop {
      display: none;
    }
  }

}

@media (max-width: 768px) {
  .Popular-brand {
    margin-bottom: 20px;
  }
}

