@import "../../color";
.Orders-status {
  @import "components/nameOrder";
  @import "components/headerOrder";
  @import "components/wrapOrder";
  @import "components/wrapOrderMobail";
  @import "components/viewOrder";
  @import "components/viewOrderMobail";
  .mobile {
    display: none;
  }
  .pay-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    .way-pay {
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 15px;
      text-align: center;
    }
    .way-pay-green {
      color: #009295;
      font-size: 14px;
      line-height: 15px;
      text-align: center;
    }
    .pay-online {
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      text-decoration-line: underline;
      color: $burgundy;
      width: 106px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .wrapper-icon-title {
    display: flex;
    justify-content: center;
    .icon-title {
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      width: 92px;
      margin: 0 10px;
      img {
        margin-bottom: 15px;
      }
      a {
        color: #3D3D3C;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .title-add {
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    background: #F3F2F0;
    img {
      margin-right: 8px;
    }
    a {
      color: #3D3D3C;
      &:hover {
        text-decoration: none;
      }
    }
  }
  @media (max-width: 767px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}