.Entry {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: linear-gradient(90.08deg, rgba(113, 0, 103, 0.95) 3.72%, rgba(207, 9, 62, 0.95) 122.63%);
  cursor: auto;
  .wrapper-Entry {
    max-width: 500px;
    margin: 76px auto 0 auto;
    .close {
      display: flex;
      justify-content: flex-end;
    }
    .wrap-input {
      display: flex;
      flex-direction: column;
      margin-top: 73px;
      input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder{ color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-ms-input-placeholder,input[type="password"]::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder{ color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::placeholder, input[type="password"]::placeholder { color: rgba(255, 255, 255, 0.5); }
      input[type="text"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder { color: #FFFFFF; }
      input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder{ color: #FFFFFF; }
      input[type="text"]:focus::-ms-input-placeholder, input[type="password"]:focus::-ms-input-placeholder { color: #FFFFFF; }
      input[type="text"]:focus::-ms-input-placeholder, input[type="password"]:focus::-ms-input-placeholder {color: #FFFFFF; }
      input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder { color: #FFFFFF; }

      input[type="text"],
      input[type="password"] {
        color: #FFFFFF;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        &:focus {
          border-bottom: 1px dashed #FFFFFF;
        }
      }
      .password {
        //width: 300px;
        //margin: 15px auto;
        position: relative;
        .password-control {
          position: absolute;
          top: 5px;
          right: 10px;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url("../images/icons/eyes.svg") center no-repeat;
        }
        .password-control.view {
          background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
        }
      }
    }

    .input-name {
      font-size: 14px;
      line-height: 16px;
      outline: none;
      height: 30px;
      background: transparent;
      width: 100%;
    }
    .wrap-agree {
      margin-top: 48px;
      margin-bottom: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      .restore {
        font-style: italic;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: underline;
        margin-left: 6px;
        cursor: pointer;
        &:hover {
          color: #FFFFFF;
        }
      }
    }
    .wrap-registration {
      margin: 44px auto 0 auto;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      text-align: center;
      .sign-up {
        font-style: italic;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }
  .wrapper-phoneBackCall-btnCall {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 550px) {
    .wrapper-Entry {
      max-width: 354px;
    }
  }
  @media (max-width: 410px) {
    .wrapper-Entry {
      max-width: 315px;
    }
  }
  @media (max-width: 374px) {
    .wrapper-Entry {
      max-width: 260px;
    }
  }
}
