.ChildrenSidebar {
  .point {
    padding: 10.5px 10px 10.5px 13px;
  }
  .categories {
    padding: 2px 10px 1px 13px;
  }
  .choice {
    line-height: 14px;
    padding: 11px 0 9px 0;
    font-size: 13px;
  }


  .link-children {
    display: flex;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
  }
  .line-children {
    border: none;
    height: 2px;
    background: #F3F2F0;
  }
  .wrap-span {
    display: flex;
    flex-direction: column;
  }
  .img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  .img-baby {
    background-image: url("../images/icons/baby.svg");
  }

  .img-girl {
    background-image: url("../images/icons/girl.svg");
  }

  .item {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;

    text-transform: uppercase;

    color: #555555;
  }
  .month {

    font-size: 11px;
    line-height: 140%;
    color: #777777;
  }

  .points {
    width: 223px;
    display: none;

    .title {
      margin-left: 0;
    }
  }

  &.children-girl {
    .img-girl {
      background-image: url("../images/icons/icon_menu_girl.svg");
    }

    .sidebar-girl {
      display: block;
    }
  }

  &.children-baby {
    .img-baby {
      background-image: url("../images/icons/icon_menu_newborn.svg");
    }

    .sidebar-baby {
      display: block;
    }
  }


}