.sidebar-page-categoriesChildren {
  margin: 0;
  padding: 0;
  width: 223px;
  position: absolute;
  height: 100%;

  .sidebar-children {
    display: none;
  }

  .points {
    width: 223px;
  }

  .active-menu {

    .sidebar-children {
      display: block;
    }

  }
}
