.questions-answers {
  font-size: 14px;
  line-height: 20px;
  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
  }
  .wrapper-questions {
    margin-top: 42px;
    margin-bottom: 190px;
    .number-question {
      .question-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: 8px 0 11px 0;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        .question {
          margin-right: 37px;
        }
        .arrow {
          background-image: url("../images/icons/arrow5.svg");
          background-repeat: no-repeat;
          background-position: center center;
          width: 10px;
          height: 10px;
          transform: rotate(90deg);
          margin-right: 5px;
        }
      }
      .wrapper-answers {
        margin-top: 9px;
        margin-bottom: 40px;
        display: none;
        .text {
          width: 832px;
        }
        .answer-box {
          .text {
            margin-bottom: 5px;
            margin-top: 5px;
            width: 564px;
          }
        }
        .bold {
          font-weight: bold;
        }
        .answer-text {
          margin-bottom: 30px;
        }
        .wrapper-status {
          .line-one {
            width: 100%;
            tr {
              height: 44px;
            }
            td {
              width: 25%;
            }
            .line-status {
              display: flex;
              align-items: center;
              img {
                margin-right: 9px;
              }
            }
          }
          .text-italic {
            font-style: italic;
            margin-top: 30px;
          }
        }
        .wrapper-img-fourth,
        .wrapper-img-fifth,
        .wrapper-img-fifth-2,
        .wrapper-img-sixth {
          position: relative;
          .img-fourth,
          .img-fifth,
          .img-fifth-2,
          .img-sixth {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 100%;
            max-width: 100%;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        .wrapper-img-fourth {
          padding-bottom: 24%;
          .img-fourth {
            background-image: url("../images/information/good1.png");
          }
        }
        .wrapper-img-fifth {
          padding-bottom: 30%;
          .img-fifth {
            background-image: url("../images/information/payment.png");
          }
        }
        .wrapper-img-fifth-2 {
          padding-bottom: 22%;
          .img-fifth-2 {
            background-image: url("../images/information/payment-online.png");
          }
        }
        .wrapper-img-sixth {
          padding-bottom: 34%;
          .img-sixth {
            background-image: url("../images/information/card-product.png");
          }
        }
        p {
          width: 832px;
          margin-bottom: 20px;
          a {
            color: #AB064E;
          }
          .transport {
            color: #AB064E;
            text-decoration: underline;
          }
          .no-wrap {
            white-space: nowrap;
          }
        }
        .columns {
          display: flex;
          .img-sberbank {
            margin-right: 74px;
          }
          .wrapper-box-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .wrapper-box-one {
              width: 345px;
            }
            .wrapper-box-two {
              width: 953px;
              .attention {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #AB064E;
                color: #FFFFFF;
                font-weight: bold;
                font-size: 10px;
                line-height: 11px;
                width: 76px;
                height: 19px;
                margin-bottom: 10px;
              }
            }
            .box-text {
              margin-top: 25px;
              margin-bottom: 25px;
            }
          }
        }
      }
      &.show-info {
        .question-title {
          border-bottom: 1px solid #AB064E;
          .arrow {
            transform: rotate(-90deg);
          }
        }
        .wrapper-answers {
          display: block;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      &:last-child {
        border-bottom: 1px solid #D9D9D9;
      }
    }
  }
  @media (max-width: 1400px) {
    .wrapper-questions {
      .number-question {
        .wrapper-answers {
          .columns {
            .img-sberbank {
              margin-right: 45px;
            }
            .wrapper-box-text {
              .wrapper-box-two {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .wrapper-questions {
      margin-top: 22px;
      margin-bottom: 380px;
      .number-question {
        .wrapper-answers {
          .wrapper-status {
            .line-one {
              .line-status {
                width: 189px;
              }
            }
          }
          .wrapper-img-fourth {
            padding-bottom: 29%;
            .img-fourth {
              background-image: url("../images/information/good-1024.png");
            }
          }
          .wrapper-img-fifth {
            padding-bottom: 37%;
            .img-fifth {
              background-image: url("../images/information/payment-1024.png");
            }
          }
          .wrapper-img-fifth-2 {
            padding-bottom: 33%;
            .img-fifth-2 {
              background-image: url("../images/information/payment-online-1024.png");
            }
          }
          .wrapper-img-sixth {
            padding-bottom: 45%;
            .img-sixth {
              background-image: url("../images/information/card-product-1024.png");
            }
          }
        }
      }
    }
  }
  @media (max-width: 868px) {
    .wrapper-questions {
      margin-bottom: 210px;
      .number-question {
        .wrapper-answers {
          p {
            width: 100%;
          }
          .columns {
            .img-sberbank {
              margin-right: 23px;
            }
          }
          .wrapper-img-fourth {
            padding-bottom: 36%;
            .img-fourth {
              background-image: url("../images/information/good-768.png");
            }
          }
          .wrapper-img-fifth {
            padding-bottom: 56%;
            .img-fifth {
              background-image: url("../images/information/payment-768.png");
            }
          }
          .wrapper-img-fifth-2 {
            padding-bottom: 43%;
            .img-fifth-2 {
              background-image: url("../images/information/payment-online-768.png");
            }
          }
          .wrapper-img-sixth {
            padding-bottom: 62%;
            .img-sixth {
              background-image: url("../images/information/card-product-768.png");
            }
          }
        }
      }
    }
  }
}