@import "../../color";
.wrapper-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  .textReg {
    font-size: 13px;
    line-height: 16px;
    color: $baseColor;
    max-width: 714px;
  }
}