@import "../../color";
.Popup-default-template {
  @import "wrapComponent";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  //problem z-index
  z-index: 1001;
  overflow: auto;
  .paranja {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //problem
    z-index: -1;
    background: $bg-popup-default;
    cursor: auto;
  }
  .wrap-back {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .back {
      display: none;
      font-size: 15px;
      line-height: 140%;
      text-align: right;
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      .btn {
        background-image: url("../images/icons/arrow-back.svg");
        background-position: center center;
        background-repeat: no-repeat;
        width: 10px;
        height: 21px;
        margin-right: 3px;
      }
      &.block {
        display: flex;
        align-items: center;
      }
      &:hover {
        color: #FFFFFF;
        .btn {
          background-image: url("../images/icons/arrow-back-white.svg");
        }
      }
    }
    .close {
      display: flex;
      justify-content: flex-end;
      .close-icon {
        display: flex;
        cursor: pointer;
      }
      .btn-close {
        background-image: url("../images/icons/close-regisr.svg");
        background-position: center center;
        background-repeat: no-repeat;
        width: 16px;
        height: 21px;
      }
      &:hover {
        .btn-close {
          background-image: url("../images/icons/close_popup_white.svg");
        }
      }
    }
  }
}