.title-registration {
    margin-top: 47px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    @media (max-width: 414px) {
        margin-top: 35px;
        font-size: 22px;
        line-height: 25px;
    }
}