@import '../color';
@import '../var';


.bestsellers-header-wrapper {
  margin-bottom: 34px;
  @media(max-width: 1024px) {
    margin-bottom: 23px;
  }
}

.Bestsellers-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    align-items: center;
  }

  .categories a {
    font-weight: bold;
    font-size: 14px;
    line-height: 106.8%;
    letter-spacing: 0.05em;
    color: #3D3D3C;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }

  .categories:hover {
    color: $burgundy;
  }

  .line {
    width: 16px;
    border-bottom: 2px solid $color-C8C8C8;
    transform: rotate(90deg);
    margin: 0 8px 0 8px;
  }

  .see-all {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.05em;
    color: $color-3D3D3C;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: $burgundy;
    }
  }
}
