.bread-crumbs {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  padding: 20px 0;
    a {
      cursor: pointer;
      text-decoration: none;
    }
    .home a {
      color: #777777;
      &:hover {
        color: #3D3D3C;
      }
    }
  .line-span {
    margin-right: 4px;
    margin-left: 4px;
  }
    .title a {
      color: #3D3D3C;
    }
    @media (max-width: 1024px) {
      padding: 10px 15px;
  }
}



