@import '../color';
@import '../var';
.Button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;

  .text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.07em;
    color: #3D3D3C;
  }

  .arrow {
    background: url("../images/icons/arrow.svg") no-repeat;
    width: 11px;
    height: 11px;
  }
}
.button-write-feedback {
  background: #8F8F8F;
  border-radius: 4px;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  max-width: 232px;
  margin: 0 auto 40px auto;
  padding: 8px 0 11px;
  cursor: pointer;
  &:hover {
    background: #AB064E;
  }
}
