@import '../color';
@import '../var';
.Button {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;

  .text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.07em;
    color: #3D3D3C;
  }
  .text:hover {
    color: #AB064E;
  }

  .arrow {
    background: url("../images/icons/arrow.svg") no-repeat;
    width: 11px;
    height: 11px;
    margin-left: 4px;
  }
}
