.Button-product {
  .text {
    width: 76px;
    background-color: #E7003E;
    font-weight: bold;
    font-family: Geometria, sans-serif;
    font-size: 10px;
    line-height: 106.8%;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 0;
    text-transform: uppercase;
    letter-spacing: 0.4px;
  }
}