@import "../color";
.button-personal-data {
  font-size: 15px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  height: 36px;
  background: $color-B2B2B2;
  color: $baseColor;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background: $burgundy;
  }
  @media (max-width: 1024px) {
    background: $burgundy;
    height: 40px;
  }
  @media (max-width: 715px) {
    width: 100%;
  }
}