@import '../color';
@import '../var';
.Card-banner {
  width: 76px;
  font-weight: bold;
  font-size: 10px;
  line-height: 106.8%;
  color: #FFFFFF;
  background: #713BA5;
  padding: 5px;
  text-align: center;
  display: inline-block;
  position: absolute;
  text-transform: uppercase;


  &.banner-top {
    top: 0;
  }

  &.banner-bottom {
    bottom: 0;
  }
}
