.Card-banner {
  width: 76px;
  font-weight: bold;
  font-size: 10px;
  line-height: 106.8%;
  color: #FFFFFF;
  background: #E7003E;
  padding: 5px;
  text-align: center;
  display: inline-block;
  position: absolute;


  &.banner-top {
    top: 0;
  }

  &.banner-bottom {
    bottom: 0;
    margin-bottom: -10px;
  }
}
