@import '../color';
@import '../var';

.Categories-title {
  display: flex;

  &-text {
    font-weight: bold;
    font-size: 12px;
    line-height: 106.8%;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: $baseColor;
    background: $color-3D3D3C;
    padding: 8px 8px 8px 10px;
    min-width: 243px;
  }


  &-line {
    border-bottom: 2px dotted $color-777777;
    width: 100%;
  }

  @media (max-width: $width-414) {
    &-text {
     min-width: 222px;
    }
  }
}
