@import '../color';
@import '../var';

.Categories-title {
  display: flex;

  &-text {
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #3D3D3C;
    padding: 7px 10px 8px 10px;
    width: 260px;
  }


  &-line {
    border-bottom: 2px dotted #777777;;
    width: 100%;
  }
  @media (max-width: $tablet-breakpoint) {
    &-text {
      width: 305px;
    }
  }
  @media (max-width: $mobile-breakpoint) {
    &-text {
      width: 340px;
    }
  }
  @media (max-width: $portrait-breakpoint) {
    &-text {
      width: 400px;
    }
  }
}
