.ChildrenSidebar {
  .link-children {
    display: flex;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
  }
  .line-white {
    background: #F3F2F0;
  }
  .wrap-span {
    display: flex;
    flex-direction: column;
  }
  .img {
    margin-right: 10px;
  }
  .item {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;

    text-transform: uppercase;

    color: #555555;
  }
  .month {

    font-size: 11px;
    line-height: 140%;
    color: #777777;
  }
}