@import 'flex';
@import 'img';
@import 'cardBanner';
@import 'bestsellersHeader';
@import 'size';
@import 'sliderPointer';
@import 'sale';
@import 'commonCard/commonCard';
@import 'health';
@import 'points';
@import 'Mobile-sub-menu';
@import 'line-white';
@import 'selectPlugin';
@import 'buttonProduct';
@import 'infoProduct';
@import 'favorites';
@import 'description';
@import 'titleProdactPage';
@import 'price';
@import 'infoTable';
@import 'anotherColor';
@import 'popupPhoto/popupPhoto';
@import 'popupDefaultTemplate/buttonRegistration';
@import 'popupDefaultTemplate/titleRegistration';
@import 'popupDefaultTemplate/checkboxRegistration';
@import 'popupDefaultTemplate/popupDefaultTemplate';
@import 'popupDefaultTemplate/infoTextRegistration';
@import 'entry/entryRegistration';
@import 'sizeInfo';
@import 'quantity';
@import 'priceContent';
@import 'moyomodaBlock';
@import 'pagination';
@import 'titleImg';
@import 'navigation';
@import 'navigation-mobile';
@import 'sumMoneySale';
@import 'breadCrumbs';
@import 'titleWrapper';
@import './zoomPhoto';
@import "./popupTable/popupTableMainSize";
