.favoritesProduct {
  cursor: pointer;
  display: flex;
  align-items: center;
  .img-like {
    background-image: url("../images/icons/favirote-quiq.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 20px;
    height: 18px;
    &:hover {
      background-image: url("../images/icons/favirote-quiq-2.svg");
    }
  }


  &.favorite-product-active {
    .img-like {
      background-image: url("../images/icons/favirote-quiq-3.svg");
      width: 20px;
      height: 18px;
    }
  }
}