.Health {
  background: url("../images/icons/health.svg") no-repeat;
  background-size: contain;
  width: 16px;
  height: 15px;
  cursor: pointer;
  transition: 1s;
  display: none;

  &:hover {
    transform: scale(1.2);
  }

}
