.Icon-img {
  display: grid;
  grid-template: repeat(auto-fit, minmax(70px, 1fr)) / repeat(auto-fit, minmax(55px, 1fr));
  grid-gap: 22px 30px;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    &:hover {
      .title {
        color: #AB064E;
      }
    }
    &:last-child {
      .title {
        color: #AB064E;
      }
    }

    .title {
      font-weight: bold;
      font-size: 9px;
      line-height: 10px;
      text-transform: uppercase;
      color: #555555;
      margin-top: 12px;
    }
  }
  @media (max-width: 414px) {
    grid-gap: 22px 17px;
  }
  @media (max-width: 320px) {
    grid-gap: 22px 12px;
  }
}