.infoProduct {
  margin-bottom: 1px;
  .infoType {
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    color: #3D3D3C;
  }
  .infoResult {
    font-weight: normal;
    margin-left: 6px;
  }
  &:last-child {
    margin-bottom: 0;
    .infoType {
      line-height: 100%;
    }
  }
}