@import "../color";
.infoTable {
  width: 100%;
  .common {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    .table-size {
      font-size: 14px;
      height: 100%;
      cursor: pointer;
      color: $color-777777;
      border-bottom: 0.5px dashed $color-777777;
      &:hover {
        color: $burgundy;
        border-bottom: 0.5px dashed $burgundy;
      }
    }
    .size-quantity {
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      color: #3D3D3C;
      margin-right: 10px;
    }
  }
  table {
    font-size: 14px;
    line-height: 20px;
    border-collapse: collapse;
    width: 100%;
    th {
      background: $color-F3F2F0;
      color: $color-3D3D3C;
      padding: 10px 0;
      text-align: left;
      font-weight: normal;
    }
    .tr-common {
      background-image: linear-gradient(to right, $color-777777 33%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 4px 2px;
      background-repeat: repeat-x;
    }
    .td-common {
      padding: 4px 0;
    }
    .price {
      padding-left: 12px;
      color: $burgundy;
    }
    #col1 {
      width: 277px;
    }
    #col2 {
      width: 158px;
    }
    #col3 {
      width: 153px;
    }
    #col1, #col2, #col3 {
      padding: 10px 0 10px 12px;
    }
  }
  .result {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    .result-price,
    .result-title{
      font-size: 16px;
      line-height: 22px;
    }
    .result-price {
      font-weight: bold;
    }
    .input-count-number {
      color: #3D3D3C;
      font-weight: bold;
      text-align: right;
    }
    .count {
      max-width: 28px;
    }
  }

  .input-count-number {
    max-width: 53px;
    border: none;
    background: none;
    text-align: center;
    outline: none;
    cursor: default;
  }
  .price-product {
    .action {
      display: flex;
      margin-bottom: 2px;
      .ButtonSale {
        padding: 0 2px;
      }
      .old-price {
        font-size: 12px;
        line-height: 106.8%;
        color: $color-777777;
        text-decoration: line-through;
      }
    }
    .price {
      font-size: 14px;
      line-height: 106.8%;
      color: $color-3D3D3C;
      padding: 0;
    }
  }
  .strings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right, $color-777777 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 4px 2px;
    background-repeat: repeat-x;
    height: 42px;
    .quantity {
      margin-right: 50px;
    }
  }
  .wrapper-first-line {
    display: flex;
    justify-content: space-between;
    background: $color-F3F2F0;
    padding: 10px 0;
    font-size: 14px;
    line-height: 20px;
    .first-title {
      padding-left: 12px;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 546px 528px;
    grid-column-gap: 20px;
  }

  @media (max-width: 410px) {
    table {
      #col1 {
        width: 29%;
      }
      #col2 {
        width: 26%;
      }
      #col3 {
        width: 46%;
      }
    }
  }
  @media (max-width: 343px) {

    table {
      .quantity {
        .quantity-number {
          margin-right: 0;
          margin-left: 0;
        }
      }
      #col1 {
        width: 28%;
      }
      #col2 {
        width: 21%;
      }
      #col3 {
        width: 51%;
      }
    }
  }
}
