@import '../color';

.Mobile-sub-menu {
  .main-sub-menu {
    display: flex;
    justify-content: space-between;
    background: #F3F2F0;
    padding: 15px 18px;
    align-items: center;
  }
  .title-sub-menu {
    font-weight: bold;
    text-transform: capitalize;
    color: #555555;
    letter-spacing: 0.05em;
    font-size: 15px;
    line-height: 17px;
  }
  .button-back {
    display: flex;
    align-items: baseline;
    cursor: pointer;
  }
  .back {
    width: 9px;
    height: 9px;
    transform: rotate(180deg);
    background: url("../images/icons/arrow2.svg");
    background-size: contain;
    outline: none;
  }
  .text-back {
    font-size: 11px;
    line-height: 13px;

    letter-spacing: 0.05em;

    color: #3D3D3C;
  }
  .line {
    border-bottom: 2px dotted #D9D9D9;
  }
  .categories {
    padding: 0 18px 26px 18px;
    //background: $baseColor;

    .choice {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 0.05em;

      .arrow {
        background: url("../images/icons/arrow2.svg") no-repeat;

        width: 10px;
        height: 10px;
        display: none;
      }

      &:hover {
        color: #AB064E;
        cursor: pointer;

        .arrow {
          display: block;
        }
      }
    }
  }

}
