@import '../color';
@import '../var';

.Moyomoda-Block {
  -webkit-transform: translate3d(0,0,0);
  position: relative;
  z-index: 2;
  background-color: #f9f9f9;
  background-image: url("../images/moyo/bg.png");
  background-repeat: no-repeat;
  background-position: 49.3% 51%;
  background-size: auto;
  margin: 0 auto 0 auto;

  .root {
    max-width: 1480px;
    margin: auto;
    padding: 68px 20px 100px 20px;
  }

  .main-title {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    .caption {
      font-size: 17px;
      line-height: 18px;
      margin-right: 10px;
      color: #666666;
    }
    img {
      margin-bottom: 4px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .box-img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .info {
      padding-top: 20px;
      display: flex;
      cursor: pointer;
      .line {
        border-left: 2px solid #C8C8C8;
        height: 52px;
        margin-right: 18.45px;
      }
      .text {
        color: #3D3D3C;
        .title {
          font-weight: bold;
          font-size: 16px;
          line-height: 100%;
          margin-bottom: 3px;

        }
        .description {
          font-size: 13px;
          line-height: 100%;
        }
      }
    }
    &:hover {
      .line {
        border-left: 2px solid #AB064E;
      }
      .text {
        .title {
          color: #AB064E;
        }
      }
    }
  }
  .mobile {
    display: none;
    .card {
      align-items: center;
      .img {
        height: 231px;
      }
    }
  }
  @media (max-width: 1576px) {
    background-size: contain;
  }
  @media (max-width: 1440px) {
    background-position: 50% 48%;
    .card {
      .img {
        height: 230px;
      }
      .info {
        .line {
          margin-right: 14px;
        }
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    background-position: 50% 56%;
    .root {
      padding: 68px 20px 80px 20px;
    }
    .card {
      .info {
        .text {
          .description {
            font-size: 12px;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    .root {
      padding: 68px 20px 60px 20px;
    }
    .card {
      margin-right: 15px;
      .img {
        height: 160px;
      }

      .info {
        .text {
          .title {
            font-size: 14px;
          }

        }
        .line {
          margin-right: 10px;
        }
      }
    }
  }
  @media (max-width: $with-767) {
    background-size: 220% 37%;
    background-position: 14% 55%;
    .root {
      padding: 30px 0  74px 0;
    }

    .main-title {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      margin-left: 16px;
      align-items: flex-start;
      .caption {
        font-size: 12px;
        line-height: 17px;
        margin-right: 0;

      }
    }
    .card {
      .info {
        .text {
          .title {
            font-size: 16px;
          }

          .description {
            font-size: 12px;
          }
        }
        .line {
          margin-right: 18px;
        }
      }
    }
    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }
}
