.Navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .item {
    width: 25%;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 4px solid #D9D9D9;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    color: #3D3D3C;
    &.active {
      border-bottom: 4px solid #AB064E;
      font-weight: bold;
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}
