@import '../color';
@import '../var';
.Price-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 19px;
  background: $baseColor;
  color: $color-Blocks;

  .action {
    display: flex;
    align-items: center;
    height: 12px;
    margin-bottom: 3px;

    .old-price {
      font-size: 12px;
      line-height: 106.8%;
      text-decoration: line-through;
    }

    .new-price {
      font-size: 12px;
      line-height: 106.8%;
      color: #AB064E;
      margin-left: 5px;
    }
  }
  .sale-price {
    margin-top: 6px;
  }
  .price {
    font-weight: bold;
    font-size: 15px;
    line-height: 106.8%;

  }
  @media (max-width: 1200px) {
    .action {
      .old-price,
      .new-price {
        font-size: 11px;
        line-height: 12px;
      }
    }
    .price {
      font-size: 13px;
      line-height: 14px;
    }
  }
}
