@import '../color';
@import '../var';

.ButtonSale {
  padding: 0 4px;
  background: #009295;
  color: #ffffff;
  border-radius: 1px;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}