.select {
  width: 100%;
  position: relative;
  z-index: 5;

  &.open {
    .popup-selected-items {
      display: block;
    }

    .input-selected-item {
      .arrow-wrapper {
        .arrow {
          transform: rotate(270deg);
        }
      }

    }
  }

  .popup-selected-items {
    margin-top: 7px;
    padding: 5px 0 0 0;
    background-color: #FDFDFD;
    position: absolute;
    z-index: 3;
    width: 100%;
    display: none;
    padding: 10px;
    border-top: 5px solid #F3F2F0;

    .select-item {
      border-bottom: 1px dotted #ccc;
      padding: 8px 0;
      background-color: #FDFDFD;
      cursor: pointer;

      &.selected {
        color: #AB064E;
      }

      &:hover {
        color: #AB064E;
      }
    }

    .select-item:first-child {
      padding-top: 0;
    }

    .select-item:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

  }


  .input-selected-item {
    display: flex;
    justify-content: space-between;
    min-width: 132px;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3C;
    cursor: pointer;

    .arrow-wrapper {
      display: flex;
      align-items: center;

      .arrow {
        transform: rotate(90deg);
        margin: 0 5px 2px 5px;
      }

      .value {
        display: block;
        width: 24px;
        text-align: right;
      }
    }

  }

}
