.select {
  width: 100%;
  position: relative;
  z-index: 100;

  &.open {
    .popup {
      display: block;
    }
  }

  .popup {
    padding: 12px;
  }

  &__item {
    border-bottom: 1px dotted #ccc;
    padding: 8px 0;

    &.selected {
      background-color: bisque;
    }

    &:hover {
      //background-color: #eee;
      cursor: pointer;
      transition: .15s background-color ease-in;
    }
  }

  .pages {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #3D3D3C;
    .select {
      display: flex;
      cursor: pointer;

      .wrap {
        display: flex;
        .page-title {
          margin-left: 8px;
        }
      }
    }
    .arrow {
      transform: rotate(90deg);
      margin: 0 5px 2px 5px;
    }

  }

}
