@import '../color';
@import '../var';
.Size {
  display: flex;
  flex-wrap: wrap;
  .size {
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: $color-3D3D3C;
    margin-right: 3px;
    padding: 6px;
    border: 1px solid $color-777777;
    margin-top: 3px;

    &:hover {
      cursor: pointer;
      outline: 2px solid $color-777777;
      outline-offset: -2px;
    }

    &.active {
      background: $color-777777;
      color: $baseColor;
    }
  }
  .size:last-child {
    margin-right: 0;
  }
}
