@import "../color";
.Size-info {
  .size {
    display: flex;
    align-items: center;
    padding-left: 12px;
    .td-size {
      margin-right: 20px;
    }
    .img-size-wrapper {
      position: relative;
      .popup {
        width: 181px;
        background: $color-3D3D3C;
        border-radius: 4px;
        padding: 6px 8px 10px 10px;
        font-size: 12px;
        line-height: 150%;
        color: $baseColor;
        position: absolute;
        top: -96px;
        left: -7px;
        display: none;
        z-index: 2;
      }
      .popup::after, .popup::before {
        content: '';
        position: absolute;
        background: $color-3D3D3C;
        left: 10px;
        bottom: -4px;
        width: 8px;
        height: 8px;
        z-index: -1;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      &:hover {
        .popup {
          display: block;
        }
      }
    }
    .img-size {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        .popup {
          display: block;
        }
      }
    }
  }
}