.slider-pointer {
  display: flex;
  align-items: center;

  .swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;

    span {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #3D3D3C;
      margin-left: 9px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.6);
      opacity: 1;
    }

    span:first-child {
      margin-left: 0;
    }

    .swiper-pagination-bullet-active {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: transparent;
      border: 2px solid #FFFFFF;
    }
  }


  .left {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
    background: url("../images/icons/arrow2.svg");
    margin-right: 10px;
    cursor: pointer;
    outline: none;

    &:hover {
      background: url("../images/icons/arrow.svg");
    }
  }
  .right {
    width: 10px;
    height: 10px;
    background: url("../images/icons/arrow2.svg");
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      background: url("../images/icons/arrow.svg");
    }
  }

  .ellipse-wrapper {
    display: flex;
    align-items: center;
    .ellipse_main {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      border: 2px solid #3D3D3C;
    }
    .ellipse {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #3D3D3C;
      margin-left: 9px;
      cursor: pointer;
    }
  }

  &.slider-pointer-bestseller {
    .swiper-pagination {

      span {
        background: #3D3D3C;

      }

      .swiper-pagination-bullet-active {
        border: 2px solid #3D3D3C;
        background: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
      }
    }
  }

  &.main {

    .left {
      transform: rotate(360deg);
      background: url("../images/icons/arrow-white.svg");

      &:hover {
        transform: rotate(-180deg);
        background: url("../images/icons/arrow.svg");
      }
    }

    .right {
      transform: rotate(180deg);
      background: url("../images/icons/arrow-white.svg");

      &:hover {
        transform: rotate(360deg);
        background: url("../images/icons/arrow.svg");
      }
    }

    .ellipse-wrapper {

      .ellipse_main {
        border: 2px solid #FFFFFF;
      }

      .ellipse {
        background: rgba(255, 255, 255, 0.6);
      }
    }
  }

  &.black {
    .swiper-pagination {

      span {
        background: #3D3D3C;

      }

      .swiper-pagination-bullet-active {
        border: 2px solid #3D3D3C;
        background: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
      }
    }
  }

}

@media (max-width: 1024px) {
  .slider-pointer .left {
    display: none;
  }
  .slider-pointer .right {
    display: none;
  }
}