@import "../color";
.title-product-page {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  color: $color-3D3D3C;
  padding-bottom: 11px;
  border-bottom: 1px solid $burgundy;
  display: flex;
  justify-content: space-between;
  .arrow {
    display: none;
  }
  @media (max-width: 1024px) {
    border-top: 1px solid $color-D9D9D9;
    padding-top: 8px;
    border-bottom: none;
    .arrow {
      display: block;
      transform: rotate(90deg);
      margin-right: 5px;
    }
  }
}
