@import '../../color';
@import '../../var';

$widthCardImage: 87px;

.Card {
  cursor: default;
  position: relative;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #555555;
  }
  .card-banner-wrapper {
    position: relative;
  }
  .img-wrapper {
    position: relative;
    padding-bottom: 150.5%;
    overflow: hidden;
  }
  .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .info {
    background: #FFFFFF;
    padding: 19px;
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  .description {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
  }
  .quick-view {
    display: none;
  }
  .additional-information {
    padding-top: 0;
    .quick-view {
      display: flex;
      justify-content: center;
    }
    .content {
      display: none;
    }
    .text-size-wrapper {
      border: 1px solid #555555;
      position: absolute;
      background: #fff;
      padding: 0 19px 23px 19px;
      z-index: 2;
      margin-top: -10px;
      right: -1px;
      left: -1px;
      border-top: none;
      .text {
        padding-bottom: 10px;
        color: #3D3D3C;
      }
      .block-under-image {
        position: absolute;
        bottom: -1px;
        background: #555555;
        height: 100%;
        width: $widthCardImage;
        left: 100%;
        border-bottom: 1px solid #555555;
      }
    }
    .images {
      z-index: 2;
      position: absolute;
      top: -1px;
      right: -$widthCardImage;
      width: $widthCardImage;
      background: #555555;
      padding: 5px;
      .photos-block-common-block {
        height: 490px;
        @media (max-width: 1200px) {
          height: 390px;
        }
      }
      .button {
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 120%;
        background: rgba(61, 61, 60, 0.4);
        z-index: 2;
        height: 15px;
        left: -10%;
        cursor: pointer;
        display: none;
        .arrow {
          background-image: url("../images/icons/arrow-card.svg");
          background-repeat: no-repeat;
          width: 12px;
          height: 6px;
        }
        &.button-prev {
          top: 0;
        }
        &.button-next {
          bottom: 0;
          .arrow {
            transform: rotate(180deg);
          }
        }
      }
      &:hover {
        .button {
          display: flex;
        }
      }
    }
  }
  &.additional-information-open {
    border: 1px solid #555555;
    .quick-view {
      display: flex;
      justify-content: center;
    }
    .content {
      display: block;
    }
    .Health {
      display: block;
    }
  }
  &.additional-information-open-left {
    border: 1px solid #555555;
    .quick-view {
      display: flex;
      justify-content: center;
    }
    .content {
      display: block;
      .text-size-wrapper {
        .block-under-image {
          left: -$widthCardImage;
        }
      }
      .images {
        left: -$widthCardImage;
      }
    }
    .Health {
      display: block;
    }
  }
  .quick-view-test {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    .paranja {
      position: fixed;
      width: 100%;
      height: 100%;
      background: #000000;
      opacity: .5;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  @media (max-width: 1280px) {
    .additional-information {
      .content {
        .text-size-wrapper {
          .block-under-image {
            width: $widthCardImage/1.1;
          }
        }
        .images {
          right: -$widthCardImage/1.1;
          width: $widthCardImage/1.1;
        }
      }
    }
    &.additional-information-open-left {
      .content {
        .text-size-wrapper {
          .block-under-image {
            left: -$widthCardImage/1.1;
          }
        }
        .images {
          left: -$widthCardImage/1.1;
        }
      }
    }
  }
  @media (max-width: $tablet-breakpoint) {
    .root {
      .main-title {
        margin-bottom: 28px;
      }
    }
    .info {
      padding: 11px;
    }
    .title {
      font-size: 14px;
      line-height: 15px;
      text-transform: capitalize;
      margin-bottom: 3px;
    }
    .description {
      font-weight: normal;
      font-size: 11px;
      line-height: 11px;
    }
  }
}