@import '../../color';
@import '../../var';
@import 'quickViewButton';

$widthCardImage: 87px;

.Card {
  cursor: default;
  position: relative;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $color-555555;
  }

  .card-banner-wrapper {
    position: relative;
  }

  .img-wrapper {
    position: relative;
    padding-bottom: 150.5%;
    overflow: hidden;
  }

  .img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .info {
    background: $baseColor;
    padding: 19px;
    position: relative;
    margin: 0;
    overflow: hidden;
  }

  .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .description {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
  }

  .quick-view {
    display: none;
  }

  @import "./additionalInformation";

  .quick-view-test {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    .paranja {
      position: fixed;
      width: 100%;
      height: 100%;
      background: $black;
      opacity: .5;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    .root {
      .main-title {
        margin-bottom: 28px;
      }
    }
    .info {
      padding: 11px;
    }
    .title {
      font-size: 14px;
      line-height: 15px;
      text-transform: capitalize;
      margin-bottom: 3px;
    }
    .description {
      font-weight: normal;
      font-size: 11px;
      line-height: 11px;
    }
  }
}
