@import '../../color';
@import '../../var';

$widthCardImage: 87px;

.Common-card {
  .card {
    cursor: default;
    position: relative;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid #555555;
    }

    .card-banner-wrapper {
      position: relative;
    }
    .img-wrapper {
      position: relative;
      padding-bottom: 150.5%;
      overflow: hidden;
    }
    .img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .info {
      background: #FFFFFF;
      padding: 19px;
      position: relative;
      margin: 0;
      overflow: hidden;
    }

    .title {
      font-weight: bold;
      font-size: 16px;
      line-height: 17px;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    .description {
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
    }


    .quick-view {
      display: none;
    }

    .additional-information {
      padding-top: 0;

      .quick-view {
        display: flex;
        justify-content: center;
      }

      .content {
        display: none;
      }

      .text-size-wrapper {
        border: 1px solid #555555;
        position: absolute;
        background: #fff;
        padding: 0 19px 23px 19px;
        z-index: 2;
        margin-top: -10px;
        right: -1px;
        left: -1px;
        border-top: none;
        .text {
          padding-bottom: 10px;
        }

        .block-under-image {
          position: absolute;
          top: 0;
          bottom: 0;
          background: #555555;
          height: 101%;
          width: $widthCardImage;
          left: 100%;
          border-bottom: 1px solid #555555;
        }
      }

      .images {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -1px;
        right: -$widthCardImage;
        width: $widthCardImage;
        background: #555555;
        padding: 4.85px 4.85px 0 4.85px;
        //border: 1px solid #555555;

        img {
          width: 100%;
          padding-bottom: 4.85px;
        }
      }

    }

    &.additional-information-open {
      border: 1px solid #555555;
      //outline: 1px solid #555555;
      //border-left: 1px solid red;
      .quick-view {
        display: flex;
        justify-content: center;
      }
      .content {
        display: block;

      }

      .Health {
        display: block;
      }
    }

    &.additional-information-open-left {
      border: 1px solid #555555;
      .quick-view {
        display: flex;
        justify-content: center;
      }
      .content {
        display: block;

        .text-size-wrapper {
          .block-under-image {
            left: -$widthCardImage;
          }
        }

        .images {
          left: -$widthCardImage;
        }
      }

      .Health {
        display: block;
      }
    }

    @media (max-width: 1480px) {
      .additional-information {
        .content {
          .text-size-wrapper {
            .block-under-image {
              width: $widthCardImage/1.1;
            }
          }

          .images {
            right: -$widthCardImage/1.1;
            width: $widthCardImage/1.1;
          }
        }
      }

      &.additional-information-open-left {
        .content {
          .text-size-wrapper {
            .block-under-image {
              left: -$widthCardImage/1.1;
            }
          }

          .images {
            left: -$widthCardImage/1.1;
          }
        }
      }
    }

    @media (max-width: $tablet-breakpoint) {
      .root {
        .main-title {
          margin-bottom: 28px;
        }
      }
      .info {
        padding: 11px;
      }
      .title {
        font-size: 14px;
        line-height: 15px;
        text-transform: capitalize;
        margin-bottom: 3px;
      }

      .description {
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
      }
    }
  }
}