@import '../../color';
@import '../../var';
.Common-card {
  .card {
    cursor: default;
    position: relative;

    .card-banner-wrapper {
      position: relative;
    }
    .img-wrapper {
      position: relative;
      padding-bottom: 150.5%;
      overflow: hidden;
    }
    .img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .info {
      background: #FFFFFF;
      padding: 19px;
      position: relative;
      margin: 0;
      overflow: hidden;
    }

    .title {
      font-weight: bold;
      font-size: 16px;
      line-height: 17px;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    .description {
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
    }


    .quick-view {
      display: none;
    }

    .additional-information {
      padding-top: 0;

      .quick-view {
        display: flex;
        justify-content: center;
      }

      .content {
        display: none;
      }

      .text-size-wrapper {
        position: absolute;
        background: #fff;
        padding: 0 19px 32px 19px;
        z-index: 2;
      }

      .images {
        z-index: 2;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -82px;
        background: #3D3D3C;
        padding: 5px 5px 0 5px;

        img {
          width: 77.62px;
          height: 116.44px;
          padding-bottom: 4px;
        }
      }

    }

    &.additional-information-open {
      .quick-view {
        display: flex;
        justify-content: center;
      }
      .content {
        display: block;

      }

      .Health {
        display: block;
      }
    }

    &.additional-information-open-left {
      .quick-view {
        display: flex;
        justify-content: center;
      }
      .content {
        display: block;
        .images {
          width: fit-content;
          left: -82px;
        }
      }

      .Health {
        display: block;
      }
    }

    @media (max-width: $tablet-breakpoint) {
      .root {
        .main-title {
          margin-bottom: 28px;
        }
      }
      .info {
        padding: 9px 12px;
      }
      .title {
        font-size: 14px;
        line-height: 15px;
        text-transform: capitalize;
        margin-bottom: 3px;
      }

      .description {
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
      }
    }
  }
}