.view-order-table {
  width: 100%;
  margin-bottom: 60px;
  .title-main-string {
    td {
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .first-string {
      text-align: center;
      &.name-percent {
        text-align: start;
        width: 25%;
      }
    }
  }
  .auxiliary-unit-top {
    height: 30px;
    .line-top {
      border-top: 2px solid #D9D9D9;
    }
  }
  .auxiliary-unit-bottom {
    height: 28px;
    td {
      background-image: linear-gradient(to right, #777777 33%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 4px 2px;
      background-repeat: repeat-x;

    }
  }
  @media (max-width: 768px) {
    .title-main-string {
      .first-string {
        &:first-child {
          display: none;
        }
        &:nth-child(5) {
          display: none;
        }
        &.name-percent {
          text-align: start;
          width: 25%;
        }
      }
    }
  }
}