.wrap-order-mobail {
  margin-bottom: 140px;
  .wrapper-order-name {
    .order-name {
      margin-bottom: 15px;
    }
  }
  .order-name-mobail {
    .wrap-common {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 20px 0;
      .pay-order {
        align-items: start;
        .pay-online {
          width: 100%;
          text-align: left;
        }
        .way-pay {
          margin-bottom: 7px;
          font-weight: bold;
        }
      }
      .more-details {
        font-size: 12px;
        line-height: 14px;
        text-decoration-line: underline;
        text-transform: capitalize;
        color: #777777;
        display: flex;
        align-items: center;
        cursor: pointer;
        .arrow {
          background-image: url("../images/icons/arrow5.svg");
          background-repeat: no-repeat;
          background-position: center center;
          width: 10px;
          height: 10px;
          transform: rotate(90deg);
          margin-left: 7px;
        }
        .hide {
          display: none;
        }
      }
    }
    .see-more-details {
      margin-bottom: 30px;
      display: none;
      .wrap-sum-col {
        display: flex;
        .post {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          .col {
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            padding: 10px 0;
            border-top: 2px solid #D9D9D9;
            border-bottom: 2px solid #D9D9D9;
          }
          .sum {
            width: 100%;
            font-size: 14px;
            line-height: 15px;
            text-align: center;
            padding: 27.5px 0;
            background-image: linear-gradient(to right, #777777 33%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 4px 2px;
            background-repeat: repeat-x;
          }
        }
      }
      .wrapper-icon-title {
        margin-top: 23px;
        margin-bottom: 30px;
        .icon-title {
          font-weight: bold;
          margin: 0;
        }
      }
      .button-see-order {
        background: #AB064E;
        border-radius: 4px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        width: 290px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }
    }
    .line {
      height: 2px;
      background-image: linear-gradient(to right, #777777 33%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 4px 2px;
      background-repeat: repeat-x;
    }
    &.show-info {
      .wrap-common {
        .more-details {
          .hide {
            display: block;
          }
          .more {
            display: none;
          }
          .arrow {
            transform: rotate(-90deg);
          }
        }
      }
      .see-more-details {
        display: block;
      }
    }
    .title-add {
      font-size: 10px;
      line-height: 11px;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      background: #F3F2F0;
      margin-bottom: 2px;
      img {
        margin-right: 8px;
      }
    }
  }
  .link-see-order {
    display: none;
  }
}