.Card-product-page {
  @import "./components/viewPhotosBlock";
  @import "./components/product-description";
  @import "./components/buttonProduct";
  @import "./components/titleProdactPage";
  @import "./components/star";
  @import "./components/favorites";
  @import "./components/transitionBrand";
  @import "./components/infoProduct";
  @import "./components/socialProduct";
  @import "./components/anotherColor";
  @import "./components/infoTable";
  @import "./components/attention";
  @import "./components/description";
  @import "./components/dopInfo";
  @import "./components/form";
  .root {
    padding: 0 15px;
    max-width: 1480px;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .wrapper-card {
    margin-top: 116px;
    .bestseller-product,
    .bestseller-product2{
      padding-bottom: 120px;
      .content {
        .line {
          display: none;
        }
        .see-all {
          display: none;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .transitionWrapper {
      padding: 10px 0;
    }
    .wrapper-card {
      margin-bottom: 163px;
      .bestseller-product,
      .bestseller-product2{
        padding-bottom: 50px;
      }
    }
  }
  @media (max-width: 767px) {
    .wrapper-card {
      margin-top: 60px;
    }
  }
}