.Card-product-page {
  @import "components/viewPhotosBlock";
  @import "./components/product-description";
  @import "../common/buttonProduct";
  @import "../common/titleProdactPage";
  @import "../common/favorites";
  @import "../common/infoProduct";
  @import "./components/socialProduct";
  @import "../common/anotherColor";
  @import "../common/infoTable";
  @import "./components/attention";
  @import "../common/description";
  @import "./components/dopInfo";
  @import "./components/form";
  @import "./components/statistics";
  @import "./components/gratitude";
  .root {
    padding: 0 20px;
    max-width: 1480px;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
  }
  .wrapper-card {
    padding: 0 20px;
    max-width: 1480px;
    margin: 116px auto 0 auto;
    .bestseller-product,
    .bestseller-product2{
      padding-bottom: 121px;

      .content {
        .line {
          display: none;
        }
        .see-all {
          display: none;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .root {
      padding: 0 15px;
    }
    .wrapper-card {
      padding: 0 15px;
    }
    .bread-crumbs-product {
      overflow: scroll;
      margin-left: -15px;

      .auxiliary-block {
        display: table;
        width: 15px;
        background: #ffffff;
      }
    }
    /* хром, сафари */
    .bread-crumbs-product::-webkit-scrollbar { height: 0; }
    /* ie 10+ */
    .bread-crumbs-product { -ms-overflow-style: none; }
    /* фф (свойство больше не работает, других способов тоже нет)*/
    .bread-crumbs-product { overflow: -moz-scrollbars-none; }
    .transitionWrapper {
      padding: 10px 0;
      display: flex;
      flex-wrap: nowrap;

      a {
        white-space: nowrap;
      }
    }
    .wrapper-card {
      margin-bottom: 163px;
      .bestseller-product,
      .bestseller-product2{
        padding-bottom: 50px;
      }
    }
  }
  @media (max-width: 767px) {
    .wrapper {
      flex-direction: column;
    }
    .wrapper-card {
      margin-top: 60px;
    }
  }
  @media (max-width: 699px) {
    .wrapper-card {
      padding-left: 15px;
      padding-right: 0;
      .bestsellers-header-wrapper {
        padding-right: 15px;
      }
    }
  }
}