.Card-product-page {
  @import "./components/viewPhotosBlock";
  @import "./components/product-description";
  @import "./components/buttonProduct";
  @import "./components/titleProdactPage";
  @import "./components/star";
  @import "./components/favorites";
  @import "./components/transitionBrand";
  @import "./components/infoProduct";
  @import "./components/socialProduct";
  @import "./components/anotherColor";
  @import "./components/infoTable";
  @import "./components/attention";
  @import "./components/description";
  @import "./components/dopInfo";
  @import "./components/form";
  .root {
    padding: 0 15px;
    max-width: 1480px;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .wrapper-card {
    margin-top: 116px;
    padding: 0 15px;

    .bestseller-product,
    .bestseller-product2{
      padding-bottom: 121px;

      .content {
        .line {
          display: none;
        }
        .see-all {
          display: none;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .test1 {
      overflow: scroll;
      margin-left: -15px;

      .test-block {
        display: table;
        width: 15px;
        background: #ffffff;
      }
    }
    /* хром, сафари */
    .test1::-webkit-scrollbar { height: 0; }

    /* ie 10+ */
    .test1 { -ms-overflow-style: none; }

    /* фф (свойство больше не работает, других способов тоже нет)*/
    .test1 { overflow: -moz-scrollbars-none; }
    .transitionWrapper {
      padding: 10px 0;
     display: flex;
      flex-wrap: nowrap;

      a {
        white-space: nowrap;
      }
    }
    .wrapper-card {
      margin-bottom: 163px;
      .bestseller-product,
      .bestseller-product2{
        padding-bottom: 50px;
      }
    }
  }
  @media (max-width: 767px) {
    .wrapper {
      flex-direction: column;
    }
    .wrapper-card {
      margin-top: 60px;
    }
  }
  @media (max-width: 699px) {
    .wrapper-card {
      padding-left: 15px;
      padding-right: 0;
      .bestsellers-header-wrapper {
        padding-right: 15px;
      }
    }
  }
}