.Bestsellers {
  -webkit-transform: translate3d(0,0,0);
  position: relative;
  z-index: 2;
  background: #f9f9f9;
  color: $color-Blocks;

  .main-woman,
  .main-child,
  .main-man,
  .main-home,
  .main-toy {
   padding-bottom: 200px;
  }

  .bestsellers-item {
    margin-top: -80px;
    @media (max-width: $tablet-breakpoint) {
      margin-top: -135px;
    }
  }

  .slider-root-categories {
    margin-bottom: 42px;
  }

  .root {
    max-width: 1440px;
    margin: auto;
    padding: 0;
    .main-title {
      margin-bottom: 72px;
    }
    @media (max-width: 1440px) {
      padding: 0 20px 0 20px;
    }
    @media (max-width: $tablet-breakpoint) {
      padding: 0 15px 0 15px;
    }
    @media (max-width: $mobile-breakpoint) {
      .main-title {
        margin-bottom: 40px;
      }
    }
    @media (max-width: $width-414) {
      padding-right: 0;

      .slider-pointer {
        margin-right: 16px;
      }
    }
  }
}






