@import "../../color";
.Menu {
  -webkit-transform: translate3d(0,0,0);
  display: none;
  justify-content: space-between;
  padding: 30px 15px 0;
  position: relative;
  z-index: 2;
  background: #f9f9f9;
  a {
    text-decoration: none;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid $burgundy;
    padding-bottom: 10px;
    padding-top: 13px;
    min-width: 153px;
    cursor: pointer;
    .logo {
      margin-right: 5px;
    }
    .title {
      font-weight: bold;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #555555;
    }
  }
  @media (max-width: 1024px) {
    display: flex;
  }
  @media (max-width: 965px) {
    .wrapper {
      padding-bottom: 10px;
      padding-top: 13px;
      min-width: 111px;
      .title {
        font-size: 11px;
        line-height: 13px;
      }
      .logo {
        margin-right: 2px;
      }
    }
  }
  @media (max-width: 767px) {
    .wrapper {
      flex-direction: column;
      padding-bottom: 8px;
      padding-top: 0;
      min-width: 79px;
      .title {
        font-size: 10px;
        line-height: 11px;
      }
      .logo {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }
  }
  @media (max-width: 414px) {
    padding-bottom: 10px;
    padding-right: 0;
    .wrapper {
      .logo {
        width: 35px;
        height: 35px;
      }
    }
  }
  @media (max-width: 320px) {
    padding-bottom: 0;
  }
}