.PopularBrand {
  -webkit-transform: translate3d(0,0,0);
  background: #f9f9f9;
  position: relative;
  z-index: 2;
  .root {
    max-width: 1480px;
    margin: auto;
    padding: 60px 20px 80px 20px;
  }
  .main-title {
    margin-bottom: 52px;
  }
  .img-wrap {
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    padding-bottom: 85%;
  }
  .Com-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    transition: 1s;
    transform: none;
    object-fit: cover;
  }
  .card {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    cursor: pointer;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #F3F2F0;
      padding: 20px;
      height: 100%;
      position: relative;
      margin: 0;
      overflow: hidden;
    }

    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    .description {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      margin-bottom: 24px;
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;
    }
    &:hover {
      .Com-img {
        transform: scale(1.1);
      }
      .button-more-details {
        .text {
          color: #AB064E;
        }
      }
    }
  }

  .desktop {
    .card:last-child {
      margin-right: 0;
    }

  }
  .mobile {
    display: none;
    .card {
      margin-right: 0;
      .info {
        min-height: 200px;
      }
      .description {
        margin-bottom: 20px;
      }
    }
  }

  .pointer-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
  }
  @media (max-width: $tablet-breakpoint) {
    .root {
      padding: 40px 15px 30px 15px;
    }
    .main-title {
      margin-bottom: 20px;
    }
    .card {
      margin-right: 16px;
      .info {
        padding: 15px;
      }
      .title {
        font-size: 16px;
        line-height: 18px;
      }
      .Com-img {
        &:hover {
          transform: none;
        }
      }
    }
  }
  @media (max-width: $mobile-breakpoint) {
    .root {
      padding-top: 30px;
    }
    .card {
      margin-right: 15px;
    }
  }
  @media (max-width: $with-767) {
    .desktop {
      display: none;
    }
    .root {
      padding-bottom: 25px;
    }
    .main-title {
      margin-bottom: 15px;
    }

    .mobile {
      display: block;
    }
  }
  @media (max-width: 415px) {
    .mobile {
      .card {
        .info {
          min-height: 190px;
        }
        .button-wrapper {
          display: none;
        }
      }
    }
  }
  @media (max-width: 413px) {
    .root {
      padding-bottom: 18px;
    }
    .mobile {
      .card {
        .info {
          min-height: 120px;
        }
      }
    }
  }
  @media (max-width: $portrait-breakpoint) {
    .mobile {
      .card {
        .info {
          padding-right: 50px;
        }
      }
    }
  }
}

