.CategoriesWomen {
  .wrapper-categoriesWomen {
    padding: 0 20px;
    background: #F9F9F9;
  }
  .wrap-IconImg {
    display: none;
  }
  .bestseller-goods {
    padding-bottom: 110px;
  }
  .wrap-categoriesTitle {
    margin-bottom: 40px;
  }
  .wrap-card-women-2 {
    padding-bottom: 100px;
  }
  .wrap-partnerOffers {
    margin-top: -50px;
    padding-bottom: 30px;
  }
  .content-page-categoriesWomen {
    margin-left: 243px;
  }
  .banner-video {
    position: relative;

    .video {
      width: 100%;
      height: auto;
      padding-bottom: 60px;
    }
  }
  .transitionWrapper {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    padding: 20px 0;
    background: #F9F9F9;

    a {
      cursor: pointer;
      text-decoration: none;
    }

    .home a {
      color: #777777;
      margin-right: 4px;

      &:hover {
        color: #3D3D3C;
      }
    }

    .title a {
      color: #3D3D3C;
      margin-left: 4px;
    }
  }

  .titleWrapper {
    padding: 7px 0 20px;
    max-width: 219px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    letter-spacing: 0.05em;
    color: #3D3D3C;
    .title {
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.04em;
      cursor: pointer;
    }
    .value {
      font-size: 11px;
      line-height: 13px;
    }
  }
  @media (max-width: 1024px) {
    .wrapper-categoriesWomen {
      padding: 0 15px;
    }
    .wrap-categoriesTitle {
      margin-bottom: 20px;
    }
    .sidebar-page-categoriesWomen {
      display: none;
    }
    .content-page-categoriesWomen {
      margin-left: 0;
    }
    .wrap-IconImg {
      display: block;
      padding:  0 0 60px 0;
    }
    .banner-video {
      .video {
        padding-bottom: 45px;
      }
    }
  }
  @media (max-width: 768px) {
    .wrap-IconImg {
      padding:  0 26px 60px 28px;
    }
  }
  @media (max-width: 415px) {
    .wrap-IconImg {
      padding:  0 0 50px 0;
    }
  }
}