.CategoriesWomen {
  .wrap-IconImg {
    display: none;
  }
  .bestseller-goods {
    padding-bottom: 110px;
  }
  .wrapper-categories {
    padding: 0 15px;
    background: #F9F9F9;
    max-width: 1480px;
    margin: 0 auto;
    overflow: hidden;

    .flex-wrap {

    }
  }

  @media (max-width: 1024px) {
    .wrap-IconImg {
      display: block;
      padding:  45px 0 0 0;
    }
  }
  @media (max-width: 768px) {
    .wrap-IconImg {
      padding:  45px 0 0 0;
    }
  }
}