@import '../color';
@import '../var';

.CategoriesWomen {
@import "banner";
  .wrap-IconImg {
    display: none;
  }
  .bestseller-goods {
    padding-bottom: 110px;
  }

  @media (max-width: $tablet-breakpoint) {
    .wrap-IconImg {
      display: block;
      padding:  45px 15px 0 15px;
    }
  }
}