.CategoriesWomen {

  .wrap-IconImg {
    display: none;
  }
  .bestseller-goods {
    padding-bottom: 110px;
  }

  @media (max-width: 1024px) {
    .wrap-IconImg {
      display: block;
      padding:  0 0 45px 0;
    }
  }
}