.CategoriesMenuSidebar {
  .sidebar {
    margin: 0;
    padding: 0;
    width: 223px;
    position: absolute;
    height: 100%;
    .title {
      text-transform: none;
      margin: 0;
      letter-spacing: 0.05em;
      font-size: 13px;
    }
    .point {
      padding: 10.5px 10px 10.5px 13px;
    }
    .choice {
      line-height: 14px;
      padding: 11px 0 9px 0;
      font-size: 13px;
    }
    .categories {
      padding: 2px 10px 1px 13px;
      overflow-y: scroll;
      max-height: 374px;
    }
  }
}






