@import '../color';
@import 'components/footer-mobail';

.Footer {
  .bg-footer {
  background-color: $bg-footer;
  }
  .wrapper {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .content {
    padding: 40px 0 212px 0;
    display: flex;
    justify-content: space-between;
  }
  .box {
    font-size: 14px;
  }

  .box nav {
    line-height: 270%;
  }
  .contact {
    display: contents;
  }
  .title-footer {
    font-weight: bold;
    line-height: 100%;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 13px;
    margin-top: 4px;
  }
  .box li {
    list-style-type: none;
  }
  .box  li > a {
    text-decoration: none;
    font-size: 14px;
    color: #555555;

    &:hover {
      color: #AB064E;
    }
  }

  .social {
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .s-title{
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #555555;
  }
  .s-img {
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104px;
  }
  .s-img a {
    display: flex;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }
  .phone {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .footer-phone {
    margin-bottom: 3px;
  }

  .phone a {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #555555;

    &:hover {
      color: #AB064E;
    }
  }
  .mode {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;

    color: #555555;
  }
  .redact {
    font-weight: normal;
  }
  .line-footer {
    border-left: 2px solid #C8C8C8;
    margin-left: 3px;
    margin-right: 4px;
  }
  .schema {
    margin-bottom: 16px;
  }
  .schema-img {
    margin-bottom: -3px;
  }
  .schema a {
    font-weight: bold;
    font-size: 10px;
    line-height: 11px;
    text-decoration-line: underline;

    color: #555555;
    &:hover {
      color: #AB064E;
    }
  }
  .bg-down {
    background: #3D3D3C;
  }
  .text {
    text-align: right;
    padding: 14px 0 13px 0;
    font-family: 'Geometria', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
  }
  .a-schema {
    margin-right: -2px;
  }

  @media (max-width: 1024px) {
    .contact {
      display: flex;
      flex-direction: column;
    }
    .partners {
      margin-bottom: 35px;
    }
    .left {
      order: 1;
    }
    .right {
      margin-bottom: 27px;
      order: 0;
    }
    .partners {
      margin: 0;
    }
    .social {
      margin-bottom: 28px;
    }
  }
  @media (max-width: 768px) {
    .wrapper {
      padding: 0 15px;
    }
    .box {
      display: none;
    }
    .content {
      display: block;
      padding: 32px 0 42px 0;
    }
  }
}