.restorePassword {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: linear-gradient(90.08deg, rgba(113, 0, 103, 0.95) 3.72%, rgba(207, 9, 62, 0.95) 122.63%);
  cursor: auto;
  .wrapper-restorePassword {
    max-width: 500px;
    margin: 76px auto 0 auto;
    .wrap-back {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .back {
        font-size: 15px;
        line-height: 140%;
        text-align: right;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        .btn {
          margin-right: 9px;
        }
      }
    }
    .close {
      display: flex;
      justify-content: flex-end;
      .close-icon {
        display: flex;
        padding: 10px 0 10px 10px;
        cursor: pointer;
      }
    }
    .title-restorePassword {
      font-weight: bold;
      font-size: 15px;
      line-height: 140%;
      color: #FFFFFF;
      padding-bottom: 15px;
      border-bottom: 1px solid #F3F2F0;
      margin-top: 57px;
    }
    .text-email {
      font-style: italic;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      margin-top: 15px;
      margin-bottom: 70px;
    }
  }
  @media (max-width: 550px) {
    .wrapper-restorePassword {
      max-width: 354px;
    }
  }
  @media (max-width: 410px) {
    .wrapper-restorePassword {
      max-width: 315px;
    }
  }
  @media (max-width: 374px) {
    .wrapper-restorePassword {
      max-width: 260px;
    }
  }
}