@import '../color';
@import 'components/more';
.Header {
  @import 'components/topHeader';
  @import 'components/bottomHeader';
  @import 'components/sidebar';
  .s {
    display: flex;
    justify-content: space-between;
  }
  .bg-search {
    background-color: $bg-search;
    padding: 0 15px;
    display: none;
  }

  .display-block {
    display: block;
  }
  .line-header {
    border: none;
    height: 1px;
    background: #AB4274;
  }


  .search-mobail {
    padding: 10px 0 11px 17px;
    letter-spacing: 0.07em;
    font-size: 13px;
    line-height: 15px;
    width: 960px;
  }
  .search-black-mobail {
    width: 30px;
    vertical-align: middle;
  }
  .card-search {
    display: flex;
    padding: 10px 42px 10px 1px;
  }
  .banner {

  }
  .wrap {
    margin-left: 10.33px;
  }
  .text p {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    /* or 16px */

    text-transform: capitalize;

    color: #3D3D3C;
  }
  .description {
    font-size: 12px;
    line-height: 12px;
    text-transform: capitalize;

    color: #3D3D3C;
  }
  .result {
    padding: 49px 0 58px 0;
    display: flex;
    justify-content: center;

  }
  .result a {
    font-size: 11px;
    line-height: 13px;

    letter-spacing: 0.05em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #3D3D3C;
  }
  @media (max-width: 1024px) {
    .line-header {
      display: none;
    }
  }

}


// временное решение (переделать)
.main-sub-category {
  padding: 0 !important;

  .sub-category-wrapper {
    padding: 12px 32px 12px 27px;
    border-bottom: 2px solid #F3F2F0;
    cursor: pointer;



    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 37px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      line-height: 15px;

      .sub-title {
        font-size: 11px;
        font-weight: normal;
        color: #777777;
      }
    }

    .sub-arrow {
      transform: rotate(90deg);
    }

    .arrow-transform-js {
      transform: rotate(270deg);
    }
  }

  .sub-category-wrapper:last-child {
    border-bottom: none;
  }
}






