.BackCall {
  -webkit-transform: translate3d(0,0,0);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: linear-gradient(90.08deg, rgba(113, 0, 103, 0.95) 3.72%, rgba(207, 9, 62, 0.95) 122.63%);
  cursor: auto;


  .wrapper-backCall {
    max-width: 500px;
    margin: 76px auto 0 auto;
    .close {
      display: flex;
      justify-content: flex-end;
    }
    .wrap-input {
      display: flex;
      flex-direction: column;
      margin-top: 73px;
      input[type="text"]::-moz-placeholder {color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::placeholder { color: rgba(255, 255, 255, 0.5); }
      input[type="text"]:focus::-moz-placeholder { color: #FFFFFF; }
      input[type="text"]:focus::-webkit-input-placeholder { color: #FFFFFF; }
      input[type="text"]:focus::-ms-input-placeholder { color: #FFFFFF; }
      input[type="text"]:focus::-ms-input-placeholder { color: #FFFFFF; }
      input[type="text"]:focus::placeholder { color: #FFFFFF; }
      input[type="text"] {
        color: #FFFFFF;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        &:focus {
          border-bottom: 1px dashed #FFFFFF;
        }
      }
    }

      .input-name {
        font-size: 14px;
        line-height: 16px;
        outline: none;
        height: 30px;
        background: transparent;
      }
    }
    .wrapper-phoneBackCall-btnCall {
      display: flex;
      flex-direction: column;
      align-items: center;
      .phoneBackCall {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 44px;
        margin-bottom: 38px;
        .wrapper-number-BackCall {
          margin-left: 6px;
          .number {
            font-size: 14px;
            line-height: 100%;
            text-align: center;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            text-decoration: none;
          }
        }
      }
    }
    .bottom-wrapperBackCall {
      display: flex;
      justify-content: space-between;
      margin-top: 55px;
      .leftBackCall,
      .rightBackCall {
        display: flex;
        align-items: start;
        .address {
          margin-left: 10px;
          font-size: 14px;
          line-height: 128%;
          color: #FFFFFF;
          a {
            text-decoration-line: underline;
            font-style: italic;
            color: rgba(255, 255, 255, 0.5);
            &:hover {
              color: rgba(255, 255, 255, 0.9);
            }
          }
        }
      }
      .rightBackCall {
        .address {
          margin-left: 7px;
        }
      }
    }
  @media (max-width: 550px) {
    .wrapper-backCall {
      max-width: 354px;
      .wrapper-phoneBackCall-btnCall {
        .phoneBackCall {
          justify-content: normal;
          align-items: start;
          .wrapper-number-BackCall {
            display: flex;
            flex-direction: column;
            align-items: start;
            .number {
            }
          }
        }
      }
      .bottom-wrapperBackCall {
        margin-top: 0;
        margin-left: 5px;
        flex-direction: column;
        .leftBackCall,
        .rightBackCall {
          .address {
            margin-bottom: 30px;
          }
        }
      }
      .wrapper-phoneBackCall-btnCall {
        align-items: start;
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 40px;

        .phoneBackCall {
          margin: 0;
        }
      }
    }
  }
  @media (max-width: 410px) {
    .wrapper-backCall {
      max-width: 315px;
    }
  }
  @media (max-width: 374px) {
    .wrapper-backCall {
      max-width: 260px;
    }
  }
}