.About-size-page {
  .wrapper-size-page {
    margin-bottom: 200px;
    .title-size-page {
      color: #AB064E;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 32px;
    }
  }
}
