@import '../color';
@import '../var';

.Shares-block {
  position: relative;
  z-index: 2;
  background: $bg-Blocks;
  color: $color-Blocks;

  .root {
    max-width: 1480px;
    margin: auto;
    padding: 52px 20px 55px 20px;
  }
  .slider-dots-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .main-title {
    margin-bottom: 52px;
  }

  .card {
    margin-right: 19px;
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    overflow: hidden;
    cursor: pointer;

    .sharesBlock-sale {
      position: relative;
      .Card-banner {
        width: 80px;
        font-size: 17px;
        padding: 4.2px;
        &.banner-bottom {
          margin-bottom: -13px;
        }
      }
    }
    .card-banner-wrapper {
      position: relative;
    }

    .img-wrapper {
      overflow: hidden;
      flex-shrink: 0;

    }
    .img {
      width: 100%;
      height: 280px;
      background-position: center;
      background-repeat: no-repeat;
      flex-shrink: 0;
      position: relative;
      background-size: cover;
      transition: 1s;
      transform: none;
      object-fit: cover;
      &:hover {
        transform: scale(1.1);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 22px 40px 0 0;
      height: 100%;
    }

    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: capitalize;
      margin-bottom: 6px;
    }

    .description {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-transform: capitalize;
      margin-bottom: 28px;
    }
  }

  .desktop {
    .card:last-child {
      margin-right: 0;
    }
  }

  .mobile {
    display: none;
    .card {
      margin-right: 0;
      .img {
        height: 230px;
      }
    }
    .shares-line {
      border-bottom: 2px dotted #777777;
      margin-top: 25px;
    }


  }

  .pointer-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
  }

  @media (max-width: $tablet-breakpoint) {
    .root {
      padding: 30px 15px 30px 15px;
    }
    .main-title {
      margin-bottom: 20px;
    }
    .card {
      margin-right: 16px;
      .img {
        height: 193px;
        &:hover {
          transform: none;
        }
      }
      .title {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 8px;
      }
    }

  }
  @media (max-width: $mobile-breakpoint) {
    .root {
      padding-top: 30px;
    }
    .card {
      margin-right: 15px;
      .img {
        height: 141px;
      }
      .sharesBlock-sale {
        position: relative;
      }
    }
  }
  @media (max-width: $with-767 ) {
    .root {
      background: $bg-phone-Blocks;
      padding: 16px 15px 0;
    }
    .mobile {
      display: block;

      .card {
        .info {
          background: $bg-phone-Blocks;
        }
        .sharesBlock-sale {
          position: static;
        }
      }
    }

    .desktop {
      display: none;
    }
  }
  @media (max-width: 415px) {
    .mobile {
      .card {
        .img {
          height: 230px;
        }
        .Button {
          display: none;
        }
      }

    }
    .pointer-wrapper {
      margin-top: -15px;
    }
  }

  @media (max-width: 320px) {
    .mobile {
      .card {
        .img {
          height: 174px;
        }
      }
    }
  }
}
