@import "../../color";
.basket-page {
    .desktop {
      display: block;
    }

    .mobile {
      display: none;
      .wrapper-basket-mobile {
        width: 100%;
        margin-bottom: 20px;
      }
      .wrapper-product {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        .img-product-wrapper-info {
          display: flex;
        }
        .img-product {
          width: 138px;
          height: 208px;
          margin-right: 15px;
        }
        .wrapper-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .wrapper-favorites {
            margin-bottom: 35px;
            .favoritesProduct {
              .img-like {
                width: 15px;
                height: 15px;
                background-size: contain;
              }
            }
          }
          .name-brand {
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            text-transform: capitalize;
          }
          .name-product {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 12px;
          }
          .selected-dimensions-product-mobile {
            .change-selected-dimensions {
              font-size: 13px;
              line-height: 18px;
              color: #777777;
              text-decoration: underline;
            }
          }
          .infoProduct {
            .infoType {
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
        .close {
          width: 10px;
          height: 10px;
        }
      }
      .wrapper-characteristics-good {
        display: flex;
        margin-bottom: 50px;
        .post1 {
          width: 20%;
        }
        .post2 {
          width: 40%;
        }
        .post3 {
          width: 40%;
        }
        .post1,
        .post2,
        .post3 {
          .col {
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            padding: 10px 0;
            border-top: 2px solid #D9D9D9;
            border-bottom: 2px solid #D9D9D9;
          }
          .size-col {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 68px;
            background-image: linear-gradient(to right, #777777 33%, rgba(255, 255, 255, 0) 0%);
            background-position: bottom;
            background-size: 4px 2px;
            background-repeat: repeat-x;
            .quantity {
              .quantity-number {
                margin: 0;
              }
              .input-count-number {
                max-width: 32px;
              }
            }
            .wrap-sum-pay {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              font-size: 14px;
              line-height: 15px;
              width: 95px;
              .wrapper-sale {
                display: flex;
                margin-bottom: 2px;
                .sale-sum {
                  color: $burgundy;
                  font-size: 12px;
                  line-height: 13px;
                  margin-left: 5px;
                }
              }
              .number-sum {
                font-weight: bold;
              }
              .sum {
                padding-bottom: 2px;
                border-bottom: 0.5px solid #B7B7B7;
                margin-bottom: 3px;
              }
            }

            &:last-child {
              background-image: none;
              border-bottom: 2px solid #D9D9D9;
            }
          }
        }
      }
    }

  .button-buy-arrange {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
    .continue-button,
    .arrange-button {
      padding: 8.5px 0;
      min-width: 167px;
      cursor: pointer;
      font-size: 15px;
      line-height: 17px;
      border-radius: 4px;
      text-align: center;
    }
    .continue-button {
      color: #3D3D3C;
      background: #FFFFFF;
      border: 1px solid #CDCDCD;
      &:hover {
        color: $burgundy;
        border: 1px solid $burgundy;
      }
    }
    .arrange-button {
      color: #FFFFFF;
      background: $burgundy;
      border: 1px solid $burgundy;
      outline: none;
      margin-left: 6px;
      &:hover {
        background: #C00A5A;
        border: 1px solid #C00A5A;
      }
    }
  }
    @media (max-width: 1024px) {
      margin-bottom: 190px;
    }
    @media (max-width: 767px) {
      .desktop {
        display: none;
      }

      .mobile {
        display: block;
      }
      .button-buy-arrange {
        flex-direction: column;
        .arrange-button {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }

