.basket-page {
    .desktop {
      display: block;
    }

    .mobile {
      display: none;
      table {
        width: 100%;
      }
      .wrapper-product {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        .img-product-wrapper-info {
          display: flex;
        }
        .img-product {
          width: 138px;
          height: 208px;
          margin-right: 15px;
        }
        .wrapper-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .wrapper-favorites {
            margin-bottom: 35px;
          }
          .name-brand {
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            text-transform: capitalize;
          }
          .name-product {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 12px;
          }
          .selected-dimensions-product-mobile {
            .change-selected-dimensions {
              font-size: 13px;
              line-height: 18px;
              color: #777777;
              text-decoration: underline;
            }
          }
          .infoProduct {
            .infoType {
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      .desktop {
        display: none;
      }

      .mobile {
        display: block;
      }
    }
  }

