.Basket {
  @import './components/sumMoneySale';
  @import './components/tableProductsBasket';
  @import './components/resultSumBasket';
  @import 'delivery';
  @import 'payment';
  @import 'basket';
}
