.Delivery-page {
  @import "../components/basketSteps";
  .basket-delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .basketDeliveryBlock {
      background: #F3F2F0;
      width: 32%;
      height: 346px;
      cursor: pointer;
      transition: .2s;
      border-bottom: 4px solid transparent;
      &:hover {
        background: #FFFFFF;
        border-bottom: 4px solid #AB064E;
      }
      //&.active {
      //  background: #FFFFFF;
      //  border-bottom: 4px solid #AB064E;
      //}
    }
  }
}