.Delivery-page {
  @import "./components/basketSteps";
  @import "./components/basketDeliveryBlocks";
  @import "./components/deliveryAdress";
  @import "./components/wrapPagination";
  @import "./components/leftColumnAddress.scss";
  @import "./components/imgCloseIcon";
  margin-bottom: 110px;
  .basket-delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .wrapper-sum-mobile {
    display: none;
    margin-bottom: 35px;
    .title {
      font-weight: bold;
      font-size: 15px;
      line-height: 17px;
      margin-bottom: 20px;
    }
    .Sum-money-sale {
      .title-sum {
        b {
          background: #f9f9f9;
        }
      }
    }
    .result {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      font-size: 18px;
      line-height: 18px;
      b {
        margin-left: 8px;
      }
    }
  }

  @media (max-width: 1024px) {
    margin-bottom: 210px;
  }
  @media (max-width: 767px) {
    .wrapper-sum-mobile {
      display: block;
    }
    .basket-delivery {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }
}