.Payment-page {
  @import "./components/basketSteps";
  @import "./components/basketDeliveryBlocks";
  @import "./components/deliveryAdress";
  @import "./components/wrapPagination";
  @import "./components/waysOfPayment";
  @import "./components/orderCommentPayment";
  margin-bottom: 110px;
  .Steps {
    .basket-steps {
      .pointer-grey {
        background-image: url("../images/icons/pointer.svg");
      }
      .icon-text {
        .pay-icon {
          background-image: url("../images/icons/pay-puple.svg");
        }
      }
    }
    .line-delivery {
      border: 2px solid #D9D9D9;
      margin-bottom: 20px;
    }
  }
  .basket-delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .basketDeliveryBlock {
      width: 24%;
      height: 250px;
    }
  }
  .delivery-address {
    .left-column {
      background: rgba(255, 255, 255, 0.6);
      border: 2px solid #F3F2F0;
      border-top: none;
      width: 49.5%;
      .comment {
        width: 100%;
        height: 84%;
        outline: none;
        border: none;
        padding: 30px 20px;
        font-size: 14px;
        resize: none;
      }
    }
  }
  .wrapper-sum-mobile {
    display: none;
    margin-bottom: 35px;
    .title {
      font-weight: bold;
      font-size: 15px;
      line-height: 17px;
      margin-bottom: 20px;
    }

    .result {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      font-size: 18px;
      line-height: 18px;
      b {
        margin-left: 8px;
      }
    }
  }
  @media (max-width: 1024px) {
    margin-bottom: 210px;
    .basket-delivery {
      .basketDeliveryBlock {
        height: 220px;
        .wrap {
          .choice {
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .basket-delivery {
      .basketDeliveryBlock {
        height: 279px;
      }
    }
  }
  @media (max-width: 767px) {
    .basket-delivery {
      display: none;
    }
    .delivery-address {
      .left-column {
        display: none;
      }
    }
    .wrapper-sum-mobile {
      display: block;
    }
  }
}