.wrapper-buyForMe {
  max-width: 1020px;
  margin: 76px auto;
  .wrap-title-buy {
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 15px;
    border-bottom: 1px solid #F3F2F0;
    margin-top: 57px;
  }
  .box-input {
    display: flex;
    justify-content: space-between;
  }
  .wrap-input {
    width: 500px;
    .password {
      width: 235px;
    }
    .password2 {
      width: 100%;
      position: relative;
      .password-control,
      .phone-control,
      .phone-arrow,
      .phone-arrow2 {
        position: absolute;
        top: 22px;
        display: inline-block;
        width: 20px;
        height: 20px;
      }
      .password-control,
      .phone-control {
        right: 10px;
      }
      .password-control {
        background: url("../images/icons/eyes.svg") center no-repeat;
      }
      .phone-control {
        background: url("../images/icons/russia.svg") center no-repeat;
      }
      .phone-arrow,
      .phone-arrow2 {
        background: url("../images/icons/arrow-back.svg") center no-repeat;
        transform: rotate(-90deg);
      }
      .phone-arrow {
        right: 35px;
      }
      .phone-arrow2 {
        right: 10px;
      }
    }
    .wrap-popup-phone {
      position: absolute;
      top: 462px;
      display: flex;
      flex-direction: column;
      z-index: 10;
    }
  }
  @media (max-width: 1090px) {
    max-width: 820px;
    .wrap-input {
      width: 400px;
      .password {
        width: 185px;
      }
      .password2 {
        width: 100%;
      }
    }
  }
  @media (max-width: 890px) {
    max-width: 500px;
    .wrap-input {
      width: 100%;
      .password {
        width: 235px;
      }
      .password2 {
        width: 100%;
      }
    }
    .box-input {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      margin-top: 10px;
    }
  }
  @media (max-width: 550px) {
    max-width: 354px;
    margin: 30px auto 30px auto;
    .wrap-input {
      .password {
        width: 100%;
      }
      .wrapper-password {
        flex-direction: column;
      }
    }
  }
  @media (max-width: 410px) {
    max-width: 315px;
  }
  @media (max-width: 374px) {
    max-width: 260px;
  }
}