.wrapper-buyForMe {
    max-width: 1020px;
    margin: 76px auto 0 auto;
    .wrap-back {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .back {
        font-size: 15px;
        line-height: 140%;
        text-align: right;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        .btn {
          margin-right: 9px;
        }
      }
    }
    .close {
      display: flex;
      justify-content: flex-end;
      .close-icon {
        display: flex;
        padding: 10px 0 10px 10px;
        cursor: pointer;
      }
    }
    .box-input {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }
    .wrap-input {
      display: flex;
      flex-direction: column;
      width: 500px;
      input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder{ color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-ms-input-placeholder,input[type="password"]::-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder{ color: rgba(255, 255, 255, 0.5); }
      input[type="text"]::placeholder, input[type="password"]::placeholder { color: rgba(255, 255, 255, 0.5); }
      input[type="text"]:focus::-moz-placeholder, input[type="password"]:focus::-moz-placeholder { color: #FFFFFF; }
      input[type="text"]:focus::-webkit-input-placeholder, input[type="password"]:focus::-webkit-input-placeholder{ color: #FFFFFF; }
      input[type="text"]:focus::-ms-input-placeholder, input[type="password"]:focus::-ms-input-placeholder { color: #FFFFFF; }
      input[type="text"]:focus::-ms-input-placeholder, input[type="password"]:focus::-ms-input-placeholder {color: #FFFFFF; }
      input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder { color: #FFFFFF; }

      input[type="text"],
      input[type="password"] {
        color: #FFFFFF;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        font-size: 14px;
        line-height: 16px;
        outline: none;
        height: 30px;
        background: transparent;
        width: 100%;
        margin-top: 18px;
        &:focus {
          border-bottom: 1px dashed #FFFFFF;
        }
      }
    }
    .wrapper-button {
      margin-top: 43px;
      margin-bottom: 44px;
    }
    @media (max-width: 1090px) {
      max-width: 820px;
      .wrap-input {
        width: 400px;
      }
    }
    @media (max-width: 890px) {
      max-width: 500px;
      .wrap-input {
        width: 100%;
      }
      .box-input {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        margin-top: 10px;
      }
    }
    @media (max-width: 550px) {
      max-width: 354px;
    }
    @media (max-width: 410px) {
      max-width: 315px;
    }
    @media (max-width: 374px) {
      max-width: 260px;
    }
  }