.wrapper-Popup {
  max-width: 500px;
  margin: 76px auto;
  .restore-input {
    .wrap-input {
      margin-top: 0;
      .input-name {
        margin: 0;
      }
    }
  }
  .wrapper-restore {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  .title-restorePassword {
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 15px;
    border-bottom: 1px solid #F3F2F0;
    margin-top: 57px;
  }

  .text-email {
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 70px;
  }

  .wrap-agree {
    margin-top: 28px;
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FFFFFF;

    .restore {
      font-style: italic;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: underline;
      margin-left: 6px;
      cursor: pointer;

      &:hover {
        color: #FFFFFF;
      }
    }
  }
  .wrapper-entry-button {
    display: flex;
    justify-content: center;
  }

  .wrap-registration {
    margin: 44px auto 44px auto;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
  }
  .sign-up {
    display: flex;
    .btnCall {
      margin-bottom: 0;
    }
  }
  .wrapper-phoneBackCall-btnCall {
    display: flex;
    flex-direction: column;
    align-items: center;

    .phoneBackCall {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 44px;
      margin-bottom: 38px;

      .wrapper-number-BackCall {
        margin-left: 6px;
        .number {
          font-size: 13px;
          line-height: 100%;
          text-align: center;
          letter-spacing: 0.05em;
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }
  }

  .bottom-wrapperBackCall {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

    .leftBackCall,
    .rightBackCall {
      display: flex;
      align-items: start;
      .address {
        margin-left: 10px;
        font-size: 13px;
        line-height: 128%;
        color: #FFFFFF;
        a {
          text-decoration-line: underline;
          font-style: italic;
          color: rgba(255, 255, 255, 0.5);
          &:hover {
            color: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }

    .rightBackCall {
      .address {
        margin-left: 7px;
      }
    }
  }
  @media (max-width: 550px) {
    max-width: 354px;
    margin: 30px auto 30px auto;
    .wrap-input {
      margin-top: 0;
    }
    .wrapper-phoneBackCall-btnCall {
      align-items: start;
      flex-direction: column-reverse;
      margin-top: 24px;
      .phoneBackCall {
        justify-content: normal;
        align-items: start;
        margin-bottom: 33px;
        .wrapper-number-BackCall {
          display: flex;
          flex-direction: column;
          align-items: start;
        }
      }
    }
    .bottom-wrapperBackCall {
      margin-top: 0;
      margin-left: 5px;
      flex-direction: column;
      .leftBackCall,
      .rightBackCall {
        .address {
          margin-bottom: 30px;
        }
      }
      .rightBackCall {
        .address {
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 410px) {
    max-width: 315px;
  }
  @media (max-width: 374px) {
    max-width: 260px;
    .wrapper-phoneBackCall-btnCall {
      margin-top: 20px;
      .phoneBackCall {
        margin-bottom: 25px;
        margin-top: 45px;
      }
    }
    .bottom-wrapperBackCall {
      .leftBackCall {
        .address {
          margin-bottom: 20px;
        }
      }
    }
  }
}
//problem
.wrapper-phoneBackCall-btnCall {
    display: flex;
    flex-direction: column;
    align-items: center;
}



