.wrapper-Entry {
  max-width: 500px;
  margin: 76px auto 76px auto;
  .wrap-input {
    margin-top: 73px;
  }
  .restore-input {
    margin-bottom: 60px;
    .wrap-input {
      margin-top: 52px;
    }
  }
  .title-restorePassword {
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 15px;
    border-bottom: 1px solid #F3F2F0;
    margin-top: 57px;
  }
  .text-email {
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 70px;
  }

  .wrap-agree {
    margin-top: 48px;
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    .restore {
      font-style: italic;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: underline;
      margin-left: 6px;
      cursor: pointer;
      &:hover {
        color: #FFFFFF;
      }
    }
  }

  .wrap-registration {
    margin: 44px auto 0 auto;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    .sign-up {
      font-style: italic;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: #FFFFFF;
      }
    }
  }

  @media (max-width: 550px) {
      max-width: 354px;
  }
  @media (max-width: 410px) {
      max-width: 315px;
  }
  @media (max-width: 374px) {
      max-width: 260px;
  }
}
//problem
.wrapper-phoneBackCall-btnCall {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



