.wrap-back {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .back {
        font-size: 15px;
        line-height: 140%;
        text-align: right;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        .btn {
          margin-right: 9px;
        }
      }
    }
    .close {
      display: flex;
      justify-content: flex-end;
      .close-icon {
        display: flex;
        padding: 10px 0 10px 10px;
        cursor: pointer;
      }
    }
    .title-restorePassword {
      font-weight: bold;
      font-size: 15px;
      line-height: 140%;
      color: #FFFFFF;
      padding-bottom: 15px;
      border-bottom: 1px solid #F3F2F0;
      margin-top: 57px;
    }
    .text-email {
      font-style: italic;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
      margin-top: 15px;
      margin-bottom: 70px;
    }
