.anotherColor {
  .wrapper-title-dots {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
  }
  .title {
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
  }
}