@import "../../color";
.attention {
  .button-attention {
    .Button-product {
      text-decoration-line: none;
      .text {
        background-color: $burgundy;
      }
    }
  }
  .text-attention {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.03em;
    border-bottom: 1px solid $burgundy;
    border-top: 1px solid $burgundy;
    padding: 12px 0;
  }
}


