.attention {
  .button-attention {
    .ButtonProduct {
      text-decoration-line: none;
      .text {
        background-color: #AB064E;
      }
    }
  }
  .text-attention {
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #3D3D3C;
    border-bottom: 1px solid #AB064E;
    border-top: 1px solid #AB064E;
    padding: 12px 0;
  }
}


