@import "../../color";
.view-photos-block {
  width: 124px;
  height: 695px;
  background: $color-555555;
  padding: 5px 6px;

  .button {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 120%;
    background: rgba(61, 61, 60, 0.4);
    z-index: 2;
    height: 30px;
    left: -10%;
    cursor: pointer;
    display: none;
    .arrow {
      background-image: url("../images/icons/arrow-slider.svg");
      background-repeat: no-repeat;
      width: 17px;
      height: 9px;
    }
    &.button-prev {
      top: 0;
    }
    &.button-next {
      bottom: 0;

      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  &:hover {
    .button {
      display: flex;
    }
  }
}