@import '../../color';
.dop-info {
  .dop-info-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    .first-col {
      width: 48.5%;
    }
    .second-col {
      width: 48.5%;
    }
  }
  .common-dop-info {
    border-bottom: 1px dotted $color-777777;
    padding: 10px 0;
    .dop-info-inform,
    .dop-info-title {
      font-size: 14px;
      line-height: 20px;
    }
    .dop-info-title {
      font-weight: bold;
    }
    .dop-info-inform {
      font-weight: normal;
    }
  }

  &.show-info {
    .dop-info-items {
      display: flex;
      border-bottom: 1px solid $color-D9D9D9;
    }
    .title-product-page {
      border-bottom: 1px solid $burgundy;
      .arrow {
        transform: rotate(-90deg);
      }
    }
  }
  @media (max-width: 1024px) {
    .dop-info-items {
      display: none;
    }
    .title-product-page {
      border-bottom: 1px solid $color-D9D9D9;
    }
  }
  @media (max-width: 1023px) {
    .dop-info-items {
      flex-direction: column;
      .first-col {
        width: 100%;
      }
      .second-col {
        width: 100%;
      }
    }
  }
}
