.favoritesProduct {
  display: flex;
  align-items: center;
  cursor: pointer;
  .text {
    margin-right: 9px;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    border-bottom: 0.5px dashed #777777;
    min-width: 83px;
  }
}