.favoritesProduct {
  cursor: pointer;
  display: flex;
  align-items: center;
  .img-like {
    background-image: url("../images/icons/iconLike.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    //&:hover {
    //  background-image: url("../images/icons/iconLike-2.svg");
    //}
  }
  .text {
    margin-right: 9px;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    border-bottom: 0.5px dashed #777777;
    min-width: 83px;
    &:hover {
      color: #AB064E;
      border-bottom: 0.5px dashed #AB064E;
    }
  }

  &.favorite-product-active {
    .img-like {
      background-image: url("../images/icons/iconLike-2.svg");
    }
  }
  @media (max-width: 1024px) {
    .text {
      display: none;
    }
  }
}