.favoritesProduct {
  cursor: pointer;
  display: flex;
  align-items: center;
  .img-like {
    background-image: url("../images/icons/iconLike.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    //&:hover {
    //  background-image: url("../images/icons/iconLike-2.svg");
    //}
  }


  &.favorite-product-active {
    .img-like {
      background-image: url("../images/icons/iconLike-2.svg");
    }
  }
}