.favoritesProduct {
  cursor: pointer;
  .img-like {
    background-image: url("../images/icons/iconLike.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    &:hover {
      background-image: url("../images/icons/iconLike-2.svg");
    }
  }
}