.first-box {
  //background: #F3F2F0;
  padding: 46px 43px 45px 44px;
  display: flex;
  justify-content: space-between;
  .rating {
    .number,
    .comment {
      font-weight: bold;
      line-height: 106.8%;
      color: #3D3D3C;
      text-align: center;
    }
    .wrap-star {
      margin-top: 13px;
      margin-bottom: 16px;
      .rating-result {
        width: 127px;
      }
    }
    .number {
      font-size: 69.0811px;
    }
    .comment {
      font-size: 14px;
    }
  }
  .percent {
    width: 321px;

    .wrap-percent {
      display: flex;
      flex-direction: column-reverse;
      .lines {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
        &:first-child {
          margin-bottom: 0;
        }
        .first,
        .third {
          font-size: 16px;
          line-height: 106.8%;
          color: #3D3D3C;
        }
        .first {
          font-weight: bold;
        }
        .third {
          font-weight: normal;
          width: 41px;
          display: flex;
          justify-content: start;
        }
        .progress-bar {
          width: 232px;
          height: 8px;
          background-color: #B2B2B2;
          .progress-bar-fill {
            display: block;
            height: 8px;
            width: 232px;
            background-color: #AB064E;
          }
        }
      }
    }
    @media (max-width: 1300px) {
      width: 301px;
      .wrap-percent {
        .lines {
          .progress-bar {
            width: 212px;
            .progress-bar-fill {
              width: 212px;
            }
          }
        }
      }
    }
    @media (max-width: 1023px) {
      width: 211px;
      .wrap-percent {
        .lines {
          .progress-bar {
            width: 147px;
            .progress-bar-fill {
              width: 147px;
            }
          }
          .first,
          .third {
            font-size: 12px;
          }
        }
      }
    }
    @media (max-width: 374px) {
      width: 180px;
      .wrap-percent {
        .lines {
          .progress-bar {
            width: 120px;
            .progress-bar-fill {
              width: 120px;
            }
          }
          .first,
          .third {
            font-size: 10px;
          }
        }
      }
    }
  }
  @media (max-width: 1300px) {
    padding: 46px 20px 45px 27px;
  }
  @media (max-width: 1023px) {
    padding: 30.5px 28.5px 31px 19.5px;
    .rating {
      .wrap-star {
        .rating-result {
          width: 91px;
          min-height: 13px;
          span {
            width: 14px;
            height: 13px;
          }
        }
      }
      .number {
        font-size: 49px;
      }
      .comment {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 400px) {
    padding: 30.5px 13.5px 31px 13.5px;
  }
  @media (max-width: 374px) {
    padding: 27px 9px 25px 9px;
    .rating {
      .wrap-star {
        margin-top: 13px;
        margin-bottom: 16px;
        .rating-result {
          width: 76px;
          min-height: 11px;
          span {
            width: 12px;
            height: 11px;
          }
        }
      }
      .number {
        font-size: 41px;
      }
      .comment {
        font-size: 10px;
      }
    }
  }
}