.form {
  background: #F3F2F0;
  .review-and-question {
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    color: #3D3D3C;
    padding: 9px 20px;
    background: #F3F2F0;
    border-bottom: 1px solid #FFFFFF;
  }
  .form-wrapper {
    padding: 22px 20px 55px 20px;
  }
  .name {
    margin-bottom: 21px;
    padding-bottom: 9px;
    padding-top: 9px;
  }
  input[type='text'] {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    &:active {
      border: 1px solid #C4C4C4;
    }
    &:hover {
      border: 1px solid #C4C4C4;
    }
    &:checked {
      border: 1px solid #C4C4C4;
    }
  }
  .appraisal {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    .title {
      margin-right: 15px;
    }
  }
  .wrapper-size {
    margin-bottom: 30px;
    .input-size {
      margin-bottom: 20px;
      padding-bottom: 9px;
      padding-top: 9px;
    }
  }
  .button-question {
    padding-bottom: 62px;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .click {
    background: #FFFFFF;
    border: 1px dashed #E0E0DE;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 62px;
  }
  label {
    cursor: pointer;
  }
  input[type="file"] {
    display: none;
  }
  .photos-upload {
    .cloud {
      display: flex;
      width: 100%;
      padding: 10px 13px 46px 13px;
      text-align: left;
      font-size: 14px;
      line-height: 16px;
      color: #777777;
      background: #FFFFFF;
      border: 1px dashed #E0E0DE;
      box-sizing: border-box;
      border-radius: 4px;
      max-height: 90px;
    }
    .img {
      margin-right: 8px;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
    }
  }
  .wrapper-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    .cancel,
    .send {
      padding: 8.5px 0;
      min-width: 165px;
      cursor: pointer;
      font-size: 15px;
      line-height: 17px;
    }
    .cancel {
      color: #3D3D3C;
      background: #FFFFFF;
      border: 1px solid #CDCDCD;
      border-radius: 4px 0 0 4px;
      &:hover {
        color: #AB064E;
      }
    }
    .send {
      color: #FFFFFF;
      background: #AB064E;
      border-radius: 0 4px 4px 0;
      border: 1px solid #AB064E;
      outline: none;
      &:hover {
        color: #3D3D3C;
        background: #FFFFFF;
      }
    }
  }
  .checkbox {
    display: flex;
    .size {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .input {
        margin-right: 10px;
      }
    }
    input[type="radio"]:checked,
    input[type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label {
      display: inline-block;
      position: relative;
      padding-left: 26px;
      line-height: 16px;
      cursor: pointer;
    }

    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      border: 1px solid #C4C4C4;
      background-color: #ffffff;
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after, {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after {
      left: 4px;
      top: 4px;
      width: 7px;
      height: 3px;
      border-left: 2px solid #555555;
      border-bottom: 2px solid #555555;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    input[type="radio"]:not(:checked) + label:after {
      opacity: 0;
    }

    input[type="radio"]:checked + label:after {
      opacity: 1;
    }
  }
  @media (max-width: 1023px) {
    .checkbox {
      flex-direction: column;
      .size {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    .wrapper-button {
      .cancel,
      .send {
        min-width: 171px;
      }
    }
  }
  @media (max-width: 410px) {
    .wrapper-button {
      .cancel,
      .send {
        min-width: 152px;
      }
    }
  }
  @media (max-width: 374px) {
    .wrapper-button {
      .cancel,
      .send {
        min-width: 125.5px;
      }
    }
  }
}