.Gratitude {
  background: #F3F2F0;
  padding: 81px 0 38px 0;
  margin-bottom: 40px;
  .text {
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 65px;
  }
  .button-write-feedback {
    margin-bottom: 0;
  }
}