.view-big-photos-popup-block {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

  &.block {
    display: flex;
  }

  .paranja {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .wrapper-slider {
    height: 100%;
  }

  .content {
    position: relative;
    width: 90%;
    margin: 0 60px;
    padding: 20px;
    //background: #fff;
    height: 90vh;
  }

  .test {
    //background: #fff;
    width: 100%;
    height: 100%;

  }
  .popup-photo {
    height: 100%;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-button {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 30px;
    height: 30px;
    background: url("../images/icons/arrow3.svg") no-repeat;
    background-size: contain;
    cursor: pointer;
    &:hover {
      width: 30px;
      height: 30px;
      background: url("../images/icons/arrow4.svg") no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
  .button-next {
    right: 0;
    outline: none;
  }

  .button-prev {
    left: 0;
    transform: rotate(180deg);
    outline: none;
  }
  .swiper-button-disabled {
    width: 30px;
    height: 30px;
    background: url("../images/icons/arrow5.svg") no-repeat;
    background-size: contain;
    cursor: default;
    &:hover {
      background: url("../images/icons/arrow5.svg") no-repeat;
      width: 30px;
      height: 30px;
      background-size: contain;
      cursor: default;
    }
  }

  .close-popup {
    position: absolute;
    top: 2%;
    right: 2%;
    background: url("../images/icons/close_popup.svg") no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
  }
}