.price {
  .Price-content {
    padding: 0;
    background: none;
    .action {
      .old-price {
        color: #777777;
      }
      .new-price {
        margin-left: 7.45px;
      }
      .old-price,
      .new-price {
        font-size: 16.3955px;
        line-height: 106.8%;
      }
    }
    .sale-price {
      .price {
        font-size: 19.3765px;
        line-height: 106.8%;
      }
      .ButtonSale {
        font-size: 14px;
        line-height: 18px;
        border-radius: 1.4905px;
      }
    }
  }
}