.product-description {
  @import "src/styles/common/price";
  padding-top: 47px;
  background: #ffffff;
  padding-left: 143px;
  padding-right: 119px;
  max-width: 854px;
  margin-bottom: 5px;

  .first-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .right-wrap {
      display: flex;
      .wrapper-button-new {
        margin-right: 12px;
      }
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
  }
  .social {
    display: flex;
  }
  .wrapper-another-color {
    margin-bottom: 35px;
    margin-top: 40px;
  }
  .wrapper-attention {
    margin-bottom: 50px;
    margin-top: 8px;
  }


  @media (max-width: 1300px) {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 533px;
  }
  @media (max-width: 1024px) {
    padding-top: 20px;
    .wrapper-attention {
      margin-bottom: 40px;
    }
  }



  @media (max-width: 1023px) {
   max-width: 384px;
    .info {
      flex-direction: column;
      align-items: normal;
      .info-1 {
        margin-bottom: 50px;
      }
    }
  }
  @media (max-width: 767px) {
    margin: auto;
    max-width: 100%;
    padding-top: 0;
    .first-line {
      margin-top: 26px;
      .right-wrap {
        .wrapper-button-new {
          display: none;
        }
      }
    }
  }

}