.product-description {
  @import "price";
  max-width: 588px;
  margin: 0 auto;
  .first-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .right-wrap {
      display: flex;
      .wrapper-button-new {
        margin-right: 12px;
      }
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
  }
  .social {
    display: flex;
  }
  .wrapper-another-color {
    margin-bottom: 35px;
    margin-top: 40px;
  }
  .wrapper-attention {
    margin-bottom: 50px;
  }
  .wrapper-dop-info {
    margin-top: 55px;
    margin-bottom: 40px;
  }
  @media (max-width: 1300px) {
    max-width: 533px;
  }
  @media (max-width: 1023px) {
    max-width: 384px;
    .info {
      flex-direction: column;
      align-items: normal;
      .info-1 {
        margin-bottom: 50px;
      }
    }
  }
  @media (max-width: 767px) {
    max-width: 737px;
    .first-line {
      .right-wrap {
        .wrapper-button-new {
          display: none;
        }
      }
    }
  }
}