.second-box {
  padding: 30px 39px 50px 43px;
  display: flex;
  justify-content: space-between;
  .circle2 {
    border: 8px solid #B2B2B2;
    border-radius: 50%;
    height: 135px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 106.8%;
    color: #3D3D3C;
  }
  .text {
    font-weight: bold;
    font-size: 14px;
    line-height: 106.8%;
    color: #3D3D3C;
    text-align: center;
    margin-top: 18px;
  }

  .circle{
    position: relative;
    top: 8px;
    left: 8px;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 106.8%;
    color: #3D3D3C;
  }

  .active-border{
    position: relative;
    text-align: center;
    height: 135px;
    width: 135px;
    border-radius: 100%;

    background-color:#B2B2B2;
    background-image:
      linear-gradient(180deg, transparent 50%, #AB064E 50%),
      linear-gradient(270deg, #AB064E 50%, transparent 50%);
  }
  @media (max-width: 1023px) {
    padding: 25px 18px 32px 18px;
    .circle2 {
      height: 90px;
      width: 90px;
      font-size: 18px;
    }
    .text {
      font-size: 12px;
    }
    .circle {
      top: 7px;
      left: 7px;
      height: 76px;
      width: 76px;
      font-size: 18px;
    }
    .active-border {
      height: 90px;
      width: 90px;
    }
  }
  @media (max-width: 400px) {
    padding: 30px 9px 50px 9px;
  }
  @media (max-width: 374px) {
    padding: 24px 7px 30px 7px;
    .circle2 {
      height: 76px;
      width: 76px;
      font-size: 15px;
    }
    .text {
      font-size: 10px;
    }
    .circle {
      top: 7px;
      left: 7px;
      height: 62px;
      width: 62px;
      font-size: 15px;
    }
    .active-border {
      height: 76px;
      width: 76px;
    }
  }
}