.rating-area {
  max-height: 18px;
  width: 135px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: hidden;

  &:not(:checked) > input {
    display: none;
  }

  &:not(:checked) > label {
    float: right;
    display: block;
    cursor: pointer;
    width: 19px;
    height: 18px;
    background: url("../images/icons/star_empty.svg") no-repeat;
  }

  & > input:checked ~ label {
    background: url("../images/icons/star.svg") no-repeat;
  }

  &:not(:checked) > label:hover,
  &:not(:checked) > label:hover ~ label {
    background: url("../images/icons/star.svg") no-repeat;
  }

  & > input:checked + label:hover,
  & > input:checked + label:hover ~ label,
  & > input:checked ~ label:hover,
  & > input:checked ~ label:hover ~ label,
  & > label:hover ~ input:checked ~ label {
    background: url("../images/icons/star.svg") no-repeat;
  }
}

.rating-result {
  min-height: 18px;
  width: 135px;
  display: flex;
  justify-content: space-between;

  span {
    width: 19px;
    height: 18px;
  }

  .active {
    background: url("../images/icons/star.svg") no-repeat;
    background-size: contain;
  }

  .inactive {
    background: url("../images/icons/star_empty.svg") no-repeat;
    background-size: contain;
  }
}



