.rating-area {
  max-height: 18px;
  overflow: hidden;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 19px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  color: lightgrey;
  margin-right: 5px;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: #FF9900;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #FF9900;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #FF9900;
}
.rate-area > label:active {
  position: relative;
}
.rating-result {
  max-height: 18px;
}
.rating-result span {
  padding: 0;
  font-size: 18px;
  margin-right: 5px;
  line-height: 1;
  color: lightgrey;
}
.rating-result > span:before {
  content: '★';
}
.rating-result > span.active {
  color: #FF9900;
}
@media (max-width: 320px) {
  .rating-area:not(:checked) > label {
    margin-right: 5px;
  }
}