.rating-area {
  max-height: 18px;
  overflow: hidden;
  unicode-bidi: bidi-override;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 25px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;
  color: lightgrey;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: #FF9900;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #FF9900;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #FF9900;
}
.rate-area > label:active {
  position: relative;
}
.rating-result {
  min-height: 20px;
  unicode-bidi: bidi-override;
}
.rating-result span {
  padding: 0;
  font-size: 19px;
  line-height: 100%;
  color: lightgrey;
}
.rating-result > span:before {
  content: '★';
}
.rating-result > span.active {
  color: #FF9900;
}

