@import "../../color";
.view-big-photos-block {
  width: 462px;
  height: 2799px;
  .img-slide {
    position: relative;
    overflow: hidden;

    .main-img {
      height: auto;
      width: 100%;
    }
  }

  .test-move:hover {
    border: .5px solid $color-555555;
    .main-img {
      opacity: 0;
    }

    .zoom-img-wrapper {
      opacity: 1;
      cursor: zoom-in;
    }
  }

  .zoom-img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    img {
      position: relative;
      height: 1500px;
      width: auto;
    }
  }
  .button {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 0;
    background: rgba(61, 61, 60, 0.1);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;

    .arrow {
      background-image: url("../images/icons/arrow-slider.svg");
      background-repeat: no-repeat;
      width: 17px;
      height: 9px;
    }

    &.button-prev {
      top: 0;
    }

    &.button-next {
      top: 649px;

      .arrow {
        transform: rotate(180deg);
      }
    }

    &:hover {
      cursor: pointer;
      background: rgba(61, 61, 60, 0.2);
    }

    @media (max-width: 1300px) {
      &.button-next {
        top: 448px;
      }
    }
    @media (max-width: 1023px) {
      &.button-next {
        top: 328px;
      }
    }
  }
}
