.transitionBrand {
  a {
    text-decoration: none;
  }
  .brand,
  .category {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
  }
  .brand a {
    color: #3D3D3C;
    margin-right: 8px;
  }
  .category a{
    color: #777777;
  }
}

.goodStock {
  margin-top: 5px;
  margin-bottom: 15px;
  .stock {
    font-size: 14px;
    line-height: 140%;
    color: #3D3D3C;
  }
}