.View-photos-block {
  @import './auxiliaryPhotosBlock';
  @import "./topPhotosBlock";

  display: flex;

  @media (max-width: 1300px) {
    .view-photos-block {
      width: 89px;
      height: 501px;
    }

    .view-big-photos-block {
      width: 331px;
      height: 2000px;
    }
  }
  @media (max-width: 1023px) {
    .view-photos-block {
      width: 67px;
      height: 376px;
    }

    .view-big-photos-block {
      width: 251px;
      height: 1520px;
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.View-photos-block-mobile {
  display: none;
  .pointer-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
  }
  .slider-pointer {
    justify-content: flex-end;
    margin-top: 22px;
  }
  @media (max-width: 767px) {
    display: block;
  }
}