.View-photos-block {
  @import 'auxiliaryPhotosBlock';
  @import 'topPhotosBlock';

  display: flex;

  @media (max-width: 1300px) {
    .view-photos-block {
      width: 89px;
      height: 495px;
    }

    .view-big-photos-block {
      width: 331px;
      height: 2000px;
    }
  }
  @media (max-width: 1023px) {
    .view-photos-block {
      width: 67px;
      height: 375px;
    }

    .view-big-photos-block {
      width: 251px;
      height: 1520px;
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.View-photos-block-mobile {
  display: none;
  .photosMobile-mobile {
    position: absolute;
    bottom: 0;
  }
  .pointer-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
  }
  .slider-pointer {
    justify-content: flex-end;
    margin-top: 22px;
  }
  @media (max-width: 767px) {
    display: block;
  }
  @media (max-width: 414px) {
    margin-right: -15px;
    .slider-pointer {
      padding-right: 15px;
    }
  }
  @media (max-width: 320px) {
    margin-right: 0;
    .slider-pointer {
      padding-right: 0;
    }
  }
}
