.wrapper-reviews {
  padding-bottom: 20px;
  .nameClient {
    display: flex;
    border-bottom: 2px dotted #777777;
    padding-bottom: 10px;
    .name,
    .data {
      font-size: 15px;
      line-height: 140%;
    }
    .name {
      font-weight: bold;
      color: #3D3D3C;
      margin-right: 7px;
    }
    .data {
      color: #777777;
    }
  }
  .wrap {
    margin-top: 12px;
    margin-bottom: 1px;
  }
  .size-text {
    display: flex;
    font-size: 15px;
    line-height: 140%;
    .size {
      color: #3D3D3C;
      margin-right: 5px;
    }
    .text {
      color: #009295;
    }
  }
  .description {
    font-size: 14px;
    line-height: 140%;
    color: #3D3D3C;
    margin-top: 15px;
  }
  .photo {
    margin-top: 20px;
  }
}